{{#if (eq type "request")}}
	<div class="u-p2">
		{{#link-to 'requests.detail' dataset.id}}<h5 class="u-mb1" alt="request title">{{truncate dataset.title 55}}</h5>{{/link-to}}
		{{from-label model=dataset isRequest=true isFavourite=isFavourite}}
		{{stats-list stats=dataset.stats statType="datasets"}}
	</div>
{{else}}	<!-- Dataset or Registration -->
	<div class="u-p2">
    {{#link-to 'datasets.detail' dataset.id}}<h5 class="u-mb1" alt="dataset title">{{truncate dataset.title 55}}</h5>{{/link-to}}
		{{from-label model=dataset isFavourite=isFavourite}}
		{{stats-list stats=dataset.stats access=dataset.access statType="datasets"}}
	</div>
{{/if}}
