	{{#if (eq type "request")}}
		{{#link-to 'requests.detail' dataset.id}}<h5 class="u-mb1 u-fs2 u-fw-med u-tc-primary" alt="request title">{{truncate dataset.title 55}}</h5>{{/link-to}}
	{{else if (or (eq group "discussion") (eq group "contribution"))}}
		{{#link-to 'datasets.detail' dataset.actionableId.id}}<h5 class="u-mb1 u-fs2 u-fw-med u-tc-primary" alt="request title">{{truncate dataset.actionableId.id 55}}</h5>{{/link-to}}
	{{else}}
		{{#link-to 'datasets.detail' dataset.id}}<h5 class="u-mb1 u-fs2 u-fw-med u-tc-primary" alt="dataset title">{{truncate dataset.title 55}}</h5>{{/link-to}}
	{{/if}}
	{{from-label model=dataset type=type}}

	{{stats-list access=dataset.access stats=dataset.stats statType="datasets" class="u-tc-tertiary"}}
