<img src={{avatar}} class="u-w1 u-mr1">
<div class="input-field">
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    showCommentButtons=(action 'showButtons')
    disabled=disabled
  }}
  {{#if isActive}}
    <div class="">
      <button {{action 'addComment'}} class="c-btn c-btn-primary u-mr2">{{fa-icon "check"}}</button>
      <a {{action 'cancel'}} class="">cancel</a>
    </div>
  {{/if}}
</div>
