<div class="input-container">

  {{#if isOpen}}
    <form {{action "addTag" on="submit"}}>
      <div class="input-field">
        {{input value=tag type="text" placeholder="Enter tag name" class="col m5 input-tag"}}
        <button class="btn post-btn no-margin teal white-text" type="submit">{{fa-icon "check"}}</button>
        <a {{action "toggleInput"}} class="grey-text cancel-btn">cancel</a>
      </div>
    </form>
  {{else}}
    <div class="input-field">
      <span class="sub-grey tag-button grey-text" {{action "toggleInput"}}>Add a new tag</span>
    </div>
  {{/if}}

  {{#if top-lbl}}
    <div class="top-label">{{top-lbl}} </div>
  {{/if}}

</div>
