{{#if isInputOpen}}
  {{input placeholder="Add an attribute" value=attrbiuteValue}}
  {{async-button
    class="c-btn c-btn-primary"
    action=(action 'addAttribute')
    default="Add"
    pending="..."
  }}
{{else}}
  <span class="u-flex u-justify-between u-tc-tertiary u-hv-tc-secondary u-cursor-pointer">
    Add {{group}} {{fa-icon 'plus-circle' class='u-fs2' click=(action 'openAttrInput')}}
  </span>
{{/if}}
