<img src={{avatar}} class="u-w1">
<div class="input-field">
  {{validated-input
    type="textarea"
    value=comment
    placeholder=placeholder
    action="showButtons"
    disabled=disabled
  }}
  {{#if isActive}}
    <div class="buttons">
      <button {{action 'addComment'}} class="">{{fa-icon "check"}}</button>
      <a {{action 'cancel'}} class="">cancel</a>
    </div>
  {{/if}}
</div>
