{{#unless inEditMode}}
  <div class="u-flex u-justify-between">
    {{#if (eq attribute.key 'pmid')}}
      <a target="_blank"
        href="https://www.ncbi.nlm.nih.gov/pubmed/{{attribute.value}}"
        class="u-fs2 u-tc-secondary u-hv-tc-primary u-td-underline"
        {{action 'trackPubmedClick'}}
        >
        {{attribute.value}}
      </a>
    {{else}}
      <p class="t-attr-item-text u-fs2 u-mb1 u-line-break">{{attribute.value}}</p>
    {{/if}}
    {{#if canEdit}}
      <div>
      {{fa-icon 'pencil' class='u-tc-tertiary u-hv-tc-secondary u-cursor-pointer u-fs2 u-mr1' click=(action 'enterEditMode')}}
      {{fa-icon 'trash-o' class='u-tc-tertiary u-hv-tc-secondary u-cursor-pointer u-fs2' click=(action 'deleteAttr')}}
      </div>
    {{/if}}
  </div>
{{else}}
  <form>
    {{validated-input
      errors=validations.attrs.attributeValue.messages
      noLabel=true
      type="text"
      value=value
    }}
    {{async-button
      class="c-btn c-btn-primary u-mr2 u-mb1"
      action=(action 'save')
      default="Save"
      disableWhen=(or (not isUnique) (not validations.isValid))
      pending="Saving..."
    }}
    <button class="c-btn c-btn-text-secondary" {{action 'cancelEditMode'}}>Cancel</button>
  </form>
{{/unless}}
