{{#each-in groups as |group attrs|}}
  <div class="u-mb2">
    <div class="grid__col  u-mb1 grid__col--1-of-3 grid__col--m-1-of-3 grid__col--s-1-of-3">
      <h3 class="u-fw-reg u-fs2 u-mb0 u-tc-tertiary">
        {{#if (eq group 'pmid')}} Pubmed ID {{else}} {{capitalize group}} {{/if}}
      </h3>
    </div>
    <div class="grid__col grid__col--2-of-3 grid__col--m-2-of-3 grid__col--s-2-of-3">
      {{#each attrs as |attr|}}
        {{attribute-list-item attribute=attr attributesForKey=attrs}}
      {{/each}}
      {{#if (eq openInput group)}}
        {{add-attribute
          addAttribute=addAttribute
          closeInput=(action 'closeInput')
          group=group
          attributesForKey=attrs
        }}
      {{else}}
        {{#unless (and (contains group singleValueAttrs) (gt attrs.length 0))}}
          <span {{action 'setOpenInput' group}} class="t-add-trigger u-flex u-justify-between u-items-center u-td-underline u-tc-tertiary u-hv-tc-secondary u-cursor-pointer">
            Add {{#if (eq group 'pmid')}} Pubmed ID {{else}}{{capitalize group}}{{/if}}
          </span>
        {{/unless}}
      {{/if}}
    </div>
  </div>
{{/each-in}}
