<footer class="card-footer">
  <ul>
    {{#if model.access}}
      {{#if (eq model.access "open")}}
        <li>
          <i
            class="fa fa-globe color-fruit-salad-text"
            title="Public"></i>
          <span class="color-fruit-salad-text u-cursor-default">
            {{model.access}}
          </span>
        </li>
        {{/if}}

        {{#if (eq model.access "restricted")}}
        <li>
          <i
            class="fa fa-lock"
            title="Access application needed"></i>
          <span class="u-cursor-default">
            {{model.access}}
          </span>
        </li>
      {{/if}}
    {{/if}}

    {{#if model.count}}
      <li>
        {{fa-icon "eye"}}<span>{{model.count}}</span>
      </li>
    {{/if}}

    {{#if model.comments}}
      <li>{{fa-icon "comments"}}<span>{{model.comments.length}}</span></li>
    {{/if}}
  </ul>
</footer>
