<section class="content collections-tabs">

  <div class="card">
    <ul class="tabs">
      <li class="tab">
        {{#if (eq active "collections")}}
          {{#link-to "collections" class="active"}}
            {{fa-icon "book"}}
            Collections <span class="stats-text thin">{{stats.repositive_collections}}</span>
          {{/link-to}}
        {{else}}
          {{#link-to "collections"}}
            {{fa-icon "book"}}
            Collections <span class="stats-text thin">{{stats.repositive_collections}}</span>
          {{/link-to}}
        {{/if}}
      </li>

      <li class="tab">
        {{#if (eq active "datasources")}}
          {{#link-to "datasources" class="active"}}
            {{fa-icon "database"}}
            Data Sources <span class="stats-text thin">{{stats.datasources}}</span>
          {{/link-to}}
        {{else}}
          {{#link-to "datasources"}}
            {{fa-icon "database"}}
            Data Sources <span class="stats-text thin">{{stats.datasources}}</span>
          {{/link-to}}
        {{/if}}
      </li>
    </ul>
  </div>

</section>
