<p class="markdown-text {{unless showFullDescription "truncate fifteen-lines"}}">
  {{markdown-to-html markdown=description}}
</p>

<p class="read-more-btn" {{action "toggleDescription"}}>
  {{#if showFullDescription}}
    Show Less {{fa-icon "chevron-up"}}
  {{else}}
    Read More {{fa-icon "chevron-down"}}
  {{/if}}
</p>
