{{#link-to 'collections.collection' collection.id classNames="feed-item-component"}}
  <main class="col m12">
    <div class="card dataset card-comp">

      <section class="card-type-section col m2">
        {{fa-icon "book" class="light-icon"}}
        <p>Collection</p>
      </section>

      <section class="card-user-section col m3">
        {{#if collection.userId.displayName}}
          {{#link-to 'user' collection.userId.id}}
            <img src={{collection.userId.userProfile.avatar}} width="35px" height="35px">
            <p>{{collection.userId.displayName}}</p>
          {{/link-to}}
        {{else}}
          <div class="">
            <div class="round-img">
              <img src="/assets/images/favicon.ico" class="data-icon">
            </div>
            <h4 class="data-title">Repositive</h4>
          </div>
        {{/if}}
      </section>

      <section class="card-content-section col m7">
        {{#link-to 'collections.collection' collection.id classNames="data-title"}}
          <h4 class="data-title">{{collection.name}}</h4>
        {{/link-to}}
        {{collection-summary-fallback
          summary=collection.properties.summary
          description=collection.description}}
      </section>
    </div>
  </main>
{{/link-to}}
