{{#if showFullDescription}}
  {{markdown-to-html markdown=description}}
{{else}}
  {{markdown-to-html markdown=(truncate description 500)}}
{{/if}}

{{#if truncateDescription}}
  <p class="u-tc-primary u-cursor-pointer" {{action "toggleDescription"}}>
    {{#if showFullDescription}}
      Show Less {{fa-icon "chevron-up"}}
    {{else}}
      Read More {{fa-icon "chevron-down"}}
    {{/if}}
  </p>
{{/if}}
