<div class="">
  {{#if showFullDescription}}
    {{markdown-to-html markdown=description}}
  {{else}}
    {{markdown-to-html markdown=(truncate description 500)}}
  {{/if}}
</div>

{{#unless (lt description.length 500)}}
  <p class="u-tc-primary" {{action "toggleDescription"}}>
    {{#if showFullDescription}}
      Show less {{fa-icon "chevron-up"}}
    {{else}}
      Read more {{fa-icon "chevron-down"}}
    {{/if}}
  </p>
{{/unless}}
