{{#if showFullDescription}}
  <p class="markdown-text">
    {{markdown-to-html markdown=description}}
  </p>
  <p class="read-more-btn" {{action "toggleDescription"}}>Show Less {{fa-icon "chevron-up"}}</p>
{{else}}
  <p class="markdown-text">
    {{markdown-to-html markdown=(truncate description 500)}}
  </p>
  {{#if (gt description.length 500)}}
    <p class="read-more-btn" {{action "toggleDescription"}}>Read More {{fa-icon "chevron-down"}}</p>
  {{/if}}
{{/if}}
