<section class="metadata-panel">
  <header>
    {{panel-back-button route='collections'}}

    <img src="/assets/images/icons/icon-collection-white@2x.png" class="data-icon">
    <h5>Collection</h5>
  </header>

  <!-- <ul class="tabs">
    <a {{action "showInfo"}}>
      <li class="tab {{if displayInfo "active-tab"}}"><h5>More Information</h5></li>
    </a>
    <a {{action "showFilters"}}>
      <li class="tab {{unless displayInfo "active-tab"}}"><h5>Filters</h5></li>
    </a>
  </ul> -->

  <main>
    {{#if displayInfo}}
      <h3>{{source-name-fallback model=model}}</h3>
      {{collection-created-by user=model.userId type=model.type}}

      <div class="divider"></div>

      <section class="stats-numbers">
        {{stats-number-ring stat=collectionStats.datasets label="Datasets"}}
        {{stats-number-ring stat=collectionStats.datasources label="Sources"}}
      </section>

      <div class="divider"></div>

      <section class="stats-numbers">
        {{stats-list stats=collectionStats statType="collection"}}
      </section>

      {{#if model.description}}
        <div class="divider"></div>
        <p class="markdown-text">{{markdown-to-html markdown=model.description}}</p>
      {{/if}}

    {{else}}
      {{meta-panel-filters}}
    {{/if}}
  </main>
</section>
