<section class="metadata-panel">
  <header>
    {{#link-to 'collections' class="left-align" invokeAction=(action 'trackBackClick')}}
      <div class="back-arrow center-align" data-balloon="See all collections" data-balloon-pos="right" data-balloon-length="medium">
        {{fa-icon "chevron-left"}}
      </div>
    {{/link-to}}

    <img src="/assets/images/icons/icon-collection-white@2x.png" class="data-icon">
    <h5>Collection</h5>

    <!-- {{action-favourite dataset=dataset action="toggleModal"}}
    {{action-share action="toggleModal"}} -->
  </header>

  <!-- <ul class="tabs">
    <a {{action "showInfo"}}>
      <li class="tab {{if displayInfo "active-tab"}}"><h5>More Information</h5></li>
    </a>
    <a {{action "showFilters"}}>
      <li class="tab {{unless displayInfo "active-tab"}}"><h5>Filters</h5></li>
    </a>
  </ul> -->

  <main>
    {{#if displayInfo}}
      <h3>{{name-fallback model=model}}</h3>
      <span class="helper-text">created by </span>
      {{#if model.userId.id}}
        <span>{{#link-to 'user' model.userId.id}}{{model.userId.displayName}}{{/link-to}}</span>
      {{else if (eq model.type 'repositive_collection')}}
        <span>Repositive</span>
      {{/if}}
      <div class="divider"></div>

      <section class="stats-numbers">
        <div class="stats-number">
          <span class="data-num">{{rough-estimate collectionStats.datasets}}</span>
          <p>Datasets</p>
        </div>

        <div class="stats-number">
          <span class="data-num">{{rough-estimate collectionStats.datasources}}</span>
          <p>Sources</p>
        </div>
      </section>

      {{#if model.description}}
        <div class="divider"></div>
        <p class="markdown-text">{{markdown-to-html markdown=model.description}}</p>
      {{/if}}

    {{else}}
      {{meta-panel-filters}}
    {{/if}}
  </main>
</section>
