<h4 class="pt2 mb0 fs2 fw-med fc-tertiary">Contributors</h4>

{{#if contributors}}

  {{#each contributors as |contributor|}}
    {{user-preview user=contributor}}
  {{/each}}

{{/if}}

{{#if canBeAContributor}}
  <div class="py3 pl2 flex items-start">
    <img class="filter-fade-grey circle icon-large mr2" src="{{session.authenticatedUser.profile.avatar}}" onError="this.onerror=null;this.src='/assets/images/avatar/dog.png';"/>
    <p class="fs2 fc-tertiary">Become a contributor by adding metadata to help categorise this {{modelName}}.</p>
  </div>
{{else if (not session.isAuthenticated)}}
  <p class="fs2 fc-tertiary">Please login or create an account to contribute to this {{modelName}}.</p>
{{/if}}
