<div class="u-flex u-items-center u-justify-between u-mb1">
  <p class="u-mb0 u-fs2">Primary Email</p>
  <p class="u-tc-teal u-fw-med u-mb0 u-fs2">Your email is verified.</p>
</div>
<div class="u-flex u-justify-between">
  <p class="u-mb0 u-mr1">{{credential.main_credential.email}}</p>
  <a class="u-tc-secondary u-td-underline" {{action 'toggleAddCredentialInput'}}>Add New Credential</a>
</div>
<div class="u-py2">
  {{#if credential.secondary_credentials}}
    <p class="u-mb0 u-fs2">Secondary Emails</p>
    {{#each credential.secondary_credentials as |credential|}}
      <div class="u-flex">
        <p class="u-mb0 u-mr2">{{credential.email}}</p>
        <a class="u-mr2 u-tc-tertiary u-hv-tc-secondary" {{action 'makePrimary' credential.email}}>Set as Primary</a>
        <a class="u-tc-tertiary u-hv-tc-secondary" {{action 'deleteCredential' credential}}>{{fa-icon 'times'}}</a>
      </div>
    {{/each}}
  {{/if}}
</div>
