<div class="col s12 m4 l4">
  <div class="card dataset">

    {{#if (eq type "request")}}
      <div class="card-header">
        <div class="assay-container">
          <div class="request">Request</div>
        </div>
        <div class="actions-container valign-wrapper">
          {{action-favourite action="toggleModal" dataset=dataset}}
          <span class="grey-text">{{dataset.favourite}}</span>
          {{action-share action="toggleModal" dataset=dataset}}
        </div>
      </div>

      <div class="card-body">
        {{#if dataset.highlights.title}}
          {{#link-to 'requests.detail' dataset.id classNames="data-title"}}
            <div data-balloon={{dataset.title}} data-balloon-pos="up" data-balloon-length="large">
              <h4 class="data-title">{{{truncate dataset.highlights.title 70}}}</h4>
            </div>
          {{/link-to}}
        {{else}}
          {{#link-to 'requests.detail' dataset.id classNames="data-title"}}
            <div data-balloon={{dataset.title}} data-balloon-pos="up" data-balloon-length="large">
              <h4 class="data-title">{{truncate dataset.title 70}}</h4>
            </div>
          {{/link-to}}
        {{/if}}
        <h6>
          {{#if dataset.userId.displayName}}
            <span>Requested by </span>
            {{#link-to 'user' dataset.user.id}}
              {{dataset.userId.displayName}}
            {{/link-to}}
          {{/if}}
        </h6>

        <div class="line-limit-desc">
          <div class="ellipsis sub-grey markdown-text">
            {{#if dataset.highlights.description}}
              {{{markdown-to-html markdown=dataset.highlights.description}}}
            {{else}}
              {{markdown-to-html markdown=dataset.description}}
            {{/if}}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <ul class="color-silver-chalice-text">
          {{#if dataset.stats}}
            <li data-balloon="Views" data-balloon-pos="down">
              {{fa-icon "eye"}}<span>{{dataset.stats.view}}</span>
            </li>
            <li data-balloon="Discussion" data-balloon-pos="down">
              {{fa-icon "comments"}}<span>{{dataset.stats.comment}}</span>
            </li>
          {{/if}}
        </ul>
      </div>

    {{else}} <!-- It is a Dataset -->

      <div class="card-header">
        {{#if dataset.assay}}
          <div class="assay-container">
            <!-- HACK #380 -->
            {{#if searchRoute}}
              {{#link-to 'datasets.search' (query-params assay=dataset.assay) }}
                <div class="assay-container" data-balloon={{dataset.assay}} data-balloon-pos="up">
                  <span class="assay-small {{dataset.colour}}"></span>
                </div>
              {{/link-to}}
            {{else}}
              {{#link-to 'datasets.search' (query-params q="" assay=dataset.assay) }}
                <div class="assay-container" data-balloon={{dataset.assay}} data-balloon-pos="up">
                  <span class="assay-small {{dataset.colour}}"></span>
                </div>
              {{/link-to}}
            {{/if}}

          </div>
        {{/if}}
        <div class="actions-container valign-wrapper">
          {{action-favourite action="toggleModal" dataset=dataset}}
          <span class="grey-text">{{dataset.favourite}}</span>
          {{action-share action="toggleModal" dataset=dataset}}
        </div>
      </div>
      <div class="card-body">
        {{#if dataset.highlights.title}}
          {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
            <div data-balloon={{dataset.title}} data-balloon-pos="up" data-balloon-length="large">
              <h4 class="data-title">{{{truncate dataset.highlights.title 70}}}</h4>
            </div>
          {{/link-to}}
        {{else}}
          {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
            <div data-balloon={{dataset.title}} data-balloon-pos="up" data-balloon-length="large">
              <h4 class="data-title">{{truncate dataset.title 70}}</h4>
            </div>
          {{/link-to}}
        {{/if}}
        <h6>
          {{#if dataset.datasourceId.shortName}}
            <span>from</span>
            {{#link-to 'datasets.search' (query-params q="" datasource=dataset.datasourceId.shortName) }}
              {{dataset.datasourceId.shortName}}
            {{/link-to}}
          {{/if}}
          {{#if dataset.userId.displayName}}
            <span>by</span>
            {{#link-to 'user' dataset.userId.id}}
              {{dataset.userId.displayName}}
            {{/link-to}}
          {{/if}}
        </h6>

        <div class="line-limit-desc">
          <div class="ellipsis sub-grey markdown-text">
            {{#if dataset.highlights.description}}
              {{{markdown-to-html markdown=dataset.highlights.description}}}
            {{else}}
              {{markdown-to-html markdown=dataset.description}}
            {{/if}}
          </div>
        </div>
      </div>

      <div class="card-footer">
        <ul class="color-silver-chalice-text">
          {{#if (eq dataset.access "Open")}}
            <li class="access-icons center-align" data-balloon="Access Type" data-balloon-pos="down">
              <i class="fa fa-globe color-fruit-salad-text"></i>
              <span class="color-fruit-salad-text">
                {{dataset.access}}
              </span>
            </li>
          {{/if}}

          {{#if (eq dataset.access "Restricted")}}
            <li class="access-icons center-align" data-balloon="Access Type" data-balloon-pos="down">
              <i class="fa fa-lock color-red-error-text"></i>
              <span class="color-red-error-text">
                {{dataset.access}}
              </span>
            </li>
          {{/if}}
          {{#if dataset.stats}}
            <li class="center-align" data-balloon="Views" data-balloon-pos="down">
              {{fa-icon "eye"}}<span>{{dataset.stats.view}}</span>
            </li>
            <li class="center-align" data-balloon="Discussion" data-balloon-pos="down">
              {{fa-icon "comments"}}<span>{{dataset.stats.comment}}</span>
            </li>
          {{/if}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>
