<div class="row card full-view">
  <div class="col l7 m6 s12 card-main-wrapper"><!-- MAIN CONTENT DIV -->
    <div class="card-main-content">

      <h2>{{dataset.properties.title}}</h2>

      <h3>Assays: </h3>
      <div class="card-section">
        <span class="assay as-red">{{dataset.properties.sampleTechnology}}</span>
      </div>

      <h3>Description: </h3>
      <div class="card-section">
        <p>{{dataset.properties.description}}</p>
      </div>

      <h3>Tags: </h3>
      <div class="card-section">
        {{#each tag in dataset.tags}}
        {{#link-to 'datasets.tags' tag.word}}
        <span class="tag">{{tag.word}}</span>
        {{/link-to}}
        {{/each}}
        <a class="add-tag" href="#"><span class="tag">add tag <i class="mdi-content-add grey-text"></i></span></a>
      </div>
{{> ''}}
{{render ''}}
      <h3>Information:</h3>
      <div class="card-section">
        <div class="row">
          <div class="col m12">
            <ul class="card-info-list">
              {{#if dataset.owner}}
              <li class="card-info-attr">Submitted by: <a href="#"><span>{{dataset.owner.fullname}}</span></a></li>
              {{else}}
              <li class="card-info-attr">Sourced from: <a href="#"><span>{{dataset.repository.name}}</span></a></li>
              {{/if}}
              <li class="card-info-attr">Submitted on: <span>{{dataset.createdAt}}</span></li>
              <li class="card-info-attr">Access: <span>{{dataset.repository.accessType}}</span></li>
              {{#if dataset.contributors}}
              <li class="card-info-attr">Contributors: <a href="#"><span>Elena Watson</span></a> & <a href="#"><span>Nikola Tesla</span></a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div><!-- end .card-section -->

      <div class="row">
        <div class="card-action center-align col m12">
          <a href="#sorrymsg" class="btn waves-effect white modal-trigger grey-text">Bookmark</a>
          <a href="#" class="btn waves-effect teal white-text">Download</a>
          <a href="#sorrymsg" class="modal-trigger btn waves-effect white grey-text">Share</a>
        </div>
      </div>

    </div><!-- end .card-main-comtent -->
  </div><!-- MAIN CONTENT DIV -->

  <div class="col l5 m6 s12 card-side-wrapper"><!-- SIDE CONTENT DIV -->
    <ul class="tabs">
      <li class="tab col s3">
        {{#if (eq tab "comments")}}
        {{#link-to 'datasets.detail' dataset (query-params tab="comments") class="active"}}Comments{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' dataset (query-params tab="comments")}}Comments{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "rating")}}
        {{#link-to 'datasets.detail' dataset (query-params tab="rating") class="active"}}Rating{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' dataset (query-params tab="rating") }}Rating{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "related")}}
        {{#link-to 'datasets.detail' dataset (query-params tab="related") class="active"}}Related{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' dataset (query-params tab="related") }}Related{{/link-to}}
        {{/if}}
      </li>
    </ul>
    {{#if (eq tab "rating")}}
    {{partial "datasets/tab-ratings"}}
    {{else if (eq tab "related")}}
    {{partial "datasets/tab-related"}}
    {{else}}
    {{partial "datasets/tab-comments"}}
    {{/if}}
  </div><!-- SIDE CONTENT DIV -->

</div>
