<div class="col s12 m4 l4">
  <div class="card dataset">
    <div class="card-header">
      <div class="assay-container">
        {{#link-to 'datasets.search' (query-params assayType=dataset.properties.assayType) }}
          <div class="assay-container">
            <span class="assay-small {{dataset.colour}}"></span>
          </div>
        {{/link-to}}
        {{#if isRequest}}<div class="request">Request</div>{{/if}}
      </div>
      <div class="actions-container valign-wrapper">
        {{action-favourite action="toggleModal" dataset=dataset}}
        <span class="grey-text">{{dataset.favourite}}</span>
        {{action-share action="toggleModal" dataset=dataset}}
      </div>
    </div>
    <div class="card-body">
      {{#if dataset.highlights.title}}
        {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
        <div data-balloon={{dataset.properties.title}} data-balloon-pos="up" data-balloon-length="large">
          <h4 class="data-title">{{{dataset.highlights.title}}}</h4>
        </div>
        {{/link-to}}
      {{else}}
        {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
        <div data-balloon={{dataset.properties.title}} data-balloon-pos="up" data-balloon-length="large">
          <h4 class="data-title">{{dataset.properties.title}}</h4>
        </div>
        {{/link-to}}
      {{/if}}

      <h6>
      <span>from</span>
        {{#link-to 'datasets.search' (query-params repository=dataset.repository.name) }}
          {{dataset.repository.name}}
        {{/link-to}}
        {{#if dataset.user.displayName}}
          <span>by</span>
          {{#link-to 'user' dataset.user.id}}
            {{dataset.user.displayName}}
          {{/link-to}}
        {{/if}}
        <!-- {{#if dataset.createdAt}}
          {{fa-icon "calendar"}} <span>{{moment-format dataset.createdAt}}</span>
        {{/if}} -->
      </h6>

      <div class="line-limit-desc">
        <div class="ellipsis">
        <p class="sub-grey">
          {{#if dataset.highlights.description}}
            {{{dataset.highlights.description}}}
          {{else}}
            {{dataset.properties.description}}
          {{/if}}
        </p>
        </div>
       </div>
      </div>
    <div class="card-footer">
      <ul class="color-silver-chalice-text">
        {{#if (eq dataset.repository.access "Open")}}
        <li class="access-icons">
          <i
            class="fa fa-globe color-fruit-salad-text tooltiped"
            data-position="bottom"
            data-tooltip="Public Access"
            title="Public"></i>
          <span class="color-fruit-salad-text">
            {{dataset.repository.access}}
          </span>
        </li>
        {{/if}}

        {{#if (eq dataset.repository.access "Restricted")}}
        <li class="access-icons">
          <i
            class="fa fa-lock color-red-error-text tooltiped"
            data-position="bottom"
            data-tooltip="Restricted Access"
            title="Access application needed"></i>
          <span class="color-red-error-text">
            {{dataset.repository.access}}
          </span>
        </li>
        {{/if}}
        <li class="tooltipped" data-position="bottom" data-tooltip="Views">
          {{fa-icon "eye"}}<span>{{dataset.views}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Discussion">{{fa-icon "comments"}}<span>{{dataset.comments.length}}</span></li>
      </ul>
    </div>
  </div>
</div>
