<div class="row card full-view">
  <!-- MAIN CONTENT DIV -->
  <div class="col l7 m6 s12 card-main-wrapper">
    <div class="card-main-content">
      <h2>{{dataset.properties.title}}</h2>

      <h3>Assays: </h3>
      <div class="card-section">
        <span class="assay as-red">{{dataset.properties.sampleTechnology}}</span>
      </div>

      <h3>Description: </h3>
      <div class="card-section">
        <p>{{dataset.properties.description}}</p>
      </div>
      <h3>Tags: </h3>
      <div class="card-section">
        {{#each tag in dataset.tags}}
        <span class="tag">{{tag.word}}</span>
        {{/each}}
        <a class="add-tag" href="#"><span class="tag">add tag <i class="mdi-content-add grey-text"></i></span></a>
      </div>

      <h3>Information:</h3>
      <div class="card-section">
        <div class="row">
          <div class="col m12">
            <ul class="card-info-list">
              {{#if dataset.owner}}
              <li class="card-info-attr">Submitted by: <a href="#"><span>{{dataset.owner.fullname}}</span></a></li>
              {{else}}
              <li class="card-info-attr">Sourced from: <a href="#"><span>{{dataset.repository.name}}</span></a></li>
              {{/if}}
              <li class="card-info-attr">Submitted on: <span>{{dataset.createdAt}}</span></li>
              <li class="card-info-attr">Access: <span>{{dataset.repository.accessType}}</span></li>
              {{#if dataset.contributors}}
              <li class="card-info-attr">Contributors: <a href="#"><span>Elena Watson</span></a> & <a href="#"><span>Nikola Tesla</span></a></li>
              {{/if}}
            </ul>
          </div>
          <!-- <div class="col s12 m6">
            <ul class="card-info-list">
              <li class="card-info-attr">Submitted by: <a href="#"><span>Paul Smith</span></a></li>
              <li class="card-info-attr">Sourced from: <a href="#"><span>dbgap</span></a></li>
              <li class="card-info-attr">Submitted on: <span>19-11-2014</span></li>
            </ul>
          </div> -->
          <!-- <div class="col s12 m6">
            <ul class="card-info-list">
              <li class="card-info-attr">Access: <span>Restricted</span></li>
              <li class="card-info-attr">Contributors: <a href="#"><span>Elena Watson</span></a> & <a href="#"><span>Nikola Tesla</span></a></li>
            </ul>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="card-action center-align col m12">
          <a href="#sorrymsg" class="btn waves-effect white modal-trigger grey-text">Bookmark</a>
          <a href="#" class="btn waves-effect teal white-text">Download</a>
          <a href="#sorrymsg" class="modal-trigger btn waves-effect white grey-text">Share</a>
          
        </div>
      </div>
    </div>
  </div>

  <!-- SIDE CONTENT DIV -->
  <div class="col l5 m6 s12 card-side-wrapper">
    <ul class="tabs">
      <li class="tab col s3"><a class="active" href="#test1">Comments</a></li>
      <li class="tab col s3"><a href="#test2">Rating</a></li>
      <li class="tab col s3"><a href="#test3">Related</a></li>
    </ul>
    <div class="card-side-content">
      <div id="test1" class="col s12">
        <div class="write-comment">
          <div class="dp-wrapper">
            <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
          </div>
          <div class="input-field">
            <input type="text" placeholder="write a comment">
          </div>
        </div>

        <div class="comment">
          <div class="comment-header">
            <div class="dp-wrapper">
              <img src="/assets/images/elena-watson.png" alt="your display picture" class="display-pic">
            </div>
            <h4>Elena Watson</h4>
            <span>3 months ago</span>
          </div>
          <div class="comment-body">
            <p>I published a meta-analysis of prostate cancer biomarkers based on this data, among others.See my paper here paper.com/dan-fair-13dh8.</p>
          </div>
          <div class="comment-footer">
            <ul class="list-inline">
              <li><a href="#" class="btn-upvote">Upvote<span>41</span></a></li>
              <li><a href="#">Downvote</a></li>
              <li><a href="#">Reply</a></li>
              <li><a href="#">Flag</a></li>
            </ul>
          </div>
          <!--FIRST REPLY-->
          <div class="comment reply">
            <div class="comment-header">
              <div class="dp-wrapper">
                <img src="/assets/images/Dan.png" alt="your display picture" class="display-pic">
              </div>
              <h4>Dan Smith</h4>
              <span>3 months ago</span>
            </div>
            <div class="comment-body">
              <p>The dataset is missing detailed description about the assay used in the research. I would find this information very useful.</p>
            </div>
            <div class="comment-footer">
              <ul class="list-inline">
                <li><a href="#" class="btn-upvote">Upvote <span>13</span></a></li>
                <li><a href="#">Downvote</a></li>
                <li><a href="#">Reply</a></li>
                <li><a href="#">Flag</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="comment reply">
          <div class="comment-header">
            <div class="dp-wrapper">
              <img src="/assets/images/Christina.png" alt="your display picture" class="display-pic">
            </div>
            <h4>Christina Nicolson</h4>
            <span>3 months ago</span>
          </div>
          <div class="comment-body">
            <p>Hi Elena, I updated the description with categories included in the dataset i.e. DNA seq and DNA array.</p>
          </div>
          <div class="comment-footer">
            <ul class="list-inline">
              <li><a href="#" class="btn-upvote">Upvote <span>22</span></a></li>
              <li><a href="#">Downvote</a></li>
              <li><a href="#">Reply</a></li>
              <li><a href="#">Flag</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="test2" class="col s12">Rating</div>
      <div id="test3" class="col s12">Related</div>
    </div>
  </div>
</div>
