<main class="col s12 m4 l4">
  <div class="card dataset card-comp">

    <header class="card-header">
      <div class="assay-container">
        <img src="/assets/images/icon-discussion-2.0.png">
        {{#if discussion.createdAt}}<p>{{moment-from-now discussion.createdAt hideSuffix=true}} ago</p>{{/if}}
      </div>
      <div class="actions-container valign-wrapper">
        {{action-favourite action="toggleModal" discussion=discussion}}
        <span class="grey-text">{{dataset.favourite}}</span>
        {{action-share action="toggleModal" discussion=discussion}}
      </div>
    </header>

    <div class="card-body">
      <header class="card-user">
        <img src={{discussion.userId.userProfile.avatar}}>
        <h6>
          {{#if discussion.userId.displayName}}
            {{#link-to 'user' discussion.userId.id}}{{discussion.userId.displayName}}{{/link-to}}
          {{else}}
            A Repositive user
          {{/if}}
          <br>
          <span>commented on</span>
        </h6>
      </header>

      {{#link-to 'requests.detail' discussion.id classNames="data-title"}}
        <div data-balloon={{discussion.title}} data-balloon-pos="up" data-balloon-length="large">
          <h4 class="data-title">{{discussion.title}}</h4>
        </div>
      {{/link-to}}

      <div class="line-limit-desc">
        <blockquote>
          "{{discussion.description}}"
        </blockquote>
      </div>

    </div>

    {{card-footer model=discussion}}
  </div>
</main>
