<form class="u-flex u-py1">
  <div class="u-mr1">
    {{validated-input
      label='Email Address'
      value=newEmail
      errors=validations.attrs.email.messages
      placeholder='e.g. liz@repositive.io'
      noMarkdown=true
      noMsgContainer=true
    }}
  </div>

  <div class="u-flex u-items-end">
    {{async-button
      class="c-btn c-btn-primary"
      action=(action 'saveNewCredential')
      default="Save"
      pending="Saving..."
      disableWhen=isDisabled
      reset=true
    }}
  </div>
</form>
{{#if pendingCredential}}
  <div class="u-flex">
    <p class="u-tc-red u-mb0 u-mr1">We sent an email to {{pendingCredential.email}}.</p>
    <a class="u-tc-secondary u-td-underline" {{action 'saveNewCredential'}}>Resend Verification Email.</a>
  </div>
  <p class="u-fs1 u-fw-reg u-tc-tertiary">We'll keep using your old email address ({{credentials.main_credential.email}}) until you verify your new one.</p>
{{else}}
  <a class="u-tc-secondary u-td-underline" {{action 'cancel'}}>Cancel</a>
{{/if}}
