<div class="u-flex u-py1">
  <div class="u-mr1">
    {{validated-input
      label='Email Address'
      value=newEmail
      errors=validations.attrs.email.messages
      placeholder='e.g. liz@repositive.io'
      noMarkdown=true
      noMsgContainer=true
    }}
  </div>

  <div class="u-flex u-items-end">
    {{async-button
      class="c-btn c-btn-primary"
      action=(action 'saveNewCredential')
      default="Edit"
      pending="Editing..."
      disableWhen=isDisabled
      reset=true
    }}
  </div>
</div>
{{#if sentEmail}}
  <div class="u-flex">
    <p class="u-tc-red u-mb0 u-mr1">Your email hasn't been verified.</p>
    <a class="u-tc-secondary u-td-underline" {{action 'resendVerifyEmail' 'credential.main_credential.email' 'newEmail'}}>Resend Verification Email.</a>
  </div>
  <p class="u-fs1 u-fw-reg u-tc-tertiary">We'll keep using your old email address ({{credential.main_credential.email}}) until your new address is verified.</p>
{{else}}
  <a class="u-tc-secondary u-td-underline" {{action 'cancel'}}>Cancel</a>
{{/if}}
