{{#if (eq type 'collection')}}
  {{#link-to 'collections.collection' model.id}}
    <div>
      <h4 class="fs2 u-pb0 u-mb0">
        {{model.name}}
        {{#if isNew}}
          {{is-new-label}}
        {{/if}}
      </h4>
      {{collection-summary-fallback
        summary=model.properties.summary
        description=model.description
        }}
    </div>
  {{/link-to}}
{{else}}
<div class="o-list-inline">
  {{#link-to 'datasources.source' model.id}}
    {{#if model.properties.logo}}
      <div class="grid__col grid__col--2-of-6 o-list-inline__item">
        <img src="{{model.properties.logo}}">
      </div>
    {{else}}
      <div class="grid__col grid__col--2-of-6 o-list-inline__item">
        <h4 class="fs2 u-pb0 u-mb0">{{model.name}}</h4>
      </div>
    {{/if}}
      <div class="grid__col grid__col--4-of-6 o-list-inline__item">
    {{collection-summary-fallback
      summary=model.properties.summary
      description=model.description
      }}
    </div>
  {{/link-to}}
  </div>
{{/if}}
