{{#if (eq type 'collection')}}
  {{#link-to 'collections.collection' model.id}}
    <div class="grid__col grid__col--1-of-3 pr4">
      <h4 class="u-fs2 mb0 u-tc-primary relative">{{model.name}}</h4>
      {{#if isNewest}} {{new-label model.updatedAt 50}} {{/if}}
    </div>
    <div class="grid__col grid__col--2-of-3">
      {{collection-summary-fallback
        summary=model.properties.summary
        description=model.description
      }}
    </div>
  {{/link-to}}
{{else}}
  {{#link-to 'datasources.source' model.id}}
    {{#if model.properties.logo}}
      <div class="grid__col grid__col--2-of-6 pr4">
        <div class="u-flex u-items-center u-flex-column">
          <img class="u-my2 u-h3" src="{{model.properties.logo}}">
          {{#if isNewest}}<div class="u-self-start">{{new-label model.updatedAt}}</div>{{/if}}
        </div>
      </div>
    {{else}}
      <div class="grid__col grid__col--2-of-6">
        <h4 class="u-fs2 u-tc-primary pb0 mb0">{{model.name}}</h4>
        {{#if isNewest}} {{new-label model.updatedAt}} {{/if}}
      </div>
    {{/if}}
    <div class="grid__col grid__col--4-of-6 featured-list-summary">
      {{collection-summary-fallback
        summary=model.properties.summary
        description=model.description
      }}
    </div>

  {{/link-to}}
{{/if}}
