{{#if (eq type 'collection')}}
  {{#link-to 'collections.collection' model.id}}
    <div class="truncate">
      <h4 class="collection-item">
        {{model.name}}
        {{is-new-label updatedAt=model.updatedAt}}
      </h4>
      {{#if model.description}}
        <p class="truncate two-lines">{{model.description}}</p>
      {{/if}}
    </div>
  {{/link-to}}
{{else}}
  {{#link-to 'datasources.source' model.id}}
    {{#if model.properties.logo}}
      <img class="datasource-item" src="{{model.properties.logo}}">
    {{else}}
      <h4 class="datasource-item truncate">{{model.name}}</h4>
    {{/if}}
    {{#if model.properties.summary}}
      <p class="truncate">{{model.properties.summary}}</p>
    {{else}}
      <p class="truncate">{{model.description}}</p>
    {{/if}}
  {{/link-to}}
{{/if}}
