<div class="filter-item {{if active 'remove' 'activate'}}"
  {{action (if active 'removeFilter' 'addFilter') aggName bucket.key}}
>
  {{#if (eq aggName "assay")}}
    <div class="label {{bucket.colour}}"></div>
  {{/if}}

  <span>
    {{bucket.key}} ({{bucket.doc_count}})
    {{#if active}}
      <span class="filter-icon">{{fa-icon "times"}}</span>
    {{/if}}
  </span>
</div>

