{{#if (eq aggName "assay")}}
  <div class="label {{bucket.colour}}"></div>
{{/if}}
<span {{action "addFilter" aggName bucket.key}} class='filter-text' style="cursor:pointer;">{{bucket.key}} ({{bucket.doc_count}})</span>
<span {{action "removeFilter" aggName bucket.key}} class='filter-text selected' style="cursor:pointer;">x</span>
