{{#unless isEmptyFilters}}
  {{#each filters as |filter|}}
    <div class="section">
      {{#if (eq filter.displayName "Datasource")}}
        <h4 class="mb2 pt3 u-tc-tertiary u-fs0">Data Source</h4>
      {{else}}
        <h4 class="mb2 pt3 u-tc-tertiary u-fs0">{{ filter.displayName }}</h4>
      {{/if}}
      {{#if isLoading}}
        <p class="loading-text">Loading new filters...</p>
      {{else}}
        {{#each filter.buckets as |bucket|}}
          {{filter-list-item
            addFilter=addFilter
            removeFilter=removeFilter
            activeFilters=activeFilters
            aggName=filter.name
            bucket=bucket
          }}
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <p class="pt2">No filters available</p>
{{/unless}}
