<!-- {{#unless light-font-color}}
  <h4 class="u-mb0">Filters</h4>
{{/unless}} -->

{{#unless isEmptyFilters}}
  {{#each filters as |filter|}}
    <div class="section">
      {{#if (eq filter.displayName "Datasource")}}
        <h4 class="u-mb1 u-pt2 u-tc-tertiary u-fs0">Data Source</h4>
      {{else}}
        <h4 class="u-mb1 u-pt2 u-tc-tertiary u-fs0">{{ filter.displayName }}</h4>
      {{/if}}
      {{#if isLoading}}
        <p>Loading new filters...</p>
      {{else}}
        {{#each filter.buckets as |bucket|}}
          {{filter-list-item
            addFilter=addFilter
            removeFilter=removeFilter
            activeFilters=activeFilters
            aggName=filter.name
            bucket=bucket
          }}
        {{/each}}
      {{/if}}
    </div>
  {{/each}}
{{else}}
  <p>No filters available</p>
{{/unless}}
{{#unless session.isAuthenticated}}
  {{open-search-filter-overlay}}
{{/unless}}
