<div class="filter-item {{if active 'remove' 'activate'}}">
  {{#if (eq aggName "assay")}}
    <div class="label {{bucket.colour}}"></div>
  {{/if}}

  {{#unless active}}
    <span {{action 'addFilter' aggName bucket.key}}>
      {{bucket.key}} ({{bucket.doc_count}})
    </span>
  {{else}}
    <span {{action 'removeFilter' aggName bucket.key}}>
      {{bucket.key}} ({{bucket.doc_count}}) <span class="filter-icon">{{fa-icon "times"}}</span>
    </span>
{{/unless}}
</div>
