<!-- TODO when the data returned by the favourites query is the same structure as a dataset, this condition can be removed.  -->
{{#if isFavourite}}
  {{#if isRequest}}
    <span class="descriptor">Requested by </span>
    {{#link-to 'user' model.user.id}}
      {{model.user.firstname}} {{model.user.lastname}}
    {{/link-to}}
  {{else if (eq model.datasource.properties.short_name "REPOSITIVE")}}
    <!-- Registration -->

    <span class="descriptor">Registered by </span>
    {{#link-to 'user' model.user.id class="user-name"}}
      {{model.user.firstname}} {{model.user.lastname}}
    {{/link-to}}

  {{else}}
    <!-- Regular Dataset-->
    <span class="descriptor">from</span>
    {{#link-to 'datasources.source' model.datasource.id}}
      {{datasource-name source=model.datasource isFavourite=isFavourite}}
    {{/link-to}}
  {{/if}}

{{else}} <!-- Not a favourite -->

  {{#if isRequest}}
    {{#if model.userId.displayName}}
      <span class="descriptor">Requested by </span>
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{/if}}
  {{else if (eq model.datasourceId.properties.short_name "REPOSITIVE")}}
    <!-- Registration -->

    {{#if model.userId.displayName}}
      <span class="descriptor">Registered by </span>
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{/if}}

  {{else}}
    <!-- Regular Dataset-->
    <span class="descriptor">from</span>
    {{#link-to 'datasources.source' model.datasourceId.id}}
      {{datasource-name source=model.datasourceId}}
    {{/link-to}}
  {{/if}}
{{/if}}
