 {{#if (eq type "request")}}

  {{#if model.userId.displayName}}
    <span class="u-fs0 u-fw-reg u-tc-tertiary u-cursor-default">requested by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{else}}
      <span>{{model.userId.displayName}}</span>
    {{/if}}
  {{/if}}

<!-- Old registration -->
{{else if (eq model.datasourceId.properties.short_name "REPOSITIVE")}}

  {{#if model.userId.displayName}}
    <span class="u-fs0 u-fw-reg u-tc-tertiary u-cursor-default">registered by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{else}}
      <span>{{model.userId.displayName}}</span>
    {{/if}}
  {{/if}}

{{else}} <!-- Registration or Dataset -->

  <span class="u-fs0 u-fw-reg u-tc-tertiary u-cursor-default">from</span>
  {{#if session.isAuthenticated }}
    {{#if (eq model.datasourceId.type 'personal_repository')}} <!-- Registration -->
      {{#link-to 'datasources.source' model.datasourceId.id}}
        {{source-name-fallback model=model.datasourceId}}
      {{/link-to}}
    {{else}} <!-- Dataset -->
      {{#link-to 'datasources.source' model.datasourceId.id}}
        {{source-name-fallback model=model.datasourceId}}
      {{/link-to}}
    {{/if}}
  {{else}}
    <span class="u-tc-primary u-cursor-pointer">{{source-name-fallback model=model.datasourceId}}</span>
  {{/if}}

{{/if}}


{{#if showCreateAccountModal}}
  {{#repositive-modal
    container-class='c-modal--medium u-z5'
    close=(action 'toggleCreateAccountModal')
  }}
    {{repositive-modal/header
      icon='database'
      title='See Data Source'
      onClose=(action 'toggleCreateAccountModal')
    }}
    {{#repositive-modal/content}}
      {{create-account-modal-content text='To browse through this data source you need to have an account.'}}
    {{/repositive-modal/content}}
  {{/repositive-modal}}
{{/if}}
