<!-- TODO when the data returned by the favourites query is the same structure as a dataset, this condition can be removed.  -->
{{#if isFavourite}}

  {{#if (eq type "request")}}
    <span class="u-fs0 u-fw-reg u-tc-tertiary">Requested by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.user.id}}
        {{model.user.firstname}} {{model.user.lastname}}
      {{/link-to}}
    {{else}}
      <span>{{model.user.firstname}} {{model.user.lastname}}</span>
    {{/if}}
  {{else if (eq model.datasource.properties.short_name "REPOSITIVE")}}

    <!-- Old Registration -->
    <span class="u-fs0 u-fw-reg u-tc-tertiary">Registered by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.user.id}}
        {{model.user.firstname}} {{model.user.lastname}}
      {{/link-to}}
    {{else}}
      <span>{{model.user.firstname}} {{model.user.lastname}}</span>
    {{/if}}

  {{else}}

    <span class="u-fs0 u-fw-reg u-tc-tertiary">from</span>
    {{#if session.isAuthenticated }}
      {{#if (eq model.datasource.type 'personal_repository')}} <!-- Registration -->
        {{#link-to 'collections.collection' model.datasource.id}}
          {{source-name-fallback model=model.datasource}}
        {{/link-to}}
      {{else}} <!-- Dataset -->
        {{#link-to 'datasources.source' model.datasource.id}}
          {{source-name-fallback model=model.datasource}}
        {{/link-to}}
      {{/if}}
    {{else}}
      <span class="u-tc-primary u-fw-bold">{{source-name-fallback model=model.datasource}}</span>
    {{/if}}
  {{/if}}

{{else}} <!-- Not a favourite -->

  {{#if (eq type "request")}}

    {{#if model.userId.displayName}}
      <span class="u-fs0 u-fw-reg u-tc-tertiary">requested by </span>
      {{#if session.isAuthenticated }}
        {{#link-to 'user' model.userId.id}}
          {{model.userId.displayName}}
        {{/link-to}}
      {{else}}
        <span>{{model.userId.displayName}}</span>
      {{/if}}
    {{/if}}

  <!-- Old registration -->
  {{else if (eq model.datasourceId.properties.short_name "REPOSITIVE")}}

    {{#if model.userId.displayName}}
      <span class="u-fs0 u-fw-reg u-tc-tertiary">registered by </span>
      {{#if session.isAuthenticated }}
        {{#link-to 'user' model.userId.id}}
          {{model.userId.displayName}}
        {{/link-to}}
      {{else}}
        <span>{{model.userId.displayName}}</span>
      {{/if}}
    {{/if}}

  {{else}} <!-- Registration or Dataset -->

    <span class="u-fs0 u-fw-reg u-tc-tertiary">from</span>
    {{#if session.isAuthenticated }}
      {{#if (eq model.datasourceId.type 'personal_repository')}} <!-- Registration -->
        {{#link-to 'collections.collection' model.datasourceId.id}}
          {{source-name-fallback model=model.datasourceId}}
        {{/link-to}}
      {{else}} <!-- Dataset -->
        {{#link-to 'datasources.source' model.datasourceId.id}}
          {{source-name-fallback model=model.datasourceId}}
        {{/link-to}}
      {{/if}}
    {{else}}
      <span class="u-tc-primary">{{source-name-fallback model=model.datasourceId}}</span>
    {{/if}}

  {{/if}}

{{/if}}

{{#if showCreateAccountModal}}
  {{#modal-dialog
    close=(action 'toggleCreateAccountModal')
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{#repositive-modal/wrapper size='medium'}}
      {{repositive-modal/header
        icon='database'
        title='See data source'
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{create-account-modal-content text='To browse through this data source you need to have an account.'}}
    {{/repositive-modal/wrapper}}
  {{/modal-dialog}}
{{/if}}
