<!-- TODO when the data returned by the favourites query is the same structure as a dataset, this condition can be removed.  -->
{{#if isFavourite}}
  {{#if isRequest}}
    <span class="fs0 fw-reg u-tc-tertiary">Requested by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.user.id}}
        {{model.user.firstname}} {{model.user.lastname}}
      {{/link-to}}
    {{else}}
      <span class="fake-link">{{model.user.firstname}} {{model.user.lastname}}</span>
    {{/if}}
  {{else if (eq model.datasource.properties.short_name "REPOSITIVE")}}
    <!-- Registration -->

    <span class="fs0 fw-reg u-tc-tertiary">Registered by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.user.id class="user-name"}}
        {{model.user.firstname}} {{model.user.lastname}}
      {{/link-to}}
    {{else}}
      <span class="fake-link">{{model.user.firstname}} {{model.user.lastname}}</span>
    {{/if}}

  {{else}}
    <!-- Regular Dataset-->
    <span class="fs0 fw-reg u-tc-tertiary">from</span>
    {{#if session.isAuthenticated }}
      {{#link-to 'datasources.source' model.datasource.id}}
        {{source-name-fallback model=model.datasource}}
      {{/link-to}}
    {{else}}
      <span class="u-tc-primary fw-bold">{{source-name-fallback model=model.datasource}}</span>
    {{/if}}
  {{/if}}

{{else}} <!-- Not a favourite -->

{{#if isRequest}}
  {{#if model.userId.displayName}}
    <span class="fs0 fw-reg u-tc-tertiary">requested by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{else}}
      <span class="fake-link">{{model.userId.displayName}}</span>
    {{/if}}
  {{/if}}
{{else if (eq model.datasourceId.properties.short_name "REPOSITIVE")}}
  <!-- Registration -->

  {{#if model.userId.displayName}}
    <span class="fs0 fw-reg u-tc-tertiary">registered by </span>
    {{#if session.isAuthenticated }}
      {{#link-to 'user' model.userId.id}}
        {{model.userId.displayName}}
      {{/link-to}}
    {{else}}
      <span class="fake-link">{{model.userId.displayName}}</span>
    {{/if}}
  {{/if}}

{{else}}
  <!-- Regular Dataset-->
  <span class="fs0 fw-reg u-tc-tertiary">from</span>
  {{#if session.isAuthenticated }}
    {{#link-to 'datasources.source' model.datasourceId.id}}
      {{source-name-fallback model=model.datasourceId}}
    {{/link-to}}
  {{else}}
    <span class="u-tc-primary">{{source-name-fallback model=model.datasourceId}}</span>
  {{/if}}
{{/if}}
{{/if}}

{{#if showCreateAccountModal}}
  {{#modal-dialog
    close=(action 'toggleCreateAccountModal')
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{#repositive-modal/wrapper size='medium'}}
      {{repositive-modal/header
        icon='database'
        title='See data source'
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{create-account-modal-content text='To browse through this data source you need to have an account.'}}
    {{/repositive-modal/wrapper}}
  {{/modal-dialog}}
{{/if}}
