<ul class="tabs">

  <li class="tab">
    {{#if (or (eq tab "all") (eq tab "default"))}}
      {{#link-to 'root' (query-params tab="all") class="active"}}
        <span class="all-tab">All</span>
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="all")}}
        <span class="all-tab">All</span>
      {{/link-to}}
    {{/if}}
  </li>

  <li class="tab">
    {{#if (eq tab "sources")}}
      {{#link-to 'root' (query-params tab="sources") class="active"}}
        {{fa-icon "database"}}
        <span>Data Sources</span>
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="sources")}}
        {{fa-icon "database"}}
        <span>Data Sources</span>
      {{/link-to}}
    {{/if}}
  </li>

  <li class="tab">
    {{#if (eq tab "collections")}}
      {{#link-to 'root' (query-params tab="collections") class="active"}}
        {{fa-icon "book"}}
        <span>Collections</span>
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="collections")}}
        {{fa-icon "book"}}
        <span>Collections</span>
      {{/link-to}}
    {{/if}}
  </li>

  <li class="tab">
    {{#if (eq tab "requests")}}
      {{#link-to 'root' (query-params tab="requests") class="active"}}
        {{fa-icon "clipboard"}}
        <span>Requests</span>
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="requests")}}
        {{fa-icon "clipboard"}}
        <span>Requests</span>
      {{/link-to}}
    {{/if}}
  </li>

  <li class="tab">
    {{#if (eq tab "discussions")}}
      {{#link-to 'root' (query-params tab="discussions") class="active"}}
        {{fa-icon "comments"}}
        <span>Discussions</span>
      {{/link-to}}
    {{else}}
      {{#link-to 'root' (query-params tab="discussions")}}
        {{fa-icon "comments"}}
        <span>Discussions</span>
      {{/link-to}}
    {{/if}}
  </li>

</ul>
