<div class="grid__col grid__col--3-of-3 relative">


{{#unless isSearchPage}}
  <div class="grid grid--no-gutter relative">
    {{meta-panel-header type=model.type}}
    {{meta-panel-tabs showInfo=(action 'showInfo') showFilters=(action 'showFilters') displayInfo=displayInfo}}
  </div>
{{/unless}}


  <main class="px4 {{if isSearchPage 'py3'}}">
    <div class="c-sidebar-toggle absolute top-0 right-0 py3 px2 {{if isSearchPage 'u-bc-off-white u-hv-bc-off-white u-border'}} {{if (or model.userId (eq model.type 'repositive_collection')) 'u-bc-collection-overlay u-hv-bc-collection'}} {{if (eq model.type 'datasource') 'u-bc-datasource-overlay u-hv-bc-datasource'}}">
      <a class="u-tc-secondary u-fw-med p3" {{action 'toggleMetaPanelVisibility'}}>{{#if metaPanelHidden}} <span class="u-tc-primary m2">View filters</span> {{fa-icon 'chevron-right class="pl4"'}} {{else}} {{fa-icon 'times'}} {{/if}}</a>
    </div>
    {{#if displayInfo}}

      <div class="mb4">
        <h3 class="u-tc-primary u-ta-center mb2">{{source-name-fallback model=model}}</h3>
        {{#unless (eq model.type 'datasource')}}
          {{collection-created-by user=model.userId type=model.type}}
        {{/unless}}
      </div>

      <div class="mb4 u-ta-center u-tc-primary">
        {{#if (eq model.type 'repositive_collection')}}
          {{stats-list stats=collectionStats statType="collection"}}
        {{else}}
          {{stats-list stats=collectionStats statType="datasource"}}
        {{/if}}
      </div>

      {{#if model.description}}
        {{collapsible-description description=model.description}}
      {{/if}}

    {{else}}
      {{filters-list
        addFilter=addFilter
        removeFilter=removeFilter
        filters=filters
        activeFilters=activeFilters
        isLoading=isLoading
        modelType=model.type
        }}
    {{/if}}

  </main>
</div>

{{#unless session.isAuthenticated}}
  {{open-search-filter-overlay}}
{{/unless}}
