<div class="u-px3 u-flex u-items-center u-pos-relative u-justify-center">
  {{#if (eq type 'datasource')}}
    {{panel-back-button route='datasources'}}
  {{else if (eq type 'repositive_collection')}}
    {{panel-back-button route='collections'}}
  {{/if}}
  <div class="u-flex u-items-center u-tc-secondary u-fs1">
    {{#if (or (eq type 'repositive_collection') (eq type 'personal_repository'))}}
      {{fa-icon "book" class="u-pr1"}}
      <h5 class="u-fs1 u-tc-secondary u-py2 u-mb0">Collection</h5>
    {{else}}
      {{fa-icon "database" class="u-pr1"}}
      <h5 class="u-fs1 u-tc-secondary u-py2 u-mb0">Data Source</h5>
    {{/if}}
  </div>
</div>
