<section class="metadata-panel">
  {{#unless showMore}}
    <header>
      <a {{action "showMoreMeta"}}>
        <h5>{{source.shortName}} {{fa-icon 'chevron-down'}}</h5>
      </a>
    </header>
  {{else}}
    <header>
      <a {{action "showMoreMeta"}}>
        <h5>{{source.shortName}} {{fa-icon 'chevron-up'}}</h5>
      </a>
    </header>
    <main>
      <h3>{{source.shortName}}</h3>
      {{#if source.description}}
        <p>{{source.description}}</p>
      {{/if}}
      <p>Datasets from this source: <strong>{{datasets.meta.total}}</strong></p>
      {{#if source.createdAt}}
        <p>Created on: <strong>{{moment-format source.createdAt hideSuffix=true}}</strong></p>
      {{/if}}
      {{#if source.updatedAt}}
        <p>Updated on: <strong>{{moment-format source.updatedAt hideSuffix=true}}</strong></p>
      {{/if}}
    </main>
  {{/unless}}
</section>
