{{#unless isSearchPage}}
  {{meta-panel-header type=model.type}}
  {{meta-panel-tabs showInfo=(action 'showInfo') showFilters=(action 'showFilters') displayInfo=displayInfo}}
{{/unless}}

<div class="grid__col grid__col--3-of-3">
  <main class="u-px3">

    {{#if displayInfo}}

      <div class="u-mb3">
        <h3 class="u-tc-primary u-ta-center u-mb1">{{source-name-fallback model=model}}</h3>
        {{#unless (eq model.type 'datasource')}}
          {{collection-created-by user=model.userId type=model.type}}
        {{/unless}}
      </div>

      <div class="u-mb3 u-ta-center u-tc-primary">
        {{#if (eq model.type 'repositive_collection')}}
          {{stats-list stats=collectionStats statType="collection"}}
        {{else}}
          {{stats-list stats=collectionStats statType="datasource"}}
        {{/if}}
      </div>

      {{#if model.description}}
        {{collapsible-description description=model.description}}
      {{/if}}

      <!-- {{#if model.image}}
        <img src="{{model.image}}" class="">
      {{/if}} -->

    {{else}}
      {{filters-list
        addFilter=addFilter
        removeFilter=removeFilter
        filters=filters
        activeFilters=activeFilters
        isLoading=isLoading
        modelType=model.type
        }}
    {{/if}}
  </main>
</div>
