{{#if (eq type 'datasource')}}
  {{panel-back-button route='datasources'}}
{{else if (eq type 'repositive_collection')}}
  {{panel-back-button route='collections'}}
{{/if}}

{{#if (eq type 'repositive_collection')}}
  {{fa-icon "book"}}
  <h5>Collection</h5>
{{else}}
  {{fa-icon "database"}}
  <h5>Data Source</h5>
{{/if}}
