<div class="px4 u-flex u-items-center relative u-justify-center">
  {{#if (eq type 'datasource')}}
    {{panel-back-button route='datasources'}}
  {{else if (eq type 'repositive_collection')}}
    {{panel-back-button route='collections'}}
  {{/if}}
  <div class="u-flex u-items-center u-tc-secondary u-fs1">
    {{#if (eq type 'repositive_collection')}}
      {{fa-icon "book" class="pr2"}}
      <h5 class="u-fs1 u-tc-secondary py3 mb0">Collection</h5>
    {{else}}
      {{fa-icon "database" class="pr2"}}
      <h5 class="u-fs1 u-tc-secondary py3 mb0">Data Source</h5>
    {{/if}}
  </div>
</div>
