{{yield}}
<div class="col s12 m6 l4">
	<div class="card dataset mini">
		<div class="card-header">
			<div class="assay-container">
				<span class="assay-small">{{assay}}</span>
			</div>
			<div class="assay-container">
      </div>
			<div class="actions-container">
				<a href="#sorrymsg" class="modal-trigger"><i class="mdi-action-grade"></i></a>
				<a href="#sorrymsg" class="modal-trigger"><i class="mdi-social-share"></i></a>
			</div>
		</div>

		<div class="card-body mini">
			<a href="#"><h2 class="truncate">{{title}}</h2></a>
			<span>by </span> <span><a href="/profile">{{submittedBy}}</a></span><span> 3 hours ago</span> <i class="mdi-social-public tooltipped" data-position="bottom" data-tooltip="Public Access"></i>
		</div>

    <div class="card-footer">
      <ul>
        <li><i class="mdi-notification-vpn-lock tooltipped" data-position="bottom" data-tooltip="Public Access"></i><span>{{dataset.repository.accessType}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Views">
        <i class="mdi-action-visibility"></i><span>{{data.views}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Comments"><i class="mdi-action-question-answer"></i><span>{{data.comments}}</span></li>
      </ul>
    </div>
  </div>
</div>
