<div class="card dataset mini">
	{{#if (eq type "request")}}
		<div class="title-details">
			{{#link-to 'requests.detail' dataset.id}}<h5 class="data-title" alt="dataset title">{{truncate dataset.title 55}}</h5>{{/link-to}}
			{{from-label model=dataset isRequest=true isFavourite=isFavourite}}
			<div class="card-footer">
				{{stats-list stats=dataset.stats}}
			</div>
		</div>
	{{else}}	<!-- Dataset or Registration -->
		<div class="title-details">
	    {{#link-to 'datasets.detail' dataset.id}}<h5 class="data-title" alt="dataset title">{{truncate dataset.title 55}}</h5>{{/link-to}}
			{{from-label model=dataset isFavourite=isFavourite}}
			<div class="card-footer">
				{{stats-list stats=dataset.stats access=dataset.access}}
	    </div>
		</div>
	{{/if}}
</div>
