{{yield}}
	<div class="card dataset mini">
		{{#unless hideSubmitter}}
		<div class="submitted">
				{{#if dataset.isRequest}}
				<h6>Request from</h6>
				{{else}}
				<h6>Registered by</h6>
				{{/if}}
				{{#link-to 'user' dataset.owner.username}}<h6 class="user-name">{{dataset.owner.displayName}}</h6>{{/link-to}}
			<!--not applicable yet-->
			{{!-- <div class="assay-container">
				<span class="assay-small">{{assay}}</span>
			</div>
			<div class="actions-container">
				{{action-favourite}}
        <span class="grey-text">{{data.favourite}}</span>
        {{action-share action="toggleModal"}}
			</div>--}}
		</div>
		{{/unless}}
		<div class="title-details">
      {{#link-to 'datasets.detail' dataset.id}}<h5 class="data-title" alt="dataset title">{{dataset.properties.title}}</h5>{{/link-to}}
    <div class="card-footer">
      <ul class="color-silver-chalice-text">

        {{#if (eq dataset.repository.access "Open")}}
        <li class="access-icons">
          <i
            class="mdi-social-public color-fruit-salad-text tooltiped"
            data-position="bottom"
            data-tooltip="Public Access"
            title="Public"></i>
          <span class="color-fruit-salad-text">
            {{dataset.repository.access}}
          </span>
        </li>
        {{/if}}

        {{#if (eq dataset.repository.access "Restricted")}}
        <li class="access-icons">
          <i
            class="mdi-action-lock color-red-error-text tooltiped"
            data-position="bottom"
            data-tooltip="Restricted Access"
            title="Access application needed"></i>
          <span class="color-red-error-text">
            {{dataset.repository.access}}
          </span>
        </li>
        {{/if}}

        <li class="tooltipped" data-position="bottom" data-tooltip="Views">
        <i class="mdi-action-visibility"></i><span>{{dataset.views}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Comments"><i class="mdi-action-question-answer"></i><span>{{dataset.comments.length}}</span></li>
      </ul>
    </div>
	</div>
  </div>
