{{yield}}
<div class="col s12">
	<div class="card dataset mini left-align">
		<div class="card-header">
			<div class="assay-container">
				<span class="assay-small">{{assay}}</span>
			</div>
			<div class="assay-container">
      </div>
			<div class="actions-container">
				{{action-favourite}}
        <span class="grey-text">{{data.favourite}}</span>
        {{action-share action="toggleModal"}}
			</div>
		</div>

		<div class="card-body mini">
      {{#link-to 'datasets.detail' dataset.id}}<h2 class="truncate">{{dataset.properties.title}}</h2>{{/link-to}}
      <span>by </span>{{#link-to 'user' dataset.owner.username}}<span>{{dataset.owner.displayName}}</span>{{/link-to}}
		</div>

    <div class="card-footer">
      <ul>
        <li><i class="mdi-notification-vpn-lock tooltipped" data-position="bottom" data-tooltip="Public Access"></i><span>{{dataset.repository.access}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Views">
        <i class="mdi-action-visibility"></i><span>{{dataset.views}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Comments"><i class="mdi-action-question-answer"></i><span>{{dataset.comments.length}}</span></li>
      </ul>
    </div>
  </div>
</div>
