{{#if isLoading}}
  <div class="u-ta-center">
    <p class="p5 mb0">{{fa-icon "circle-o-notch" class="u-tc-tertiary" pulse=true}}</p>
  </div>
{{else}}
  {{#if notifications}}
    {{#each notifications as |notification|}}
      {{notification-list-item
        notification=notification
        dropdown=dropdown
        close=(action close)
        reloadNotifications=(action reloadNotifications)
        transitionToSubscribable=(route-action 'transitionToSubscribable')
      }}
    {{/each}}
  {{else}}
    <div class="u-ta-center">
      {{fa-icon 'bell' class="pt5 u-tc-tertiary"}}
      <p class="px5 pb5 mb0">You're up to date.</p>
    </div>
  {{/if}}
{{/if}}
