{{#if isAction}}
  {{#if (eq notification.status 'seen')}}
    <span class="c-notification-unread-marker"></span>
  {{/if}}
  <div class="c-notification-img-date-container ta-center m3">
    <img class="icon-medium mr2 circle"
      src={{notification.properties.action.userId.profile.avatar}}
      onError="this.onerror=null;this.src='/assets/images/avatar/dog.png';" alt="user avatar">
    <p class="fs0 fc-tertiary mb0">{{moment-from-now notification.createdAt}}</p>
  </div>
  <div class="flex-grow c-notification-body">
    <span>{{notification.properties.action.userId.displayName}}</span>
    <span class="fc-tertiary fs0">
      {{#if (eq notification.properties.action.type 'comment') }}
        commented on
      {{else if (eq notification.properties.action.type 'tag')}}
        added a tag to
      {{else if (eq notification.properties.action.type 'share')}}
        shared
      {{else if (eq notification.properties.action.type 'favourite')}}
        favourited
      {{else if (eq notification.properties.action.type 'attribute')}}
        added an attribute to
      {{/if}}
    </span>

    <p class="mb0">
      {{#if notification.subscriptionId.subscribableId.dataset}}
        {{truncate notification.subscriptionId.subscribableId.dataset.title 70}}
      {{else if notification.subscriptionId.subscribableId.request}}
        {{truncate notification.subscriptionId.subscribableId.request.title 70}}
      {{/if}}
    </p>
  </div>
{{/if}}
