<div class="grid">
  <div class="grid__col grid__col--1-of-5 u-ta-center">
    <img class="u-w1 u-mr1 u-circle" src={{notification.context.user_img}} alt="">
    <p class="u-fs0 u-tc-tertiary u-mb0">{{moment-from-now notification.createdAt}}</p>
  </div>
  <div class="grid__col grid__col--4-of-5">
      <span>{{notification.context.userName}}</span>
      <span class="u-tc-tertiary u-fs0">
        {{#if (eq notification.context.action 'comment') }}
          commented on
        {{else if (eq notification.context.action 'tag')}}
          added a tag to
        {{else if (eq notification.context.action 'share')}}
          shared
        {{else if (eq notification.context.action 'favourite')}}
          favourited
        {{/if}}
      </span>
      <p>{{notification.context.subscribableTitle}}</p>
  </div>
</div>
