<p class="u-fw-bold u-mr2 u-mb1">Results: {{results}}</p>

<div class="u-flex u-flex-wrap">
  <a {{action 'previousPage'}} class="u-tc-secondary {{if noPrevPage 'u-hide-display'}} u-mr1">
    {{fa-icon "chevron-left"}} Prev
  </a>

  <div class="u-inherit-disp u-mr1">
    {{#each pages as |page|}}
      {{pagination-number-button page=page currentPageNumber=currentPageNumber thisPage=thisPage}}
    {{/each}}
  </div>

  <p class="u-tc-secondary u-mr2"> of {{totalPages}}</p>

  <a {{action 'nextPage'}} class="u-tc-secondary {{if noNextPage 'u-hide-display'}}">
    Next {{fa-icon "chevron-right"}}
  </a>
</div>
