<p>Total pages: {{totalPages}}</p>
<p>Current page: {{currentPageNumber}}</p>

<button class="btn" disabled={{eq currentPageNumber 1}} {{action 'previousPage'}}>
  Previous
</button>
<button class="btn" disabled={{gte currentPageNumber totalPages}} {{action 'nextPage'}}>
  Next
</button>
