<p>Total pages: {{totalPages}}</p>
<p>Current page: {{currentPageNumber}}</p>

{{#if (eq currentPageNumber 1)}}
  <button class="btn disabled">Previous</button>
{{else}}
  <button class="btn" {{action "previousPage"}}>Previous</button>
{{/if}}
{{#if (gte currentPageNumber totalPages)}}
  <button class="btn disabled">Next</button>
{{else}}
  <button class="btn" {{action "nextPage"}}>Next</button>
{{/if}}
