<div class="u-flex u-flex-wrap">
  <a {{action 'previousPage'}} class="fc-secondary px2 rounded u-hv-bc-very-light-grey {{if noPrevPage 'u-hide-display'}}">
    {{fa-icon 'chevron-left'}} Prev
  </a>

  <div class="u-hide-on-sm-md u-inherit-disp">
    {{#each pages as |page|}}
      {{pagination-number-button page=page currentPageNumber=currentPageNumber goToPage=goToPage}}
    {{/each}}
  </div>

  <p class="fc-secondary px2 mb0"><span class="u-hide-on-lg">Page {{currentPageNumber}} </span>of {{totalPages}}</p>

  <a {{action 'nextPage'}} class="fc-secondary px2 rounded u-hv-bc-very-light-grey {{if noNextPage 'u-hide-display'}}">
    Next {{fa-icon 'chevron-right'}}
  </a>
</div>
