<div class="u-flex u-flex-wrap">
  <a {{action 'previousPage'}} class="u-tc-secondary u-px1 u-rounded u-hv-bc-off-white {{if noPrevPage 'u-hide-display'}}">
    {{fa-icon 'chevron-left'}} Prev
  </a>

  <div class="u-inherit-disp">
    {{#each pages as |page|}}
      {{pagination-number-button page=page currentPageNumber=currentPageNumber goToPage=goToPage}}
    {{/each}}
  </div>

  <p class="u-tc-secondary u-px1 u-mb0 u-items-center">of {{totalPages}}</p>

  <a {{action 'nextPage'}} class="u-tc-secondary u-px1 u-rounded u-hv-bc-off-white {{if noNextPage 'u-hide-display'}}">
    Next {{fa-icon 'chevron-right'}}
  </a>
</div>
