<div class="u-bc-off-white c-navbar-wrapper fixed top-0 u-full-width">
  <nav class="c-navbar u-flex u-justify-between u-items-center">

    <!-- LOGO -->
    {{#unless isAuthenticated}}
      <!-- desktop logo -->
      <a href="https://repositive.io" class="u-hide-on-sm-md c-navbar__element mr4 pl3 u-shrink-none">
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      </a>
      <!-- mobile logo -->
      <a href="https://repositive.io" class="u-hide-on-lg u-w1 m3 pl3 u-shrink-none">
        <img src="/assets/images/repositive-logo.png" alt="Repositive DNA logo">
      </a>
    {{else}}
      <!-- desktop logo -->
      {{#link-to 'root' class="u-hide-on-sm-md c-navbar__element m3 pl3 u-shrink-none"}}
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      {{/link-to}}
      <!-- mobile logo -->
      {{#link-to 'root' class="u-hide-on-lg u-w1 m3 pl3 u-shrink-none"}}
        <img src="/assets/images/repositive-logo.png" alt="Repositive DNA logo">
      {{/link-to}}
    {{/unless}}

    <!-- SEARCH -->
    {{#if isAuthenticated}}

      <div class="c-navbar__center-block u-flex u-items-stretch">
        <div class="u-grow-1">
          {{search-bar search=(route-action 'search')}}
        </div>

        {{#link-to "datasets.register" class="u-hide-on-sm-md u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right u-hv-bc-off-white"}}
            {{fa-icon "file-text"}}
            <span class="u-fs1 pl2">Register Data</span>
        {{/link-to}}

        {{#link-to "datasets.request" class="u-hide-on-sm-md u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right u-hv-bc-off-white"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 pl2">Request Data</span>
        {{/link-to}}
      </div>
      <div class="u-flex u-self-stretch">
        {{navbar-notifier}}
        {{navbar-dropdown avatar=avatar firstname=firstname username=username userId=userId}}
      </div>
    {{else}}
      {{#unless isRootRoute}}

        <div class="c-navbar__center-block pl4 mr4 u-flex u-items-stretch">
          <div class="u-grow-1">
            {{search-bar search=(route-action 'search')}}
          </div>
        </div>

      {{/unless}}
        <div class="u-hide-on-sm-md u-self-stretch u-flex pr3 u-shrink-none">
          <a href="http://repositive.io/about" class="u-flex u-items-center px3 u-ta-center u-tc-secondary u-hv-bc-off-white">About</a>
          <a href="http://blog.repositive.io/" class="u-flex u-items-center px3 u-ta-center u-border-right u-tc-secondary u-hv-bc-off-white">Blog</a>
          {{#link-to 'users.login' class="u-flex u-items-center px3 u-ta-center u-tc-secondary u-hv-bc-off-white"}}Login{{/link-to}}
          {{#if isRootRoute}}
            {{#link-to 'users.signup' class="u-flex u-items-center px3 u-ta-center u-tc-teal u-fw-med u-hv-bc-off-white" invokeAction=(action 'trackCreateAccount' 'discover_landingpage_navbar_createAccount')}}Create Account{{/link-to}}
          {{else}}
            {{#link-to 'users.signup' class="u-flex u-items-center px3 u-ta-center u-tc-teal u-fw-med u-hv-bc-off-white" invokeAction=(action 'trackCreateAccount' 'discover_openpage_navbar_createAccount')}}Create Account{{/link-to}}
          {{/if}}
        </div>

        <div class="u-hide-on-lg u-self-stretch u-flex">
          {{navbar-dropdown trackCreateAccount=(action 'trackCreateAccount')}}
        </div>

    {{/if}}
  </nav>
</div>
