<div class="u-bc-off-white c-navbar-wrapper u-pos-relative u-px2">
  <nav class="c-navbar u-flex u-justify-between u-items-center">

    <!-- LOGO -->
    {{#unless isAuthenticated}}
      <a href="https://repositive.io" class="c-navbar__element u-mr2">
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      </a>
    {{else}}
      {{#link-to 'root'}}
        <div class="c-navbar__element u-mr2">
          <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
        </div>
      {{/link-to}}
    {{/unless}}

    <!-- SEARCH -->
    {{#if isAuthenticated}}

      <div class="c-navbar__center-block u-flex u-items-stretch">
        <div class="u-flex-grow-1">
          {{search-bar search=(route-action 'search')}}
        </div>

        {{#link-to "datasets.request" class="u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 u-pl1">Request Data</span>
        {{/link-to}}

        {{#link-to "datasets.register" class="u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 u-pl1">Register Data</span>
        {{/link-to}}
      </div>

      {{navbar-dropdown avatar=avatar firstname=firstname username=username userId=userId}}

    {{else}}
    <div class="{{unless isRootRoute 'navbar-container' '' }}">
      {{#unless isRootRoute}}
        <div class="navbar-search">
          {{search-bar search=(route-action 'search')}}
        </div>
      {{/unless}}
    </div>
      <section class="u-fw-med u-full-height u-flex u-flex-row-reverse u-items-center">
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              {{#if isRootRoute}}
                {{#link-to 'users.signup' class="u-tc-teal" invokeAction=(action 'trackCreateAccount' 'discover_landingpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
              {{else}}
                {{#link-to 'users.signup' class="u-tc-teal" invokeAction=(action 'trackCreateAccount' 'discover_openpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
              {{/if}}
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2 u-border-left">
            {{#active-link}}
              {{#link-to 'users.login' class="u-tc-secondary"}}LOGIN{{/link-to}}
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              <a href="http://blog.repositive.io/" class="u-tc-secondary">BLOG</a>
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              <a href="http://repositive.io/about" class="u-tc-secondary">ABOUT</a>
            {{/active-link}}
          </div>
      </section>
    {{/if}}

  </nav>
</div>
