<div class="navbar-fixed">
  <nav class="navbar-grey">
    <div class="nav-wrapper">
      {{#link-to 'root'}}<img class="nav-logo" src="/assets/images/logo.png" alt="Repositive DNA logo">{{/link-to}}
      {{#link-to 'root' class='hide-on-small-only brand-name'}}REPOSITIVE{{/link-to}}
      {{#if session.isAuthenticated}}
      <ul class="left nav-input">
        <form {{action 'search' on='submit'}}>
          <div class="input-field grey-text">
            {{input type="text" class="grey-text" placeholder="Search" value=query}}
            <i class="small mdi-action-search"></i>
          </div>
        </form>
      </ul>

<!-- {{yield}} -->
      <div class="notification-account right">
        <!-- <div class="notification-icon grey-text tiny">
          <a href="#sorrymsg" class="modal-trigger valign">
          <i class="mdi-social-notifications"></i>
          </a>
        </div> -->
        <li class="user-avatar right">
        <a class='dropdown-button valign-wrapper' data-beloworigin="true" href='/profile' data-activates='profile-drop'>
        <div class="dp-wrapper">
          <img src="/assets/icons/person-icon.png" alt="your profile picture" class="display-pic">
        </div>
        <i class="mdi-navigation-arrow-drop-down hide-on-small-only"></i></a>
        </li>

        <ul id='profile-drop' class='dropdown-content'>
          <li>{{#link-to 'user' currentUser.username}}Profile{{/link-to}}</li>
          <li>{{#link-to 'users.settings'}}Settings{{/link-to}}</li>
          <li class="divider"></li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
          <li>{{#link-to 'help'}}Help{{/link-to}}</li>
          <li class="divider"></li>
          <li><a {{ action 'logout' }}>Logout</a></li>
        </ul>

      </div>
      <div class="re-navbar-btn register grey-text valign-wrapper">
        <i class="mdi-action-note-add"></i>
        {{#link-to "datasets.register" class="valign"}}REGISTER DATA{{/link-to}}
        <!-- <a href="#modalRegister" class="modal-trigger valign">REGISTER DATA</a> -->
      </div>
      <div class="re-navbar-btn request grey-text valign-wrapper">
        <i class="mdi-content-content-paste"></i>
        <a href="#modalRequest" class="modal-trigger valign">REQUEST DATA</a>
      </div>
      {{else}}
      <ul class="right">
        <li>{{#link-to 'users.signup'}}SIGN UP{{/link-to}}</li>
        <li>{{#link-to 'users.login'}}LOGIN{{/link-to}}</li>
      </ul>
      {{/if}}
    </div>
  </nav>
</div>
