<nav class="navbar" id="navbar">
  <div class="navbar-wrapper">

    {{#link-to 'root'}}
    <div class="navbar-logo valign-wrapper">
      {{!-- <img id="mobile-logo" class="hide-on-med-and-up nav-logo-square" src="/assets/images/repositive-logo.png" alt="Repositive DNA logo"> --}}
      <img id="full-logo" class="responsive-img hide-on-small-only" src="/assets/images/logo-full.png" alt="Repositive DNA logo">
    </div>
    {{/link-to}}

    {{#if isAuthenticated}}

      <div class="navbar-container">
        <div class="navbar-search">
          <form {{action 'search' on='submit'}}>
              {{fa-icon "search"}}
              {{input
                type="text"
                class="unfocus-grey-text"
                placeholder="search cancer, prostate..."
                value=query
              }}
          </form>
        </div>
        <div class="navbar-buttons">
          <div class="navbar-button">
            {{#active-link}}
            {{#link-to "datasets.request" class="valign-wrapper"}}
              {{fa-icon "clipboard"}}<h6 class="uppercase">Request Data</h6>
            {{/link-to}}
            {{/active-link}}
          </div>
          <div class="navbar-button">
            {{#active-link}}
            {{#link-to "datasets.register" class="valign-wrapper"}}
              {{fa-icon "book"}}<h6 class="uppercase">Register Data</h6>
            {{/link-to}}
            {{/active-link}}
          </div>
        </div>
      </div>

      {{navbar-dropdown avatar=avatar firstname=firstname username=username}}

    {{else}}

      <div class="navbar-buttons">
        <div class="navbar-button">
          {{#active-link}}
            {{#link-to 'users.login' class="valign-wrapper"}}LOGIN{{/link-to}}
          {{/active-link}}
        </div>
        <div class="navbar-button">
          {{#active-link}}
            {{#link-to 'beta-signup-form' class="valign-wrapper"}}SIGNUP FOR BETA{{/link-to}}
          {{/active-link}}
        </div>
      </div>

    {{/if}}
  </div>
</nav>
