
<nav id="navbar">
  <div class="navbar-wrapper">

    {{#link-to 'root'}}
    <div class="navbar-logo valign-wrapper">
      {{!-- <img id="mobile-logo" class="hide-on-med-and-up nav-logo-square" src="/assets/images/repositive-logo.png" alt="Repositive DNA logo"> --}}
      <img id="full-logo" class="responsive-img hide-on-small-only" src="/assets/images/logo-full.png" alt="Repositive DNA logo">
    </div>
    {{/link-to}}

    {{#if session.isAuthenticated}}

    <div class="navbar-container">
      <div class="navbar-search">
        <form {{action 'search' on='submit'}}>
            <i class="small mdi-action-search"></i>
            {{input
              type="text"
              class="unfocus-grey-text"
              placeholder="search cancer, prostate..."
              value=query
            }}
        </form>
      </div>
      <div class="navbar-buttons">
        <div class="navbar-button">
          {{#active-link}}
          {{#link-to "datasets.request" class="valign-wrapper"}}
            <i class="mdi-content-content-paste"></i><h6 class="uppercase">Request Data</h6>
          {{/link-to}}
          {{/active-link}}
        </div>
        <div class="navbar-button">
          {{#active-link}}
          {{#link-to "datasets.register" class="valign-wrapper"}}
          <i class="mdi-action-note-add"></i><h6 class="uppercase">Register Data</h6>
          {{/link-to}}
          {{/active-link}}
        </div>
      </div>
    </div>


    {{navbar-dropdown action="initAvatar" avatar=avatar}}

    {{else}}

    <div class="navbar-buttons">
      <div class="navbar-button">
        {{#active-link}}
        {{link-to 'SIGNUP' 'root'}}
        {{/active-link}}
      </div>
      <div class="navbar-button">
        {{#active-link}}
        {{link-to 'LOGIN' 'users.login'}}
        {{/active-link}}
      </div>
    </div>

    {{/if}}
  </div>
</nav>
