<div class="u-bc-off-white c-navbar-wrapper u-pos-fixed u-pos-top0 u-full-width u-px2">
  <nav class="c-navbar u-flex u-justify-between u-items-center">

    <!-- LOGO -->
    {{#unless isAuthenticated}}
      <a href="https://repositive.io">
          <img src="/assets/images/logo-full-larger.png" class="c-navbar__site-logo" alt="Repositive DNA logo">
      </a>
    {{else}}
      {{#link-to 'root'}}
        <div class="c-navbar__site-logo">
          <img src="/assets/images/logo-full-larger.png" class="c-navbar__site-logo" alt="Repositive DNA logo">
        </div>
      {{/link-to}}
    {{/unless}}

    <!-- SEARCH -->
    {{#if isAuthenticated}}

      <div class="u-flex u-items-center">
        {{search-bar search=(route-action 'search')}}

        <div class="u-ta-center u-border-right u-px2">
          {{#link-to "datasets.request" class="u-tc-secondary"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 u-px1">Request Data</span>
          {{/link-to}}
        </div>


        <div class="u-ta-center u-border-right u-px2">
          {{#link-to "datasets.register" class="u-tc-secondary" }}
            {{fa-icon "file-text"}}
            <span class="u-fs1 u-px1">Register Data</span>
          {{/link-to}}
        </div>
      </div>

      {{navbar-dropdown avatar=avatar firstname=firstname username=username userId=userId}}

    {{else}}
    <div class="{{unless isRootRoute 'navbar-container' '' }}">
      {{#unless isRootRoute}}
        <div class="navbar-search">
          {{search-bar search=(route-action 'search')}}
        </div>
      {{/unless}}
    </div>
      <section class="u-fw-med u-full-height u-flex u-flex-row-reverse u-items-center">
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              {{#if isRootRoute}}
                {{#link-to 'users.signup' class="u-tc-teal" invokeAction=(action 'trackCreateAccount' 'discover_landingpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
              {{else}}
                {{#link-to 'users.signup' class="u-tc-teal" invokeAction=(action 'trackCreateAccount' 'discover_openpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
              {{/if}}
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2 c-divider-vertical">
            {{#active-link}}
              {{#link-to 'users.login' class="u-tc-secondary"}}LOGIN{{/link-to}}
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              <a href="http://blog.repositive.io/" class="u-tc-secondary">BLOG</a>
            {{/active-link}}
          </div>
          <div class="c-navbar__button u-p2">
            {{#active-link}}
              <a href="http://repositive.io/about" class="u-tc-secondary">ABOUT</a>
            {{/active-link}}
          </div>
      </section>
    {{/if}}

  </nav>
</div>
