<div class="bc-very-light-grey c-navbar-wrapper fixed top-0 u-full-width">
  <nav class="c-navbar flex justify-between items-center">

    <!-- LOGO -->
    {{#unless isAuthenticated}}
      <!-- desktop logo -->
      <a href="https://repositive.io" class="u-hide-on-sm-md c-navbar__element mr4 pl3 flex-shrink-none">
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      </a>
      <!-- mobile logo -->
      <a href="https://repositive.io" class="u-hide-on-lg u-w1 mr3 pl3 flex-shrink-none">
        <img src="/assets/images/repositive-logo.png" alt="Repositive DNA logo">
      </a>
    {{else}}
      <!-- desktop logo -->
      {{#link-to 'root' class="u-hide-on-sm-md c-navbar__element mr3 pl3 flex-shrink-none"}}
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      {{/link-to}}
      <!-- mobile logo -->
      {{#link-to 'root' class="u-hide-on-lg u-w1 mr3 pl3 flex-shrink-none"}}
        <img src="/assets/images/repositive-logo.png" alt="Repositive DNA logo">
      {{/link-to}}
    {{/unless}}

    <!-- SEARCH -->
    {{#if isAuthenticated}}

      <div class="c-navbar__center-block flex items-stretch">
        <div class="flex-grow">
          {{search-bar search=(route-action 'search')}}
        </div>

        {{#link-to "datasets.register" class="u-hide-on-sm-md flex items-center justify-center c-navbar__element fc-secondary border-right u-hv-bc-very-light-grey"}}
            {{fa-icon "file-text"}}
            <span class="fs1 pl2">Register Data</span>
        {{/link-to}}

        {{#link-to "datasets.request" class="u-hide-on-sm-md flex items-center justify-center c-navbar__element fc-secondary border-right u-hv-bc-very-light-grey"}}
            {{fa-icon "clipboard"}}
            <span class="fs1 pl2">Request Data</span>
        {{/link-to}}
      </div>
      <div class="flex self-stretch">
        {{navbar-notifier}}
        {{navbar-dropdown avatar=avatar firstname=firstname username=username userId=userId}}
      </div>
    {{else}}
      {{#unless isRootRoute}}

        <div class="c-navbar__center-block pl4 mr4 flex items-stretch">
          <div class="flex-grow">
            {{search-bar search=(route-action 'search')}}
          </div>
        </div>

      {{/unless}}
        <div class="u-hide-on-sm-md self-stretch flex pr3 flex-shrink-none">
          <a href="http://repositive.io/about" class="flex items-center px3 ta-center fc-secondary u-hv-bc-very-light-grey">About</a>
          <a href="http://blog.repositive.io/" class="flex items-center px3 ta-center border-right fc-secondary u-hv-bc-very-light-grey">Blog</a>
          {{#link-to 'users.login' class="flex items-center px3 ta-center fc-secondary u-hv-bc-very-light-grey"}}Login{{/link-to}}
          {{#if isRootRoute}}
            {{#link-to 'users.signup' class="flex items-center px3 ta-center fc-teal fw-med u-hv-bc-very-light-grey" invokeAction=(action 'trackCreateAccount' 'discover_landingpage_navbar_createAccount')}}Create Account{{/link-to}}
          {{else}}
            {{#link-to 'users.signup' class="flex items-center px3 ta-center fc-teal fw-med u-hv-bc-very-light-grey" invokeAction=(action 'trackCreateAccount' 'discover_openpage_navbar_createAccount')}}Create Account{{/link-to}}
          {{/if}}
        </div>

        <div class="u-hide-on-lg self-stretch flex">
          {{navbar-dropdown trackCreateAccount=(action 'trackCreateAccount')}}
        </div>

    {{/if}}
  </nav>
</div>
