<nav class="navbar" id="navbar">
  <div class="navbar-wrapper">

    {{#unless isAuthenticated}}
      <a href="https://repositive.io">
        <div class="navbar-logo valign-wrapper">
          <img id="full-logo" class="responsive-img hide-on-small-only" src="/assets/images/logo-full.png" alt="Repositive DNA logo">
        </div>
      </a>
    {{else}}
      {{#link-to 'root'}}
        <div class="navbar-logo valign-wrapper">
          <img id="full-logo" class="responsive-img hide-on-small-only" src="/assets/images/logo-full.png" alt="Repositive DNA logo">
        </div>
      {{/link-to}}
    {{/unless}}

    {{#if isAuthenticated}}

      {{#unless session.data.firstVisit}}
        <div class="navbar-container">
          <div class="navbar-search">
            <form {{action 'search' on='submit'}}>
                {{fa-icon "search"}}
                {{input
                  type="text"
                  class="unfocus-grey-text"
                  placeholder="search cancer, prostate..."
                  value=query
                  autofocus=true
                }}
            </form>
          </div>
          <div class="navbar-buttons">
            <div class="navbar-button">
              {{#active-link}}
              {{#link-to "datasets.request" class="valign-wrapper"}}
                {{fa-icon "clipboard"}}<h6 class="uppercase">Request Data</h6>
              {{/link-to}}
              {{/active-link}}
            </div>
            <div class="navbar-button">
              {{#active-link}}
              {{#link-to "datasets.register" class="valign-wrapper"}}
                {{fa-icon "book"}}<h6 class="uppercase">Register Data</h6>
              {{/link-to}}
              {{/active-link}}
            </div>
          </div>
        </div>

        {{navbar-dropdown avatar=avatar firstname=firstname username=username id=id}}
      {{/unless}}

    {{else}}

      <div class="navbar-buttons">
        <div class="navbar-button">
          {{#active-link}}
            {{#link-to 'users.login' class="valign-wrapper"}}LOGIN{{/link-to}}
          {{/active-link}}
        </div>
      </div>

    {{/if}}
  </div>
</nav>
