<div class="u-bc-off-white c-navbar-wrapper u-pos-fixed u-pos-top0 u-full-width">
  <nav class="c-navbar u-flex u-justify-between u-items-center">

    <!-- LOGO -->
    {{#unless isAuthenticated}}
      <a href="https://repositive.io" class="c-navbar__element u-mr2 u-pl2">
        <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
      </a>
    {{else}}
      {{#link-to 'root'}}
        <div class="c-navbar__element u-mr2 u-pl2">
          <img src="/assets/images/logo-full-larger.png" alt="Repositive DNA logo">
        </div>
      {{/link-to}}
    {{/unless}}

    <!-- SEARCH -->
    {{#if isAuthenticated}}

      <div class="c-navbar__center-block u-flex u-items-stretch">
        <div class="u-flex-grow-1">
          {{search-bar search=(route-action 'search')}}
        </div>

        {{#link-to "datasets.request" class="u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right u-hv-bc-off-white"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 u-pl1">Request Data</span>
        {{/link-to}}

        {{#link-to "datasets.register" class="u-flex u-items-center u-justify-center c-navbar__element u-tc-secondary u-border-right u-hv-bc-off-white"}}
            {{fa-icon "clipboard"}}
            <span class="u-fs1 u-pl1">Register Data</span>
        {{/link-to}}
      </div>

      {{navbar-dropdown avatar=avatar firstname=firstname username=username userId=userId}}

    {{else}}

      <div class="{{unless isRootRoute 'navbar-container' '' }}">
        {{#unless isRootRoute}}
          <div class="navbar-search">
            {{search-bar search=(route-action 'search')}}
          </div>
        {{/unless}}
      </div>
      <section class="u-fw-med u-flex u-self-stretch u-items-center u-px2">
        <div>
          <a href="http://repositive.io/about" class="u-tc-secondary u-px2 u-fs1">ABOUT</a>
        </div>
        <div>
          <a href="http://blog.repositive.io/" class="u-tc-secondary u-px2 u-fs1">BLOG</a>
        </div>
        <div class="u-self-stretch u-flex u-items-center u-border-left">
          {{#link-to 'users.login' class="u-tc-secondary u-px2 u-fs1"}}LOGIN{{/link-to}}
        </div>

        {{#if isRootRoute}}
          {{#link-to 'users.signup' class="u-tc-teal u-fs1" invokeAction=(action 'trackCreateAccount' 'discover_landingpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
        {{else}}
          {{#link-to 'users.signup' class="u-tc-teal u-fs1" invokeAction=(action 'trackCreateAccount' 'discover_openpage_navbar_createAccount')}}CREATE ACCOUNT{{/link-to}}
        {{/if}}
      </section>

    {{/if}}

  </nav>
</div>
