<main class="col m12">
  <div class="card dataset card-comp">

    <section class="card-type-section col m2">
      {{fa-icon "clipboard"}}
      <p>Data Request</p>
    </section>

    <section class="card-user-section col m2">
      {{#if dataset.userId.displayName}}
        {{#link-to 'user' dataset.userId.id}}
          <img src={{dataset.userId.userProfile.avatar}} class="data-icon round-img">
          <p>{{dataset.userId.displayName}}</p>
        {{/link-to}}
      {{else}}
        <a>
          <img src="/assets/images/logo-repositive.png" class="data-icon round-img">
          <p>A Repositive user</p>
        </a>
      {{/if}}
      <span class="helper-text">is looking for data</span>
    </section>

    <section class="card-content-section col m7">
      {{#link-to 'requests.detail' dataset.id classNames="data-title"}}
        <h4 class="data-title">{{dataset.title}}</h4>
      {{/link-to}}
      <p class="markdown-experiment">{{markdown-to-html markdown=dataset.description}}</p>
    </section>

  </div>
</main>
