<main class="col m12">
  <div class="card dataset card-comp">

    <section class="card-type-section col m2">
      <img src="/assets/images/icons/icon-datasource@2x.png" class="data-icon">
      <p>Data Source</p>
    </section>

    <section class="card-user-section col m3">
      {{#link-to 'datasources.source' source.id classNames="data-title"}}
        {{#if source.properties.logo}}
          <img src={{source.properties.logo}} height="35px">
        {{/if}}
        {{#if source.name}}
          <p class="data-title">{{source.name}}</p>
        {{else}}
          <p class="data-title">{{source.properties.short_name}}</p>
        {{/if}}
      {{/link-to}}
    </section>

    <section class="card-content-section col m7">
      {{#if source.description}}
        <div class="source-text">
          <p class="markdown-text">{{markdown-to-html markdown=source.description}}</p>
        </div>
      {{/if}}
    </section>

  </div>
</main>
