<section class="metadata-panel source-panel">
  <header>
    {{#unless (eq type 'personal_repository')}}
      {{panel-back-button route='datasources'}}
    {{/unless}}
    <img src="/assets/images/icons/icon-datasource-white@2x.png" class="data-icon">
    <h5>Data Source</h5>
  </header>

  <!-- <ul class="tabs">
    <a {{action "showInfo"}}>
      <li class="tab {{if displayInfo "active-tab"}}"><h5>More Information</h5></li>
    </a>
    <a {{action "showFilters"}}>
      <li class="tab {{unless displayInfo "active-tab"}}"><h5>Filters</h5></li>
    </a>
  </ul> -->

  {{#if displayInfo}}
    <main>
      <div class="panel-header">
        <h3>{{source-name-fallback model=model}}</h3>
        {{#unless (eq type 'datasource')}}
          <p>{{collection-created-by user=model.userId type=type}}</p>
        {{/unless}}
      </div>

      <div class="divider"></div>

      <section class="stats-numbers">
        {{stats-list stats=collectionStats statType="datasource"}}
      </section>

      {{#if model.description}}
        {{collapsible-description description=model.description}}
      {{/if}}

      {{#if model.image}}
        <div class="divider"></div>
        <img src="{{model.image}}" class="logo-img">
      {{/if}}
    </main>

  {{else}}
    {{meta-panel-filters}}
  {{/if}}
</section>
