<main class="col s12 m4 l4">
  <div class="card dataset card-comp">

    <header class="card-header">
      <div class="assay-container">
        <img src="/assets/images/icon-datasource-2.0.png">
        {{#if source.createdAt}}<p>{{moment-from-now source.createdAt hideSuffix=true}} ago</p>{{/if}}
      </div>
      <div class="actions-container valign-wrapper">
        {{action-favourite action="toggleModal" source=source}}
        <span class="grey-text">{{source.favourite}}</span>
        {{action-share action="toggleModal" source=source}}
      </div>
    </header>

    <div class="card-body">
      <header>
        <img src="/assets/images/logo-complete-genomics.png">
      </header>

      {{#link-to 'datasources.source' source.id classNames="data-title"}}
        <div data-balloon={{source.name}} data-balloon-pos="up" data-balloon-length="large">
          <h4 class="data-title">{{source.shortName}}</h4>
        </div>
      {{/link-to}}

      <div class="line-limit-desc">
        <div class="ellipsis">
          <p class="sub-grey">
            {{source.description}}
          </p>
        </div>
      </div>

    </div>

    {{card-footer model=source}}
  </div>
</main>
