<section class="metadata-panel source-panel">
  <header>
    {{#link-to 'datasources' class="left-align" invokeAction=(action 'trackBackClick')}}
      {{fa-icon "chevron-left"}}
    {{/link-to}}
    <img src="/assets/images/icons/icon-datasource-white@2x.png" class="data-icon">
    <h5>Data Source</h5>
  </header>

  <!-- <ul class="tabs">
    <a {{action "showInfo"}}>
      <li class="tab {{if displayInfo "active-tab"}}"><h5>More Information</h5></li>
    </a>
    <a {{action "showFilters"}}>
      <li class="tab {{unless displayInfo "active-tab"}}"><h5>Filters</h5></li>
    </a>
  </ul> -->

  {{#if displayInfo}}
    <main>
      <h3>{{name-fallback model=model}}</h3>
      <div class="divider"></div>

      <!-- TODO turn these into components -->
      <section class="stats-numbers">
        <div class="stats-number">
          <span class="data-num">{{rough-estimate collectionStats.datasets}}</span>
          <p>Datasets</p>
        </div>
        {{#if model.properties.access}}
          <div class="stats-number">
            {{#if (eq model.properties.access "open")}}
              <span class="data-num">{{fa-icon "globe"}}</span>
              <p>Open Access</p>
            {{else if (eq model.properties.access "restricted")}}
              <span class="data-num">{{fa-icon "lock"}}</span>
              <p>Restricted</p>
            {{/if}}
          </div>
        {{/if}}

        <!-- <div class="stats-number">
          <span class="data-num">{{fa-icon "map-marker"}}</span>
          <p>China</p>
        </div> -->
      </section>

      {{#if model.description}}
        <div class="divider"></div>
        <p class="markdown-text">{{markdown-to-html markdown=model.description}}</p>
      {{/if}}

      {{#if model.image}}
        <div class="divider"></div>
        <img src="{{model.image}}" class="logo-img">
      {{/if}}
    </main>

  {{else}}
    {{meta-panel-filters}}
  {{/if}}
</section>
