<div class="settings-tabs content">
  <div class="settings-tabs row">
    <div class="col m12">
      <div class="card">
        <ul class="tabs">
          <li class="tab s-tab">
            {{#if (eq active "settings")}}
              {{#link-to 'users.settings' class="active"}}SETTINGS{{fa-icon "cog"}}{{/link-to}}
            {{else}}
              {{#link-to "users.settings"}}SETTINGS{{fa-icon "cog"}}{{/link-to}}
            {{/if}}
          </li>
          <li class="tab s-tab">
            {{#if (eq active "profile")}}
              {{#link-to "users.profile"  class="active"}}EDIT PROFILE{{fa-icon "user"}}{{/link-to}}
            {{else}}
              {{#link-to "users.profile" }}EDIT PROFILE{{fa-icon "user"}}{{/link-to}}
            {{/if}}
          </li>
          <li class="tab s-tab">
            {{#if (eq active "trust")}}
              {{#link-to "users.trust" class="active"}}TRUST{{fa-icon "check-circle"}}{{/link-to}}
            {{else}}
              {{#link-to "users.trust"}}TRUST{{fa-icon "check-circle"}}{{/link-to}}
            {{/if}}
          </li>
          <li class="tab s-tab">
            {{#if (eq active "references")}}
              {{#link-to "users.references" class="active"}}REFERENCES{{fa-icon "gift"}}{{/link-to}}
            {{else}}
              {{#link-to "users.references"}}REFERENCES{{fa-icon "gift"}}{{/link-to}}
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
