{{#link-to target (query-params help=queryParams) class="u-tc-secondary u-fs2 "}}
  <li class="u-p1 {{unless active 'u-hv-bc-off-white'}}">

    <!--If there is a left icon-->
    {{#if (eq iconPosition "left")}}
      {{#if icon}}
        {{fa-icon icon}}
      {{/if}}
    {{/if}}

    <!--Title of Tab-->
    <span class="u-px1 u-fw-reg">{{title}}</span>

    <!--Stats-->
    {{#if stats}}
      <span class="u-fw-med u-px1">{{stats}}</span>
    {{/if}}

    <!--If there is a right icon-->
    {{#if (eq iconPosition "right")}}
      {{#if icon}}
        {{fa-icon icon}}
      {{/if}}
    {{/if}}
  </li>
{{/link-to}}
