{{#flash-message class="c-flash-message" flash=flash as |component flash|}}
  <div class="u-p2 u-fs3 u-ta-center c-flash-message--{{flash.type}}">
    {{fa-icon icon}}
    {{flash.message}}
    <span class="c-flash-message-close" {{action "closeMessages"}}>{{fa-icon "times"}}</span>
  </div>
{{/flash-message}}
