{{#link-to 'user' user.id disabled=(not session.isAuthenticated) invokeAction=(action 'toggleCreateAccountModal') classNames="u-hv-bc-darken5 block py3 pl2"}}
  <img class="circle icon-large mr2" src="{{user.userProfile.avatar}}" />

  <div class="inline-block {{if user.userProfile.workOrganisation 'absolute'}} {{if currentUser 'absolute'}}">
    <h4 class="flex items-center mb0 fs2 fc-primary">
      {{user.displayName}}
      {{#if timestamp}}
        <span class="fc-tertiary pl2 fs0 fw-reg">{{moment-from-now timestamp allowEmpty=true}}</span>
      {{/if}}
    </h4>

    {{#if user.userProfile.workOrganisation}}
      <p class="mb0 fs1">{{truncate user.userProfile.workOrganisation 55}}</p>
    {{else}}
      {{#if currentUser}}
        {{#link-to 'users.profile' classNames="fc-secondary td-underline"}}Add your affiliation{{/link-to}}
      {{/if}}
    {{/if}}
  </div>
{{/link-to}}

{{#if showCreateAccountModal}}
  {{! "container-class" is a temporary solution, changes in ember modal dialog required }}
  {{#repositive-modal
    container-class='c-modal--medium u-z5'
    close=(action 'toggleCreateAccountModal')
  }}
    {{repositive-modal/header
      title='View User Profiles'
      onClose=(action 'toggleCreateAccountModal')
    }}
    {{#repositive-modal/content}}
      {{create-account-modal-content text="To view this user's profile, please create an account."}}
    {{/repositive-modal/content}}
  {{/repositive-modal}}
{{/if}}
