{{yield}}
<div class="comment">
  <div class="comment-header">
    <div class="dp-wrapper">
      {{#link-to 'user' user.id}}
        <img src={{avatar}}>
      {{/link-to}}
    </div>
    {{#link-to 'user' user.id disabled=disabled class='comment-author-link'}}<h4>{{user.displayName}}</h4>{{/link-to}}
    <span>{{moment-from-now date allowEmpty=true}}</span>
  </div>
  <div class="comment-body">
    <p class="markdown-text">{{markdown-to-html markdown=text extensions='targetBlankLinks'}}</p>
  </div>
</div>
