{{user-preview user=comment.userId timestamp=comment.createdAt disabled=disabled}}

<!-- Comment -->
{{#unless inEditMode}}
  <div class="u-flex u-items-start u-justify-between">
    <p class="u-markdown-formatting mb0 pl3">{{markdown-to-html markdown=comment.properties.text extensions='targetBlankLinks sanitize'}}</p>
    {{#if (and canEdit (not inEditMode))}}
      {{fa-icon 'pencil' class='fc-tertiary u-hv-tc-secondary cursor-pointer fs2 pr3' click=(action 'enterEditMode')}}
    {{/if}}
  </div>
{{else}}
  <form class="mb4">
    {{validated-input
      type="textarea"
      value=text
      noMarkdown=true
      noLabel=true
      errors=validations.attrs.text.messages
    }}
    {{async-button
      class="c-btn c-btn-primary px3 py2 m3"
      action=(action 'save')
      default="Save"
      pending="Saving..."
      disableWhen=(not validations.isValid)
    }}
    <button class="c-btn c-btn-text-secondary" {{action 'cancelEditMode'}}>Cancel</button>
  </form>
{{/unless}}

{{#if showCreateAccountModal}}
  {{! "container-class" is a temporary solution, changes in ember modal dialog required }}
    {{#repositive-modal
      container-class='c-modal--medium u-z5'
      close=(action 'toggleCreateAccountModal')
    }}
      {{repositive-modal/header
        image=comment.userId.userProfile.avatar
        title=(concat 'View ' comment.userId.firstname '\'s profile')
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{#repositive-modal/content}}
        {{create-account-modal-content text='To see another user\'s profile, create an account.'}}
      {{/repositive-modal/content}}
    {{/repositive-modal}}
{{/if}}
