{{#if addingCredential}}
  {{email-verification credential=credential addingCredential=addingCredential}}
{{else}}
  <div class="u-flex u-items-center u-justify-between u-mb1">
    <p class="u-mb0 u-fs2">Primary Email</p>
    <p class="u-tc-teal u-fw-med u-mb0 u-fs2">Your email is verified.</p>
  </div>
  <div class="u-flex">
    <p class="u-mb0 u-mr1">{{credential.main_credential.email}}</p>
  </div>
  <div class="u-py2">
    {{#if credential.secondary_credentials}}
      <p class="u-mb0 u-fs2">Secondary Emails</p>
      {{#each credential.secondary_credentials as |credential|}}
        <p class="u-mb0">{{credential.email}}</p>
      {{/each}}
    {{/if}}
    <a class="u-tc-secondary u-td-underline" {{action 'addCredential'}}>Add New Credential</a>
  </div>
{{/if}}

{{#link-to 'users.change-password' class='c-btn c-btn-secondary'}}
  Change Password
{{/link-to}}
