{{user-preview user=comment.userId timestamp=comment.createdAt disabled=disabled}}

<!-- Comment -->
{{#unless inEditMode}}
  <div class="flex items-start justify-between">
    <p class="u-markdown-formatting mb0 pl3">{{markdown-to-html markdown=comment.properties.text extensions='targetBlankLinks sanitize'}}</p>
    {{#if (and canEdit (not inEditMode))}}
      <div>
        {{fa-icon 'pencil' class='fc-tertiary u-hv-tc-secondary cursor-pointer fs2 pr2' click=(action 'enterEditMode')}}
        {{fa-icon 'trash' class='fc-tertiary u-hv-tc-secondary cursor-pointer fs2 pr2' click=(action 'deleteComment' comment)}}
      </div>
    {{/if}}
  </div>
{{else}}
  <form class="mb4">
    {{validated-input
      errors=validations.attrs.text.messages
      type="textarea"
      value=text
      noMarkdown=true
      noLabel=true
    }}
    {{async-button
      class="c-btn c-btn-primary px3 py2 mr3"
      action=(action 'save')
      default="Save"
      pending="Saving..."
      disableWhen=(not validations.isValid)
    }}
    {{rui/r-button variant="cancel" label="Cancel" clickHandler=(action "cancelEditMode")}}
  </form>
{{/unless}}

{{#if showCreateAccountModal}}
  {{! "container-class" is a temporary solution, changes in ember modal dialog required }}
    {{#repositive-modal
      container-class='c-modal--medium u-z5'
      close=(action 'toggleCreateAccountModal')
    }}
      {{repositive-modal/header
        image=comment.userId.profile.avatar
        title=(concat 'View ' comment.userId.firstname '\'s profile')
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{#repositive-modal/content}}
        {{create-account-modal-content text='To see another user\'s profile, create an account.'}}
      {{/repositive-modal/content}}
    {{/repositive-modal}}
{{/if}}
