<div>
  {{#link-to 'user' user.id disabled=disabled class="media" invokeAction=(action 'toggleCreateAccountModal')}}
    <img class="c-img-circle c-image-avatar" src={{avatar}}>
    <div class="u-pl1">
      <h4 class='fs2 u-tc-secondary u-mb0'>{{user.displayName}}</h4>
      <span class="u-tc-tertiary fs1">{{moment-from-now date allowEmpty=true}}</span>
    </div>
  {{/link-to}}
  <div>
    <p class="u-text-break-word">{{markdown-to-html markdown=text extensions='targetBlankLinks'}}</p>
  </div>
  <div class="c-divider"></div>
</div>

{{#if showCreateAccountModal}}
  {{#modal-dialog
    close=(action 'toggleCreateAccountModal')
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{#repositive-modal/wrapper size='medium'}}
      {{repositive-modal/header
        image=avatar
        alternateBackground=true
        title=(concat 'View ' user.firstname '\'s profile')
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{create-account-modal-content text="To see another user's profile, create an account."}}
    {{/repositive-modal/wrapper}}
  {{/modal-dialog}}
{{/if}}
