<div>
  {{#link-to 'user' user.id disabled=disabled invokeAction=(action 'toggleCreateAccountModal')}}
    <img src={{avatar}} class="u-w1" />
    <span class="fs2">{{user.displayName}}</span>
  {{/link-to}}
    <span class="u-tc-tertiary fs0">{{moment-from-now date allowEmpty=true}}</span>

  <div class="u-pr3">
    <p class="u-line-break u-mb0">{{markdown-to-html markdown=text extensions='targetBlankLinks'}}</p>
  </div>
</div>

{{#if showCreateAccountModal}}
  {{#modal-dialog
    close=(action 'toggleCreateAccountModal')
    targetAttachment="center"
    translucentOverlay=true
  }}
    {{#repositive-modal/wrapper size='medium'}}
      {{repositive-modal/header
        image=avatar
        alternateBackground=true
        title=(concat 'View ' user.firstname '\'s profile')
        onClose=(action 'toggleCreateAccountModal')
      }}
      {{create-account-modal-content text="To see another user's profile, create an account."}}
    {{/repositive-modal/wrapper}}
  {{/modal-dialog}}
{{/if}}
