{{#link-to 'user' user.id disabled=disabled invokeAction=(action 'toggleCreateAccountModal')}}
  <img class="u-circle u-w1-5 u-mr1" src="{{user.userProfile.avatar}}" />
{{/link-to}}

<div class="u-inline-block {{if user.userProfile.workOrganisation 'u-pos-absolute'}} {{if currentUser 'u-pos-absolute'}}">
  {{#link-to 'user' user.id disabled=disabled invokeAction=(action 'toggleCreateAccountModal')}}
    <h4 class="u-flex u-items-center u-mb0 u-fs2 u-tc-primary">
      {{user.displayName}}
      {{#if timestamp}}
        <span class="u-tc-tertiary u-pl1 u-fs0 u-fw-reg">{{moment-from-now timestamp allowEmpty=true}}</span>
      {{/if}}
    </h4>
  {{/link-to}}

  {{#if user.userProfile.workOrganisation}}
    <p class="u-mb0 u-fs1">{{truncate user.userProfile.workOrganisation 55}}</p>
  {{else}}
    {{#if currentUser}}
      {{#link-to 'users.profile' classNames="u-tc-secondary u-td-underline"}}Add your affiliation{{/link-to}}
    {{/if}}
  {{/if}}
</div>
