{{yield}}
<div class="comment">
  <div class="comment-header">
    <div class="dp-wrapper">
      {{#link-to 'user' user.username}}
        <img src={{avatar}}>
      {{/link-to}}
    </div>
    {{#link-to 'user' user.username}}<h4>{{user.displayName}}</h4>{{/link-to}}
    <span>{{moment-from-now date}}</span>
  </div>
  <div class="comment-body">
    {{markdown-text value=text}}
  </div>
  <!-- <div class="comment-footer">
    <ul class="list-inline">
      <li><a class="btn-upvote">Upvote<span>41</span></a></li>
      <li><a>Downvote</a></li>
      <li><a>Reply</a></li>
      <li><a>Flag</a></li>
    </ul>
  </div> -->
</div>
