{{#if mainCredentialNotVerified}}

  <div class="c-flash-message--info u-p2 u-z1 u-mb3 u-rounded">
    <h3 class="u-mb2">Account not verfied</h3>
    <p class="u-mb2 u-mr1">We sent you an email to <strong class="u-fw-bold">{{credentials.main_credential.email}}</strong>, please check your email.</p>
    <a class="u-tc-secondary u-td-underline" {{action 'sendVerificationEmail' credentials.main_credential.email}}>Resend Verification Email</a>
  </div>

{{else if pendingCredential}}

  <div class="c-flash-message--info u-p2 u-z1 u-mb3 u-rounded">
    <h3 class="u-mb2">New email not verified</h3>
    <p class="u-mb2 u-mr1">We sent you an email to <strong class="u-fw-bold">{{pendingCredential.email}}</strong>, please check your email.</p>
    <a class="u-tc-secondary u-td-underline u-mb2 u-block" {{action 'sendVerificationEmail' pendingCredential.email}}>Resend Verification Email</a>
    <p class="u-fs1 u-fw-reg u-tc-tertiary u-mb0">We'll keep using your old email address ({{credentials.main_credential.email}}) until you verify your new one.</p>
  </div>

{{/if}}

{{#if addingCredential}}
  {{email-verification
    credentials=credentials
    toggleAddCredentialInput=(action 'toggleAddCredentialInput')}}
{{else}}
  {{credential-list
    credentials=credentials
    toggleAddCredentialInput=(action 'toggleAddCredentialInput')}}
{{/if}}

{{#link-to 'users.change-password' class='c-btn c-btn-secondary'}}
  Change Password
{{/link-to}}
