{{#if (eq type "textarea")}}
  {{textarea
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    disabled=disabled
    class="u-textarea-resize-v"
  }}
  {{#unless (or disabled noMarkdown)}}
    <a class="u-fs0" {{action "toggleMarkdownModal"}}><span>How to format text with Markdown?</span></a>
  {{/unless}}
{{else}}
  {{input
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    insert-newline='submitForm'
    disabled=disabled
  }}
{{/if}}

{{#if showInvalid}}
  <ul class="u-tc-red o-list-flush-left">
    {{#each errors as |error|}}
      <li>{{error}}</li>
    {{/each}}
  </ul>
{{else}}
  <span>{{helpText}}</span>
{{/if}}

{{#if isShowingMarkdownModal}}
  {{markdown-modal action="toggleMarkdownModal"}}
{{/if}}
