{{#unless showCommentButtons}}
  <label for="{{elementId}}" class="c-validated-input-label u-tc-secondary">
    {{label}}
  </label>
{{/unless}}

{{#if (eq type "textarea")}}
  {{textarea
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    disabled=disabled
    class="u-textarea-resize-v"
  }}
  {{#unless (or disabled noMarkdown)}}
    <a class="u-fs0" {{action "toggleMarkdownModal"}}>How to format text with Markdown?</a>
  {{/unless}}
{{else}}
  {{#if showPasswordButton}}
    <a class="c-pw-text-btn" {{action 'togglePasswordVisibility'}}>{{#if showPassword}} Hide Password {{else}} Show Password {{/if}}</a>
    {{#if value}}{{password-strength strength=passwordStrength}}{{/if}}
  {{else if resetPassword}}
    <a class="c-pw-text-btn" {{action resetPassword}}>Reset Password</a>
  {{/if}}
  {{input
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    insert-newline='submitForm'
    disabled=disabled
  }}
{{/if}}

<div class="c-validated-input-msg-container">
  {{#if isInvalid}}
    <ul class="o-list-flush-left u-mb0">
      {{#each errors as |error|}}
        <li class="u-ta-left u-tc-red c-validated-input-msg">{{error}}</li>
      {{/each}}
    </ul>
  {{else if (and helpText (and isActive (not isValid)))}}
    <p class="u-ta-left u-tc-tertiary c-validated-input-msg">{{helpText}}</p>
  {{/if}}
</div>

{{#if isShowingMarkdownModal}}
  {{markdown-modal action="toggleMarkdownModal"}}
{{/if}}
