{{yield}}

<div class="input-field">
  {{#if textarea}}
    {{textarea
      value=value
      focus-in="focusedIn"
      focus-out="focusedOut"
      type=type
      placeholder=placeholder
    }}
  {{else}}
    {{input
      value=value
      focus-in="focusedIn"
      focus-out="focusedOut"
      type=type
      placeholder=placeholder
      insert-newline='submitForm'
    }}
  {{/if}}
</div>
<div class="lbl">{{lbl}}</div>

{{#if (eq icon "fullname")}} <i class="fa fa-user"></i> {{/if}}
{{#if (eq icon "password")}} <i class="fa fa-lock"></i> {{/if}}
{{#if (eq icon "email")}} <i class="fa fa-envelope"></i> {{/if}}

{{#if showInvalid}}
  <div class="errors">
    <ul class="text-invalid error-text">
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="input-helper">{{helpText}}</div>
{{/if}}
