{{yield}}

<div class="input-field">
  {{input
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    insert-newline='submitForm'}}
</div>
<div class="lbl">{{label}}</div>
<div class="input-helper">
  {{#if showError}}
    {{#each error in errors}}
      <div class="text-invalid error-text">{{ error }}</div>
    {{/each}}
  {{else}}
    {{helpText}}
  {{/if}}
</div>
