{{yield}}

<div class="input-field">
  {{#if textarea}}
    <div class="markdown-textarea">
      {{textarea
        value=value
        focus-in="focusedIn"
        focus-out="focusedOut"
        type=type
        placeholder=placeholder
      }}
    </div>
    <a class="help-link" {{action "toggleMarkdownModal"}}><span>How to format text with Markdown?</span></a>
  {{else}}
    {{input
      value=value
      focus-in="focusedIn"
      focus-out="focusedOut"
      type=type
      placeholder=placeholder
      insert-newline='submitForm'
    }}
  {{/if}}
</div>
<div class="lbl">{{lbl}}</div>

{{#if (eq placeholder "Full Name")}}{{fa-icon "user"}}{{/if}}
{{#if (eq type "password")}}{{fa-icon "lock"}}{{/if}}
{{#if (eq type "email")}}{{fa-icon "envelope"}}{{/if}}

{{#if showInvalid}}
  <div class="errors">
    <ul class="text-invalid error-text">
      {{#each errors as |error|}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  </div>
{{else}}
  <div class="input-helper">{{helpText}}</div>
{{/if}}

{{#if isShowingMarkdownModal}}
  {{markdown-modal action="toggleMarkdownModal"}}
{{/if}}
