{{#if (eq type "textarea")}}
  {{textarea
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    disabled=disabled
    class="u-textarea-resize-v"
  }}
  {{#unless (or disabled noMarkdown)}}
    <a class="u-fs0" {{action "toggleMarkdownModal"}}>How to format text with Markdown?</a>
  {{/unless}}
{{else}}
  {{#if showPasswordButton}}
    <a class="c-show-pw-btn" {{action 'togglePasswordVisibility'}}>{{#if showPassword}} Hide Password {{else}} Show Password {{/if}}</a>
    {{#if value}}{{password-strength strength=passwordStrength}}{{/if}}
  {{/if}}
  {{input
    value=value
    focus-in="focusedIn"
    focus-out="focusedOut"
    type=type
    placeholder=placeholder
    insert-newline='submitForm'
    disabled=disabled
  }}
{{/if}}

{{#if isInvalid}}
  <ul class="o-list-flush-left u-mb0">
    {{#each errors as |error|}}
      <li class="u-tc-red c-validated-input-msg">{{error}}</li>
    {{/each}}
  </ul>
{{else if (and isActive (not isValid))}}
  <span class="u-tc-tertiary c-validated-input-msg">{{helpText}}</span>
{{/if}}

{{#if isShowingMarkdownModal}}
  {{markdown-modal action="toggleMarkdownModal"}}
{{/if}}
