
{{#link-to 'user' user.id disabled=(not session.isAuthenticated) invokeAction=(action 'toggleCreateAccountModal') classNames="u-hv-bc-darken5 block py3 pl2"}}
  <div class="relative inline-block mr3">
    {{r-avatar src=user.profile.avatar size="large"}}
    {{reputation-total total=user.reputationTotal class="c-reputation-total-small fs0"}}
  </div>

  <div class="inline-block {{if user.profile.work_organisation 'absolute'}} {{if currentUser 'absolute'}}">
    <h4 class="flex items-center mb0 fs2 fc-primary">
      {{truncate user.displayName 35}}
      {{#if timestamp}}
        <span class="fc-tertiary pl2 fs0 fw-reg">{{moment-from-now timestamp allowEmpty=true}}</span>
      {{/if}}
    </h4>

    {{#if user.profile.work_role}}
      <p class="mb0 inline fs1">{{truncate user.profile.work_role 55}}</p>
    {{/if}}
    {{#if (and user.profile.work_role user.profile.work_organisation)}}
      <p class="mb0 inline fs1">at</p>
    {{/if}}
    {{#if user.profile.work_organisation}}
      <p class="mb0 inline fs1">{{truncate user.profile.work_organisation 55}}</p>
    {{else}}
      {{#if currentUser}}
        {{#link-to 'users.profile' classNames="fc-secondary td-underline"}}Add your affiliation{{/link-to}}
      {{/if}}
    {{/if}}
  </div>
{{/link-to}}

{{#if showCreateAccountModal}}
  {{#repositive-modal
    containerClass='c-modal--medium u-z5'
    onClose=(action 'toggleCreateAccountModal')
  }}
    {{repositive-modal/header
      title='View User Profiles'
      onClose=(action 'toggleCreateAccountModal')
    }}
    {{#repositive-modal/content}}
      {{create-account-modal-content text="To view this user's profile, please create an account."}}
    {{/repositive-modal/content}}
  {{/repositive-modal}}
{{/if}}
