<div class="col s12 m6 l4">
  <div class="card dataset">
    <div class="card-header">
      <div class="assay-container">
        {{#link-to 'datasets.search' (query-params assayType=dataset.properties.assayType) }}
        {{assay-label assay=dataset.properties.assayType model=model}}
        {{/link-to}}
        {{#if isRequest}}<div class="request">Request</div>{{/if}}
      </div>
      <div class="actions-container valign-wrapper">
        {{action-favourite}}
        <span class="grey-text">{{data.favourite}}</span>
        {{action-share action="showModal"}}
      </div>
    </div>
    <div class="card-body">
      {{#if dataset.highlights.title}}
        {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
        <h2 class="card-title-limit data-title">
            {{{dataset.highlights.title}}}
        </h2>
        {{/link-to}}
      {{else}}
        {{#link-to 'datasets.detail' dataset.id classNames="data-title"}}
        <h2 class="card-title-limit data-title">
          {{dataset.properties.title}}
        </h2>
        {{/link-to}}
      {{/if}}

      {{#if dataset.repository.name}}
      <span>from </span>
        <span>
          {{#link-to 'datasets.search' (query-params repository=dataset.repository.name) }}
            {{dataset.repository.name}}
          {{/link-to}}
        </span>

      {{else}}
        {{#link-to 'user' dataset.owner.username}}
          <span>{{dataset.owner.username}}</span>
        {{/link-to}}
      {{/if}}

      <!-- data when data was registered on repository
      <i class="mdi-action-today"></i><span>{{data.date}}</span> -->
      <p class="card-line-limit">
        {{#if dataset.highlights.description}}
          {{{dataset.highlights.description}}}
        {{else}}
          {{dataset.properties.description}}
        {{/if}}
        </p>
    </div>
    <div class="card-footer">
      <ul>

        {{#if isPublic}}
        <li class="access-icons">
          <i
            class="mdi-social-public teal-text tooltiped"
            data-position="bottom"
            data-tooltip="Public Access"
            title="Public"></i>
          <span class="red-text">
            {{dataset.repository.accessType}}
          </span>
        </li>

        {{else}}
        <li class="access-icons">
          <i
            class="mdi-action-lock red-text tooltiped"
            data-position="bottom"
            data-tooltip="Restricted Access"
            title="Access application needed"></i>
          <span class="red-text">
            {{dataset.repository.accessType}}
          </span>
        </li>

        {{/if}}
        <li class="tooltipped" data-position="bottom" data-tooltip="Views">
          <i class="mdi-action-visibility"></i><span>{{dataset.views}}</span>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Comments"><i class="mdi-action-question-answer"></i><span>{{data.comments}}</span></li>
      </ul>
    </div>
  </div>
</div>
