
<!-- CSS Refactor: still need to account for Open Dataset styles -->
{{#unless session.isAuthenticated}}
  {{#full-page-notification}}
    <h3 class="u-mr3 u-mb2 u-tc-secondary">Search through <strong class="u-pl1 u-pr1 u-fs4">{{datasetsNumber}}</strong> human genomic datasets</h3>
    {{#link-to 'root' class='c-btn c-btn--primary c-btn--shadow' invokeAction=(action 'trackLinkEvent')}}
      Search now
    {{/link-to}}
  {{/full-page-notification}}
{{/unless}}

<div class="grid-wrapper grid-wrapper-stepped {{unless session.isAuthenticated 'u-pt5' ''}}">
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card c-card-detail-overflow {{unless session.isAuthenticated 'dataset-notification-margin' ''}}">
        <div class="grid grid--no-gutter u-full-height">

          <!-- dataset -->
          <div class="grid__col grid__col--7-of-12 u-pos-relative u-full-height">
            <!-- header -->
            <header class="c-card-header u-bc-off-white u-flex u-justify-between u-items-center u-px2">
              <ul class="o-list-inline o-list-flush-left u-mb0">
                {{#if dataset.assay}}
                  {{assay-type assay=dataset}}
                {{/if}}
              </ul>

              <ul class="o-list-inline o-list-flush-left u-mb0">
                {{action-favourite model=dataset class="u-mr1"}}
                {{action-share
                  actionableId=dataset.id
                  actionableType='dataset'
                  shareUrl=datasetUrl
                }}
              </ul>
            </header>

            <!-- body -->
            <div class="u-p2">
              <!-- heading/description -->
              <h2 class="u-fs2 u-fw-med u-tc-primary u-mb1">{{dataset.title}}</h2>
              {{#if dataset.description}}
                <p class="u-markdown-formatting u-fs1">{{markdown-to-html markdown=dataset.description}}</p>
              {{/if}}

              <!-- tags -->
              <div class="u-pt2 u-pb1">
                {{#each tags as |tag|}}
                  {{tag-item tag=tag}}
                {{/each}}
              </div>
              {{#if session.isAuthenticated}}
              <div class="u-pl3">
                {{add-tag addTag=(action 'addTag')}}
              </div>
              <span class="u-fs0 u-tc-tertiary">Add tags to improve searching and browsing through data. <a {{action "toggleTagModal"}}>Learn more</a></span>
              {{/if}}
            </div>

            <!-- footer -->
            <div class="u-pos-absolute u-full-width u-pos-bottom0 u-bc-white u-p2 u-border-top">

              {{#unless session.isAuthenticated}}
                {{create-account-call-to-action}}
              {{/unless}}
              <ul class="o-list-flush-left u-mb2">
                {{#if dataset.userId}}
                  <li class="u-fs0 u-tc-tertiary">
                    Submitted by: {{#link-to 'user' dataset.userId.id }}<span class="u-fw-med u-fs1 u-tc-secondary">{{dataset.userId.displayName}}</span>{{/link-to}}
                  </li>
                {{else}}
                  {{#if dataset.datasourceId.name}}
                    <li class="u-fs0 u-tc-tertiary">
                      Sourced from: {{#link-to 'datasources.source' dataset.datasourceId.id}}<span class="u-fw-med u-fs1 u-tc-secondary">{{dataset.datasourceId.name}}</span>{{/link-to}}
                    </li>
                  {{/if}}
                  {{#if dataset.accession}}
                    <li class="u-fs0 u-tc-tertiary">
                      Accession ID: <span class="u-fw-med u-fs1 u-tc-secondary">{{dataset.externalId}}</span>
                    </li>
                  {{/if}}
                {{/if}}
                {{#if dataset.access}}
                  <li class="u-fs0 u-tc-tertiary">
                    Access type: {{#link-to 'help.searching-for-data' (query-params help="filters")}}<span class="u-fw-med u-fs1 u-tc-secondary">{{dataset.access}}</span>{{/link-to}}
                  </li>
                {{/if}}
              </ul>

              {{#if dataset.url}}
                <a target="_blank" {{action "trackExit"}} href="{{if session.isAuthenticated dataset.url ''}}" class="c-btn c-btn-primary">{{#if (eq dataset.access 'Open')}}Access Data{{else}}Go To Dataset{{/if}}</a>
              {{else}}
                <a class="c-btn c-btn-primary">{{#if (eq dataset.access 'Open')}}Access Data{{else}}Apply for Access{{/if}}</a>
              {{/if}}
            </div>
          </div>

          <!-- Discussion  -->
          <div class="grid__col grid__col--5-of-12 u-full-height">
            <div class="u-border-left u-full-min-height">

              <!-- header -->
              <header class="c-card-header u-bc-off-white u-px2 u-flex u-items-center u-justify-center">
                <h4 class="u-mb0 u-fs2 u-fw-med u-tc-primary">Discussions</h4>
              </header>

              <!-- body -->
              <div class="u-p2">
                {{partial "datasets/tab-comments"}}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CSS Refactor: still need to style modals -->
{{#if isShowingTagModal}}
  {{tag-modal action="toggleTagModal"}}
{{/if}}

{{{ model.schema }}}
