<!-- {{dataset-detail dataset=model tab=tab addComment="addComment"}} -->
<div class="row card dataset full-view no-margin">
  <div class="col l7 m6 s12 card-main-wrapper"><!-- MAIN CONTENT DIV -->
    <div class="top-action card-header">
      <span {{bind-attr class=":assay-small model.colour"}}></span>
      <div class="share-favourite">
        {{action-favourite}}
        <span class="grey-text">{{data.favourite}}</span>
        {{action-share action="toggleModal"}}
      </div>
    </div>
    <div class="card-main-content">
	<div class="dataset-main-info">
      <h2>{{model.properties.title}}</h2>
      <span>{{user.displayName}}</span>
      <p>{{model.properties.description}}</p>

        <div class="tags">
          <h3>Tags</h3>
          {{#each tag in model.tags}}
          {{#link-to 'datasets.tags' tag.word}}
          <span class="tag"> {{tag.word}}</span>
          {{/link-to}}
          {{/each}}
          {{add-tag addTag="addTag" class="add-btn"}}
        </div>


      </div>

    </div><!-- end .card-main-comtent -->
    <div class="row bottom-static">
        <div class="dataset-more-info-section">
          <div class="col m12">
            <h2>More Information</h2>
            <ul class="card-info-list left-align">
              {{#if model.owner}}
              <li class="card-info-attr">Submitted by: {{#link-to 'user' model.owner.username }}<span>{{model.owner.displayName}}</span>{{/link-to}}</li>
              {{else}}
              <li class="card-info-attr">Sourced from: <a><span>{{model.repository.name}}</span></a></li>
              {{/if}}
              {{#if model.createdAt}}
              {{/if}}
              <li class="card-info-attr">Access: <span>{{model.repository.access}}</span></li>
              {{#if model.contributors}}
              <li class="card-info-attr">Access: <span>{{model.repository.access}}</span></li>
              {{/if}}
            </ul>
        </div>
        <div class="col m12 center">
          {{#if model.properties.webURL}}
          <a target="_blank" {{action "trackExit"}} class="btn waves-effect teal white-text">{{#if isPublic}}Access Data{{else}}Go To Dataset{{/if}}</a>
          {{else}}
          <a class="btn disabled white-text">{{#if isPublic}}Access Data{{else}}Apply for Access{{/if}}</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div><!-- MAIN CONTENT DIV -->

  <div class="col l5 m6 s12 card-side-wrapper"><!-- SIDE CONTENT DIV -->
    <ul class="tabs">
      <li class="tab col s3">
        {{#if (eq tab "comments")}}
        {{#link-to 'datasets.detail' model (query-params tab="comments") class="active"}}Comments{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="comments")}}Comments{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "rating")}}
        {{#link-to 'datasets.detail' model (query-params tab="rating") class="active"}}Rating{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="rating") }}Rating{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "related")}}
        {{#link-to 'datasets.detail' model (query-params tab="related") class="active"}}Related{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="related") }}Related{{/link-to}}
        {{/if}}
      </li>
    </ul>
    {{#if (eq tab "rating")}}
    {{partial "datasets/tab-ratings"}}
    {{else if (eq tab "related")}}
    {{partial "datasets/tab-related"}}
    {{else}}
    {{partial "datasets/tab-comments"}}
    {{/if}}
  </div><!-- SIDE CONTENT DIV -->
</div>

{{#if isModalShown}}
  {{#md-modal action="closeModal"}}
  <div class="modal-content center-align">
    <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
  <!-- <img class="social-media-icon" src="/assets/images/icons/work-in-progress.png"/> -->
    <h2>We are still working hard.</h2>
    <h5>This feature will be available very soon. Please, do not leave us.</h5>
  </div>
  <div class="modal-footer center-align">
    <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
  </div>
  {{/md-modal}}
{{/if}}
