<div class="row card dataset full-view">
  <div class="col l7 m6 s12 card-main-wrapper">
    <div class="top-action card-header">
      <span class="assay-small {{model.colour}}"></span>
      <div class="actions-container valign-wrapper">
        {{action-favourite dataset=dataset action="toggleModal"}}
        {{action-share action="toggleModal"}}
      </div>
    </div>
    <div class="card-main-content">
  	  <div class="dataset-main-info">
        <h2>{{model.title}}</h2>
        <span>{{user.displayName}}</span>
        <p class="markdown-text">{{markdown-to-html markdown=model.description}}</p>
        <div class="tags">
          {{#each model.tags as |tag|}}
            {{#link-to 'datasets.tags' tag.word}}
              <span class="tag"> {{tag.word}}</span>
            {{/link-to}}
          {{/each}}
          {{add-tag addTag="addTag" class="add-btn"}}
          <br><span class="help-link">Please add tags to improve searching and browsing through data. <a class="help-button" {{action "toggleTagModal"}}>?</a></span>
        </div>
      </div>
    </div>
    <div class="row bottom-static">
      <div class="dataset-more-info-section">
        <div class="col m12">
          <ul class="card-info-list left-align">
            {{#if model.user}}
              <li class="card-info-attr">Submitted by: {{#link-to 'user' model.user.id }}<span>{{model.owner.displayName}}</span>{{/link-to}}</li>
            {{else}}
              <li class="card-info-attr">Sourced from: <a><span>{{model.datasourceId.shortName}}</span></a></li>
              {{#unless (eq model.datasourceId.shortName "REPOSITIVE")}}
                {{#if model.accession}}
                  <li class="card-info-attr">Accession: <span>{{model.externalId}}</span></li>
                {{/if}}
              {{/unless}}
            {{/if}}
            {{#if (eq model.datasourceId.shortName "REPOSITIVE")}}
              {{#if model.createdAt}}
                <li class="card-info-attr">Registered on: <span>{{moment-format model.createdAt}}</span></li>
              {{/if}}
            {{/if}}
            <li class="card-info-attr">Access: <span>{{model.datasourceId.access}}</span></li>
          </ul>
        </div>
        <div class="col m12 center">
          {{#if model.url}}
            <a target="_blank" {{action "trackExit"}} href="{{model.url}}" class="btn waves-effect teal white-text">{{#if isPublic}}Access Data{{else}}Go To Dataset{{/if}}</a>
          {{else}}
            <a class="btn disabled white-text">{{#if isPublic}}Access Data{{else}}Apply for Access{{/if}}</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="col l5 m6 s12 card-side-wrapper">
    <div class="card-header center-align teal-text">Discussion</div>
    {{partial "datasets/tab-comments"}}
  </div>
</div>

{{#if isShowingTagModal}}
  {{tag-modal action="toggleTagModal"}}
{{/if}}
