<!-- {{dataset-detail dataset=model tab=tab addComment="addComment"}} -->

<div class="row card dataset full-view no-margin">
  <div class="col l7 m6 s12 card-main-wrapper"><!-- MAIN CONTENT DIV -->
    <div class="top-action card-header">
      <div class="assays">
        <h6 class="assay-large no-margin">{{model.properties.sampleTechnology}}</h6>
        <span class="add-btn">+</span>
      </div>
      <div class="share-favourite">
        <a href="#sorrymsg" class="modal-trigger valign-wrapper grey-text"><i class="mdi-action-grade"></i></a><span></span>
        <a href="#sorrymsg" class="modal-trigger grey-text"><i class="mdi-social-share"></i></a>
      </div>
    </div>
    <div class="card-main-content">

      <h2>{{model.properties.title}}</h2>
      <p>{{model.properties.description}}</p>
      <p>
        {{model.properties.sampleTechnology}}
      </p>
      <div class="tags">
        {{#each tag in model.tags}}
        {{#link-to 'datasets.tags' tag.word}}
        <span class="tag">{{tag.word}}</span>
        {{/link-to}}
        {{/each}}
        <a class="add-tag" href="#"><span class="add-btn">+</span></a>
      </div>
      <h3>Information:</h3>
      <div class="card-section">
        <div class="row">
          <div class="col m12">
            <ul class="card-info-list">
              {{#if dataset.owner}}
              <li class="card-info-attr">Submitted by: <a href="#"><span>{{model.owner.fullname}}</span></a></li>
              {{else}}
              <li class="card-info-attr">Sourced from: <a href="#"><span>{{model.repository.name}}</span></a></li>
              {{/if}}
              {{#if model.createdAt}}
              <li class="card-info-attr">Submitted on: <span>{{model.createdAt}}</span></li>
              {{/if}}
              <li class="card-info-attr">Access: <span>{{model.repository.accessType}}</span></li>
              {{#if model.contributors}}
              <li class="card-info-attr">Contributors: <a href="#"><span>Elena Watson</span></a> & <a href="#"><span>Nikola Tesla</span></a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div><!-- end .card-section -->
    </div><!-- end .card-main-comtent -->
    <div class="row bottom-static">
      <div class="center-align card-action">
        <a class="btn waves-effect teal white-text">{{#if isPublic}}Download{{else}}Apply for Access{{/if}}</a>
      </div>
    </div>
  </div><!-- MAIN CONTENT DIV -->

  <div class="col l5 m6 s12 card-side-wrapper"><!-- SIDE CONTENT DIV -->
    <ul class="tabs">
      <li class="tab col s3">
        {{#if (eq tab "comments")}}
        {{#link-to 'datasets.detail' model (query-params tab="comments") class="active"}}Comments{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="comments")}}Comments{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "rating")}}
        {{#link-to 'datasets.detail' model (query-params tab="rating") class="active"}}Rating{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="rating") }}Rating{{/link-to}}
        {{/if}}
      </li>
      <li class="tab col s3">
        {{#if (eq tab "related")}}
        {{#link-to 'datasets.detail' model (query-params tab="related") class="active"}}Related{{/link-to}}
        {{else}}
        {{#link-to 'datasets.detail' model (query-params tab="related") }}Related{{/link-to}}
        {{/if}}
      </li>
    </ul>
    {{#if (eq tab "rating")}}
    {{partial "datasets/tab-ratings"}}
    {{else if (eq tab "related")}}
    {{partial "datasets/tab-related"}}
    {{else}}
    {{partial "datasets/tab-comments"}}
    {{/if}}
  </div><!-- SIDE CONTENT DIV -->

</div>
