{{#unless session.isAuthenticated}}
  {{#full-page-notification customClassName='create-account-notification'}}
    <h3>Search through <strong>{{datasetsNumber}}</strong> human genomic datasets</h3>
    {{#link-to 'users.signup' class='btn waves-effect teal white-text'}}Create account{{/link-to}}
  {{/full-page-notification}}
{{/unless}}

<div class="row card dataset full-view {{unless session.isAuthenticated 'dataset-notification-margin' ''}}">
  <div class="col l7 m6 s12 card-main-wrapper">
    <div class="top-action card-header">
      {{#if dataset.colour}}
        {{#link-to 'datasets.search' (query-params q="" assay=dataset.assay) }}
          {{assay-type assay=dataset}}
        {{/link-to}}
      {{/if}}
      <div class="actions-container valign-wrapper">
        {{action-favourite model=dataset}}
        {{action-share
          actionableId=dataset.id
          action="toggleModal"
          shareUrl=datasetUrl
        }}
      </div>
    </div>
    <div class="card-main-content">
      <div class="dataset-main-info">
        <h2>{{dataset.title}}</h2>
        {{#if dataset.description}}
          <p class="markdown-text">{{markdown-to-html markdown=dataset.description}}</p>
        {{/if}}

        <div class="tags">
          {{#each tags as |tag|}}
            {{tag-item tag=tag}}
          {{/each}}
          {{#if session.isAuthenticated}}
            {{add-tag addTag=(action 'addTag') class="add-btn"}}
            <br><span class="help-link">Please add tags to improve searching and browsing through data. <a class="help-button" {{action "toggleTagModal"}}>?</a></span>
          {{/if}}
        </div>

      </div>
    </div>
    <div class="row bottom-static dataset-more-info-section-wrapper">
      <div class="dataset-more-info-section">
        <div class="col m12">
          <ul class="card-info-list left-align">
            {{#if dataset.userId}}
              <li class="card-info-attr">
                Submitted by: {{#link-to 'user' dataset.userId.id }}<span>{{dataset.userId.displayName}}</span>{{/link-to}}
              </li>
            {{else}}
              {{#if dataset.datasourceId.name}}
                <li class="card-info-attr">
                  Sourced from: {{#link-to 'datasources.source' dataset.datasourceId.id}}<span>{{dataset.datasourceId.name}}</span>{{/link-to}}
                </li>
              {{/if}}
              {{#if dataset.accession}}
                <li class="card-info-attr">
                  Accession ID: <span>{{dataset.externalId}}</span>
                </li>
              {{/if}}
            {{/if}}
            {{#if dataset.access}}
              <li class="card-info-attr">
                Access type: {{#link-to 'help.searching-for-data' (query-params help="filters")}}<span>{{dataset.access}}</span>{{/link-to}}
              </li>
            {{/if}}
          </ul>
        </div>
        <div class="col m12 center">
          {{#if dataset.url}}
            <a target="_blank" {{action "trackExit"}} href="{{if session.isAuthenticated dataset.url ''}}" class="btn waves-effect teal white-text">{{#if (eq dataset.access 'Open')}}Access Data{{else}}Go To Dataset{{/if}}</a>
          {{else}}
            <a class="btn disabled white-text">{{#if (eq dataset.access 'Open')}}Access Data{{else}}Apply for Access{{/if}}</a>
          {{/if}}
        </div>
      </div>
      {{#unless session.isAuthenticated}}
        {{create-account-call-to-action}}
      {{/unless}}
    </div>
  </div>

  <div class="col l5 m6 s12 card-side-wrapper">
    <div class="card-header center-align teal-text">Discussion</div>
    {{partial "datasets/tab-comments"}}
  </div>
</div>
{{#if isShowingTagModal}}
  {{tag-modal action="toggleTagModal"}}
{{/if}}

{{{ model.schema }}}
