{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  model=model
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  class="bc-off-white"
  isSearchPage=true
}}

<div class="grid-wrapper grid-wrapper-stepped pt5">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      {{#results-header title=(concat 'Datasets (' (beautify-number model.meta.total) ')')}}
        {{results-select
          resultsOptions=resultsOptions
          resultsPerPage=resultsPerPage
          setResultsPerPage=(action 'setResultsPerPage')
        }}
      {{/results-header}}

    {{/if}}

    {{#if (eq model.meta.total 0)}}
      {{partial 'datasets/no-results'}}
    {{else}}
      {{search-results-list results=model.datasets type='dataset'}}
    {{/if}}

    {{#if (gt model.meta.total 0)}}
      {{r-pagination
        totalPages=totalPages
        currentPageNumber=page
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
        goToPage=(action 'goToPage')
       }}
    {{/if}}
  {{/if}}
</div>
