<div class="row relative">
  <p class="left-align col s6">You searched for <i>"{{q}}"</i></p>
  <p class="right-align col s6">
  Results: {{ meta.total }}<br>
  <b>access types:</b><br>
  {{#each type in meta.accessTypes}}
    {{#link-to 'datasets.search' (query-params accessType=type.key)}}
    {{type.key}}: {{type.doc_count}}
    {{/link-to}}
  {{/each}}
  </p>

  {{#if isFiltered}}
  <p class="filters right-of-container">
    <span class="left">Active Filters:</span><br>
    {{#each filter in filters}}
      {{#if filter.value }}
        <b>{{filter.name}}</b>: {{filter.value}}<br>
      {{/if}}
    {{/each}}
  </p>
  {{/if}}

</div>

<div class="row relative">
  {{assay-key model=model}}
  {{#each dataset in model}}
    {{partial 'datasets/card' dataset=dataset}}
  {{/each}}
</div>

{{#if isModalShown}}
  {{#md-modal action="closeModal"}}
  <div class="modal-content center-align">
    <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
  <!-- <img class="social-media-icon" src="/assets/images/icons/work-in-progress.png"/> -->
    <h2>We are still working hard.</h2>
    <h5>This feature will be available very soon. Please, do not leave us.</h5>
  </div>
  <div class="modal-footer center-align">
    <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
  </div>
  {{/md-modal}}
{{/if}}
