{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  model=model
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  class="u-bc-i-cant-believe-its-not-white"
  isSearchPage=true
}}

<div class="grid-wrapper grid-wrapper-stepped">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      {{pagination-bar
        totalPages=totalPages
        currentPageNumber=page
        page=page
        results=model.meta.total
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
        goToPage=(action 'goToPage')
      }}
    {{/if}}

    {{search-results-list results=model.datasets totalResults=model.meta.total}}
  {{/if}}
</div>
