<div class="row relative">
  <p class="left-align col s6">You searched for <em class="highlight">"{{model.query}}"</em></p>
  <p class="right-align col s6">
  Results: {{ model.meta.total }}<br>
  </p>
  <!--
  {{#each type in meta.accessTypes}}
    {{#link-to 'datasets.search' (query-params accessType=type.key)}}
    {{type.key}}: {{type.doc_count}}
    {{/link-to}}
  {{/each}}
  -->
</div>

<div class="row relative">

  {{#each agg in model.aggregations}}
  <div class="section">
    <h5>{{ agg.name }}</h5>
    {{#each bucket in agg.buckets}}
      <p>{{bucket.key}}</p>
    {{/each}}
  </div>
  {{/each}}

  {{#each dataset in model.datasets}}
    {{partial 'datasets/card' model=dataset}}
  {{/each}}

</div>

{{#if isModalShown}}
  {{#md-modal action="closeModal"}}
  <div class="modal-content center-align">
    <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
  <!-- <img class="social-media-icon" src="/assets/images/icons/work-in-progress.png"/> -->
    <h2>We are still working hard.</h2>
    <h5>This feature will be available very soon. Please, do not leave us.</h5>
  </div>
  <div class="modal-footer center-align">
    <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
  </div>
  {{/md-modal}}
{{/if}}
