<nav class="sideNav" id="aggregation">
  <h4 class="unfocus-grey-text">Filters</h4>
  {{#each model.aggs as |agg|}}
    {{#if agg.show}}
    <div class="section">
      <h4>{{ agg.displayName }}</h4>
      {{#each agg.buckets as |bucket|}}
        <div>
        {{#if (eq agg.name "assayType")}}
          <div class="label {{bucket.colour}}"></div>
        {{else}}
          <div class="label"></div>
        {{/if}}
        <span {{action "addFilter" agg.name bucket.key}} style="cursor:pointer;">{{bucket.key}} ({{bucket.doc_count}})</span>
      </div>
      {{/each}}
    </div>
    <div class="divider"></div>
    {{/if}}
  {{/each}}
</nav>

<div class="content right">
  <div class="">
    <h5 class="unfocus-grey-text">Your Query</h5>
    <p id="filters" class="card">
      <span class="filter first">
        <em class="highlight">"{{model.query}}"</em>
      </span>
      {{#each model.filters as |filter|}}
        {{#if filter.value}}
        <span class="filter" {{action "removeFilter" filter.name filter.value}}>{{ filter.displayName }} : {{filter.value}}<span class="remove">x</span></span>
        {{/if}}
      {{/each}}
    </p>
  </div>
  <div class="">
    {{#if model.isLoading}}
    {{else}}
      <h5 class="unfocus-grey-text">Search Results ({{ model.meta.total }})</h5>
    {{/if}}
  </div>
  {{#if model.isLoading}}
    {{partial 'loading'}}
  {{else}}
    <div class="row">
      {{#if (eq model.meta.total 0)}}
        {{render 'datasets/noResults'}}
      {{else}}
        {{#each model.datasets as |dataset|}}
          {{dataset-card dataset=dataset toggleModal="toggleModal"}}
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</div>
