{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  model=model
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  class="u-bc-i-cant-believe-its-not-white"
  isSearchPage=true
}}

<div class="grid-wrapper grid-wrapper-stepped">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      <div class="u-flex u-justify-between">
        <p class="u-flex u-items-center u-fw-bold u-mr2 u-mb0">Results: {{model.meta.total}}</p>

        {{pagination-bar
          totalPages=totalPages
          currentPageNumber=page
          nextPage=(action 'nextPage')
          previousPage=(action 'previousPage')
          goToPage=(action 'goToPage')
         }}

         {{results-select resultsOption=resultsOptions resultsPerPage=resultsPerPage selectResults=(action 'selectResults')}}
       </div>
    {{/if}}

    {{search-results-list results=model.datasets totalResults=model.meta.total}}
  {{/if}}
</div>
