<div class="row relative">
  <p class="left-align col s6">You searched for <i>"{{q}}"</i></p>
  <p class="right-align col s6">
  Results: {{ meta.total }}<br>
  <b>access types:</b><br>
  {{#each type in meta.accessTypes}}
    {{#link-to 'datasets.search' (query-params accessType=type.key)}}
    {{type.key}}: {{type.doc_count}}
    {{/link-to}}
  {{/each}}
  </p>
  {{md-input}}
  {{#if isFiltered}}
  <p class="filters right-of-container">
    <span class="left">Active Filters:</span><br>
    {{#each filter in filters}}
      {{#if filter.value }}
        <b>{{filter.name}}</b>: {{filter.value}}<br>
      {{/if}}
    {{/each}}
  </p>
  {{/if}}

</div>

<div class="row relative">
  {{assay-key model=model}}
  {{#each dataset in model}}
    {{partial 'datasets/card' dataset=dataset}}
  {{/each}}
</div
