{{#if (gt model.meta.total 0)}}
  {{filters-list filters=model.aggs}}
{{/if}}
<div class="content right">
  {{#if model.isError}}
    {{render 'datasets/search-error'}}
  {{else}}
    <div class="margin-top">
      {{#unless model.isLoading}}
        <h5 class="unfocus-grey-text">Search Results ({{ model.meta.total }})</h5>
      {{/unless}}
    </div>
    {{#if model.isLoading}}
      {{partial 'loading'}}
    {{else}}
      {{search-results-list results=model.datasets totalResults=model.meta.total}}
      {{#if (gt model.meta.total 0)}}
        {{pagination-bar totalResults=model.meta.total search=(route-action 'search')}}
      {{/if}}
    {{/if}}
  {{/if}}
</div>
