<div class="row relative">
  <h6 class="left-align col m12 text-helper">You searched for <i>"{{q}}"</i></h6>
  <h6 class="left-align col m12">Results: {{ meta.total }}</h6>

  {{#if isFiltered}}
  <h6 class="filters left-align col m12">
    <span class="left">Active Filters:&nbsp;</span>
    {{#each filter in filters}}
      {{#if filter.value }}
        <!-- <b>{{filter.name}}</b>: -->
         <span> {{filter.value}}</span><br>
      {{/if}}
    {{/each}}
  </h6>
  {{/if}}

</div>

<div class="row relative">
  {{assay-key model=model}}
  {{#each dataset in model}}
    {{partial 'datasets/card' dataset=dataset}}
  {{/each}}
</div>
