<div class="row relative">
  <p class="left-align col s6">You searched for <em class="highlight">"{{model.query}}"</em></p>
  {{#if model.isLoading}}
    
  {{else}}
    <p class="right-align col s6">
    Results: {{ model.meta.total }}<br>
    </p>
  {{/if}}
  <!--
  {{#each type in meta.accessTypes}}
    {{#link-to 'datasets.search' (query-params accessType=type.key)}}
    {{type.key}}: {{type.doc_count}}
    {{/link-to}}
  {{/each}}
  -->
</div>

<div id="filters">
  <h5>Applied Filters</h5>
  {{#each filter in model.filters}}
    {{#if filter.value}}
      <span {{action "removeFilter" filter.name filter.value}}>{{ filter.name }}:{{filter.value}}</span>
    {{/if}}
  {{/each}}
</div>

<div id="aggregation" class="row relative">
  <div class="left-of-container">
  {{#each agg in model.aggs}}
    {{#if agg.show}}
    <div class="section">
      <h5>{{ agg.displayName }}</h5>
      {{#each bucket in agg.buckets}}
        <div>
        {{#if (eq agg.name "assayType")}}
          <div {{bind-attr class=":label bucket.colour"}}></div>
        {{else}}
          <div {{bind-attr class=":label"}}></div>
        {{/if}}
        <span {{action "addFilter" agg.name bucket.key}} style="cursor:pointer;">{{bucket.key}} ({{bucket.doc_count}})</span>
      </div>
      {{/each}}
      <div class="divider"></div>
    </div>
    {{/if}}
  {{/each}}
  </div>
</div>

<div class="row">
  {{#if model.isLoading}}
    <div class="center-align">
      <h1 class="sub-grey">loading...</h1>
    </div>
  {{else}}
    {{#each dataset in model.datasets}}
      {{partial 'datasets/card' dataset=dataset}}
    {{/each}}
  {{/if}}
</div>

{{#if isModalShown}}
  {{#md-modal action="closeModal"}}
  <div class="modal-content center-align">
    <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
  <!-- <img class="social-media-icon" src="/assets/images/icons/work-in-progress.png"/> -->
    <h2>We are still working hard.</h2>
    <h5>This feature will be available very soon. Please, do not leave us.</h5>
  </div>
  <div class="modal-footer center-align">
    <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
  </div>
  {{/md-modal}}
{{/if}}
