<a {{action previousPage}} class="fc-secondary px2 rounded u-hv-bc-very-light-grey {{if noPrevPage 'hide'}}">
  {{fa-icon 'chevron-left'}} Prev
</a>

<div class="hide-s hide-m">
  {{#each pages as |page|}}
    {{rui/r-pagination/button page=page currentPageNumber=currentPageNumber goToPage=goToPage}}
  {{/each}}
</div>

<p class="fc-secondary px2 mb0"><span class="hide-l hide-w">Page {{currentPageNumber}} </span>of {{totalPages}}</p>

<a {{action nextPage}} class="fc-secondary px2 rounded u-hv-bc-very-light-grey {{if noNextPage 'hide'}}">
  Next {{fa-icon 'chevron-right'}}
</a>
