<div class="u-py2">
  {{fa-icon 'twitter' size=2 class='u-tc-twitter-blue u-px3 u-py2 u-border-right u-cursor-pointer' click=(action 'share' 'twitter')}}
  {{fa-icon 'linkedin' size=2 class='u-tc-linkedin-blue u-px3 u-py2 u-border-right u-cursor-pointer' click=(action 'share' 'linkedin')}}
  {{fa-icon 'envelope' size=2 class='u-tc-yellow u-px3 u-py2 u-cursor-pointer' click=(action 'onEnvelopeClick')}}
</div>

<div class="u-flex u-pl2">
  <p class="u-border u-p1">{{shareUrl}}</p>
  {{#copy-button
    class=copyButtonClasses
    clipboardText=shareUrl
    success='copySuccess'
    error='copyError'
  }}
    {{#if copyAttempt}}
      {{#if copySuccess}}
        {{fa-icon 'check'}} Copied
      {{else}}
        {{fa-icon 'exclamation-triangle'}} Failed
      {{/if}}
    {{else}}
      Copy
    {{/if}}
  {{/copy-button}}
</div>

{{#if copyFailed}}
  <div class="copy-failed-tooltip">You can select and copy the link manually.</div>
{{/if}}
