{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  datasets=model.datasets
  class="u-bc-datasource t-dark"
}}

<div class="grid-wrapper grid-wrapper-stepped">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      <div class="u-flex u-justify-between pt5 pb4">
        <p class="u-flex u-items-center u-fw-med mb0">Results: {{model.meta.total}}</p>

        {{results-select resultsOptions=resultsOptions resultsPerPage=resultsPerPage setResultsPerPage=(action 'setResultsPerPage')}}
      </div>
    {{/if}}

    {{search-results-list results=model.datasets totalResults=model.meta.total}}

    {{#if (gt model.meta.total 0)}}
      {{pagination-bar
        totalPages=totalPages
        currentPageNumber=page
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
        goToPage=(action 'goToPage')
       }}
    {{/if}}
  {{/if}}
</div>
