{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  datasets=model.datasets
  class="u-bc-datasource t-dark"
}}


<div class="grid-wrapper">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{search-results-list results=model.datasets totalResults=model.meta.total}}
    {{#if (gt model.meta.total 0)}}
      {{pagination-bar
        totalPages=totalPages
        currentPageNumber=page
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
      }}
    {{/if}}
  {{/if}}
</div>
