{{#if (eq group "request")}}
  {{#link-to 'datasets.request'}}
    <header class="flex items-center mb0">
      {{fa-icon "clipboard" class="fc-blue mr2"}}
      <h4 class="mb0 fs2 fc-blue">Requested Data {{#if isProfilePage}}({{count}}){{/if}}</h4>
    </header>
  {{/link-to}}
  {{#unless isProfilePage}}
    <p class="mb0 pt2">
    Help our community by connecting them with the datasets they're looking for.
    If you’re seeking datasets you can make a request too.
    </p>
  {{/unless}}
{{/if}}

{{#if (eq group "registration")}}
  {{#link-to 'datasets.register'}}
    <header class="flex items-center mb0">
      {{fa-icon "file-text" class="fc-red mr2"}}
      <h4 class="mb0 fs2 fc-red">Registered Data {{#if isProfilePage}}({{count}}){{/if}}</h4>
    </header>
  {{/link-to}}
  {{#unless isProfilePage}}
    <p class="mb0 pt2">
    These are datasets contributed by our community. You can easily register your dataset and make it visible for others.
    </p>
  {{/unless}}
{{/if}}


{{#if (eq group "favourite")}}
  <header class="flex items-center mb0">
    {{fa-icon "star" class="fc-yellow mr2"}}
    <h4 class="mb0 fs2 fc-yellow">Favourites {{#if isProfilePage}}({{count}}){{/if}}</h4>
  </header>
{{/if}}

{{#if (eq group "contribution")}}
  <header class="flex items-center mb0">
    {{fa-icon "gift" class="fc-teal mr2"}}
    <h4 class="mb0 fs2 fc-teal">Contributions {{#if isProfilePage}}({{count}}){{/if}}</h4>
  </header>
{{/if}}

{{#if (eq group "discussion")}}
  <header class="flex items-center mb0">
    {{fa-icon "comments" class="fc-secondary mr2"}}
    <h4 class="mb0 fs2 fc-secondary">Discussions {{#if isProfilePage}}({{count}}){{/if}}</h4>
  </header>
{{/if}}
