{{#if (eq group "request")}}
  {{#link-to 'datasets.request'}}
    <ul class="o-list-inline o-list-flush-left mb0">
      <li class="o-list-inline__item  mr2">{{fa-icon "clipboard" class="fc-blue"}}</li>
      <li class="o-list-inline__item"><h4 class="mb0 fs2 fc-blue">Requested Data {{#if isProfilePage}}({{count}}){{/if}}</h4></li>
    </ul>
  {{/link-to}}
  {{#unless isProfilePage}}
    <p class="mb0 pt2">
    Help our community by connecting them with the datasets they're looking for.
    If you’re seeking datasets you can make a request too.
    </p>
  {{/unless}}
{{/if}}

{{#if (eq group "registration")}}
  {{#link-to 'datasets.register'}}
    <ul class="o-list-inline o-list-flush-left mb0">
      <li class="o-list-inline__item mr2">{{fa-icon "file-text" class="fc-red"}}</li>
      <li class="o-list-inline__item"><h4 class="mb0 fs2 fc-red">Registered Data {{#if isProfilePage}}({{count}}){{/if}}</h4></li>
    </ul>
  {{/link-to}}
  {{#unless isProfilePage}}
    <p class="mb0 pt2">
    These are datasets contributed by our community. You can easily register your dataset and make it visible for others.
    </p>
  {{/unless}}
{{/if}}


{{#if (eq group "favourite")}}
  <ul class="o-list-inline o-list-flush-left mb0">
    <li class="o-list-inline__item mr2">{{fa-icon "star" class="fc-yellow"}}</li>
    <li class="o-list-inline__item"><h4 class="mb0 fs2 fc-yellow">Favourites {{#if isProfilePage}}({{count}}){{/if}}</h4></li>
  </ul>
{{/if}}

{{#if (eq group "contribution")}}
  <ul class="o-list-inline o-list-flush-left mb0">
    <li class="o-list-inline__item mr2">{{fa-icon "gift" class="fc-teal"}}</li>
    <li class="o-list-inline__item"><h4 class="mb0 fs2 fc-teal">Contributions {{#if isProfilePage}}({{count}}){{/if}}</h4></li>
  </ul>
{{/if}}

{{#if (eq group "discussion")}}
  <ul class="o-list-inline o-list-flush-left mb0">
    <li class="o-list-inline__item mr2">{{fa-icon "comments" class="fc-secondary"}}</li>
    <li class="o-list-inline__item"><h4 class="mb0 fs2 fc-secondary">Discussions {{#if isProfilePage}}({{count}}){{/if}}</h4></li>
  </ul>
{{/if}}
