<div class="container-login">
  <h1 class="center-align margin-bottom">Login</h1>
  <form {{action "submitForm" on="submit"}} id="login-form" class="margin-top">
    <div class="row">
      <div class="col m12 s12 center-align">
        <ul class="list-inline">
          <li><a {{ action 'thirdPartyAuth' 'google-oauth2' 'login'}}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/googleplus.png"></a></li>
          <li><a {{ action 'thirdPartyAuth' 'linked-in-oauth2' 'login'}}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/linkedin.png"></a></li>
        </ul>
      </div>
    </div>
    <div class="or-div">
      <span>
        OR
      </span>
    </div>
    {{#each messages as |message|}}
      <div class="message error">{{message}}</div>
    {{/each}}
    {{validated-input
      type="email"
      value=email
      errors=errors.email
      placeholder="Email"
      submit=(action 'submitForm')
    }}
    {{validated-input
      type="password"
      value=password
      errors=errors.password
      placeholder="Password"
      submit=(action 'submitForm')
    }}
    <h6><a {{action 'resetPassword'}} class="link" style="cursor:pointer">Click here</a> to reset your password.</h6>
    <div class="input-container">
      {{#if loading}}
        {{#full-width-button class="disabled"}}Logging in...{{/full-width-button}}
      {{else if isDisabled}}
        {{#full-width-button class="disabled"}}LOGIN{{/full-width-button}}
      {{else}}
        {{#full-width-button class="teal" type="submit"}}LOGIN{{/full-width-button}}
      {{/if}}
    </div>
    {{message-queue}}
    <div class="divider"></div>
    <h6>New to Repositive? {{#link-to 'users.signup'}}Create your account.{{/link-to}}</h6>
  </form>
</div>
