<div class="container-login">
  <form {{action "submitForm" on="submit"}}>
  <h1 class="center-align">Login</h1>
    <div class="row">
      <div class="col m12 s12 center-align">
        <ul class="list-inline">
          <li><a {{ action 'authenticateWithGooglePlus' }}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/googleplus.png"></a></li>
          <li><a {{ action 'authenticateWithLinkedIn' }}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/linkedin.png"></a></li>
        </ul>
      </div>
    </div>
    <div class="or-div">
      <span>
        OR
      </span>
    </div>
    {{#each messages as |message|}}
      <div class="message {{message.type}}">{{message.text}}</div>
    {{/each}}
    {{validated-input
      type="email"
      lbl="Email"
      value=email
      errors=errors.email
      placeholder="Email"
      email=true
      formSubmitted=formSubmitted
      icon="email"}}
    {{validated-input
      type="password"
      lbl="Password"
      value=password
      errors=errors.password
      placeholder="Password"
      password=true
      formSubmitted=formSubmitted
      icon="password"}}
    <h6><a {{action 'resetPassword'}} class="link" style="cursor:pointer">Click here</a> to reset your password.</h6>
    <div class="input-container">
      {{#full-width-button class="teal" type="submit"}}LOGIN{{/full-width-button}}
    </div>
    {{message-queue}}
    <div class="divider"></div>
    <h6>New to Repositive? {{#link-to 'root'}}Sign up for beta.{{/link-to}}</h6>
  </form>
</div>
