<div class="container-login">
  <h1 class="center-align margin-bottom">Login</h1>
  <form {{action "submitForm" on="submit"}} id="login-form" class="margin-top">
    {{#each messages as |message|}}
      <div class="message {{message.type}}">{{message.text}}</div>
    {{/each}}
    {{validated-input
      type="email"
      lbl="Email"
      value=email
      errors=errors.email
      placeholder="Email"
      email=true
      formSubmitted=formSubmitted
      icon="email"
      class="col m6 offset-m3"
    }}
    {{validated-input
      type="password"
      lbl="Password"
      value=password
      errors=errors.password
      placeholder="Password"
      password=true
      formSubmitted=formSubmitted
      icon="password"
      class="col m6 offset-m3"
    }}
    <h6><a {{action 'resetPassword'}} class="link" style="cursor:pointer">Click here</a> to reset your password.</h6>
    <div class="input-container">
      {{#full-width-button class="teal" type="submit"}}LOGIN{{/full-width-button}}
    </div>
    {{message-queue}}
    <div class="divider"></div>
    <h6>New to Repositive? {{#link-to 'users.signup'}}Create your account.{{/link-to}}</h6>
  </form>
</div>
