<div class="grid-wrapper u-ta-center">
  <section class="grid">
    <div class="grid__col grid__col--5-of-12 grid__col--m-2-of-3 grid__col--centered">
      <form>
        <div class="u-flex u-justify-center u-mb3">
          <a class="u-pr2" {{ action 'thirdPartyAuth' 'google-oauth2' 'login'}}><img class="u-w2" src="/assets/images/icons/social/googleplus.png"></a>
          <a {{ action 'thirdPartyAuth' 'linked-in-oauth2' 'login'}}><img class="u-w2" src="/assets/images/icons/social/linkedin.png"></a>
        </div>

        <div class="c-divider c-divider-light-bg"></div>

        {{validated-input
          type="email"
          value=email
          errors=errors.email
          placeholder="Email"
          submit=(action 'submitForm')
        }}
        {{validated-input
          type="password"
          value=password
          errors=errors.password
          placeholder="Password"
          submit=(action 'submitForm')
        }}
        <h6><a {{action 'resetPassword'}}>Click here</a> to reset your password.</h6>
        {{async-button
          class="c-btn c-btn--primary c-btn--shadow u-fs3 u-mb1 u-full-width"
          action=(action 'submitForm')
          default="Login"
          pending="Logging in..."
          disableWhen=isInvalid
          reset=true
        }}
        <p class="u-ta-left">New to Repositive? {{#link-to 'users.signup'}}Create your account.{{/link-to}}</p>
      </form>
    </div>
  </section>
</div>
