<div class="section row">
  <div class="col m12 s12">
    <form {{action "submitForm" on="submit"}}>
    <h2 class="center-align">Login</h2>
      <div class="row">
        <div class="col m12 s12 center-align">
          <ul class="list-inline">
            <li><a {{ action 'authenticateWithGooglePlus' }}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/googleplus.png"></a></li>
            <li><a {{ action 'authenticateWithLinkedIn' }}><img class="social-media-icon btn-floating" src="/assets/images/icons/social/linkedin.png"></a></li>
          </ul>
        </div>
      </div>
      <div class="or-div">
        <span>
          OR
        </span>
      </div>
      {{validated-input type="email" lbl="Email" value=email errors=errors.email placeholder="Email" email=true formSubmitted=formSubmitted icon="email"}}
      {{validated-input type="password" lbl="Password" value=password errors=errors.password placeholder="Password" password=true formSubmitted=formSubmitted icon="password"}}
      <div class="input-container">
        {{#full-width-button class="teal" disabled=buttonDisabled type="submit"}}LOGIN{{/full-width-button}}
      </div>
      {{message-queue}}
    </form>
  </div>
</div>
