<div class="grid-wrapper">
  <section class="grid">

    <div class="grid__col grid__col--3-of-3 u-ta-center">
      <h1 class="u-fs4 u-tc-secondary">Login</h1>
    </div>

    <div class="grid__col grid__col--5-of-12 grid__col--m-2-of-3 grid__col--centered">
      <form>
        <div class="u-ta-center u-mb3">
          <a class="u-pr2" {{ action 'thirdPartyAuth' 'google-oauth2' 'login'}}>{{svg-jar "google" class="u-w2"}}</a>
          <a {{ action 'thirdPartyAuth' 'linked-in-oauth2' 'login'}}>{{svg-jar "linkedin" class="u-w2"}}</a>
        </div>

        <div class="c-divider c-divider-light-bg"></div>

        {{validated-input
          type="email"
          value=email
          errors=errors.email
          placeholder="Email"
          submit=(action 'submitForm')
        }}
        {{validated-input
          type="password"
          value=password
          errors=errors.password
          placeholder="Password"
          submit=(action 'submitForm')
          resetPassword=(action 'resetPassword')
        }}
        {{async-button
          class="c-btn c-btn--primary c-btn--shadow u-fs3 u-mb1 u-full-width"
          action=(action 'submitForm')
          default="Login"
          pending="Logging in..."
          disableWhen=isInvalid
          reset=true
        }}
        <p class="u-ta-left">New to Repositive? {{#link-to 'users.signup'}}Create your account.{{/link-to}}</p>
      </form>
    </div>
  </section>
</div>
