<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      {{profile-tabs}}
      <div class="c-card u-rounded-bottom u-py3 u-px2">
        {{user-profile-avatar-upload avatarImg=user.profile.avatar reloadUserModel=(route-action 'reloadModel')}}

        {{#user-profile-section}}
          {{user-profile-interests userId=user.id interests=user.profile.interests reloadUserModel=(route-action 'reloadModel')}}
        {{/user-profile-section}}

        {{#user-profile-section title='More about yourself'}}
          {{user-profile-details userProfileData=userProfileData userId=user.id}}
        {{/user-profile-section}}

        {{!--
        {{#user-profile-section title='Emails and password'}}

        {{/user-profile-section}}
        --}}

        {{#user-profile-section title='External accounts'}}
          {{user-profile-external-accounts userProfileData=userProfileData userId=user.id}}
        {{/user-profile-section}}
      </div>
    </div>
  </div>
</div>
