<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card rounded-bottom">
        {{profile-tabs}}
        <div class="py4 px3">
          {{user-profile-avatar-upload avatarImg=model.user.profile.avatar  reloadUserModel=(route-action 'reloadModel')}}

          {{#user-profile-section}}
            {{user-profile-interests userId=user.id interests=model.user.profile.interests}}
          {{/user-profile-section}}

          {{#user-profile-section title='More about yourself'}}
            {{user-profile-details userProfileData=userProfileData userId=model.user.id}}
          {{/user-profile-section}}

          {{#user-profile-section title='Emails and password'}}
            {{user-profile-email-password credentials=model.credentials}}
          {{/user-profile-section}}

          {{#user-profile-section title='External accounts'}}
            {{user-profile-external-accounts userProfileData=userProfileData userId=model.user.id}}
          {{/user-profile-section}}
        </div>
      </div>
    </div>
  </div>
</div>
