{{sub-navigation active="profile"}}
<div class="content">
  <div class="row">
    <div class="col m12 center-align">
      <div class="card white darken-1">
        <div class="card-content">
          <h1 class="no-margin">Edit Profile</h1>
          <hr class="yellow">
          <form class="row section">
            <div class="input-container col m6 offset-m3">
              <div class="col m12 center">
                <div class="profile-img circle">
                  {{#if model.profile.gravatar}}
                    {{ gravatar-image}}
                  {{else}}
                    <img src="{{model.profile.avatar}}">
                  {{/if}}
                </div>
              </div>
              <button class="btn yellow white-text" title="Use the Gravatar registered to your email account" {{action "useGravatar"}}>USE GRAVATAR</button>
              <button class="btn yellow white-text" title="Or use our default avatar characters" {{action "useAvatar"}}>USE AVATAR</button>
              <div class="input-field no-margin-top">
                {{input type="text" placeholder="First Name" value=model.user.firstname}}
              </div>
              <div class="lbl">First Name</div>
            </div>
            <div class="input-container col m6 offset-m3">
              <div class="input-field">
                {{input type="text" placeholder="Last Name" value=model.user.lastname}}
              </div>
              <div class="lbl">Last name</div>
            </div>
            <div class="input-container col m6 offset-m3">
              <div class="input-field">
                {{input type="email" placeholder="Email" value=model.user.email}}
              </div>
              <div class="lbl">Email</div>
            </div>
            <div class="input-container col m6 offset-m3">
              <div class="input-field">
                {{input type="text" placeholder="Affiliation" value=model.profile.workOrganisation}}
              </div>
              <div class="lbl">Last name</div>
            </div>
            <div class="input-container col m6 offset-m3">
              {{#if saved}}
                <p class="text-valid center-align">Save Successful.</p>
              {{/if}}
              <button type="submit" class="btn teal white-text"  {{action "save" model}}>Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
