<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      {{profile-tabs}}
      <div class="c-card u-rounded-bottom u-p1 u-ta-center">
        <h1 class="u-fs4">Edit Profile</h1>
        <img src={{session.authenticatedUser.profile.avatar}}>
        <form>
          {{validated-input
            label="First Name"
            type="text"
            value=firstname
            errors=errors.firstname
            placeholder="First Name"
            submit=(action 'save')
          }}
          {{validated-input
            label="Last Name"
            type="text"
            value=lastname
            errors=errors.lastname
            placeholder="Last Name"
            submit=(action 'save')
          }}
          {{validated-input
            label="Affiliation"
            type="text"
            value=affiliation
            errors=errors.affiliation
            placeholder="Affiliation"
            submit=(action 'save')
          }}
          {{#if isSavable}}
            <button type="submit" class="c-btn c-btn-primary" {{action "save"}}>Save Changes</button>
          {{else}}
            <button type="button" class="c-btn c-btn-disabled">Save Changes</button>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>
