<div class="content">
  <div class="row center-align">
    <div class="col m12">
      <div class="card card-content">
        <header>
          {{#unless passwordChanged}}<h1>Reset your password</h1>{{/unless}}
        </header>
        {{#unless passwordChanged}}
          <section class="container-login">
            <form {{action "submitForm" on="submit"}}>
              {{#each messages as |message|}}
                <div class="message {{message.type}}">{{message.text}}</div>
              {{/each}}
                {{validated-input
                  type="password"
                  lbl="Password"
                  value=password1
                  errors=errors.password1
                  placeholder="Your new password"
                  formSubmitted=formSubmitted
                }}
                {{validated-input
                  type="password"
                  lbl="Verify Password"
                  value=password2
                  errors=errors.password2
                  placeholder="Repeat your password"
                  formSubmitted=formSubmitted
                }}
              <div class="input-container">
                {{#if loading}}
                  {{#full-width-button class="disabled"}}Submitting...{{/full-width-button}}
                {{else if isDisabled}}
                  {{#full-width-button class="disabled"}}CONFIRM PASSWORD{{/full-width-button}}
                {{else}}
                  {{#full-width-button class="teal" type="submit"}}CONFIRM PASSWORD{{/full-width-button}}
                {{/if}}
              </div>
              {{message-queue}}
            </form>
          </section>
        {{else}}
          <section>
            <h2>Your password has been successfully changed.</h2>
            <img src="/assets/images/liz-happy.png" class="lizard-image">
            <div class="input-container">
              {{#link-to 'users.login' class="btn teal"}}CONTINUE TO LOGIN{{/link-to}}
            </div>
          </section>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
