<div class="grid-wrapper grid-wrapper-stepped">
  <section class="grid">

    <div class="grid__col grid__col--3-of-3 ta-center">
      <h1 class="fs4 fc-secondary">Reset Password</h1>
    </div>

    {{#unless passwordChanged}}

      <div class="grid__col grid__col--5-of-12 grid__col--m-2-of-3 grid__col--centered">
        <form>
          {{validated-input
            label="Your New Password"
            class="mb3"
            type="password"
            value=password1
            errors=validations.attrs.password1.messages
            placeholder="e.g. •••••••••"
            helpText="Minimum 8 characters. Must include an uppercase letter or number."
          }}
          {{validated-input
            label="Confirm Password"
            class="mb3"
            type="password"
            value=password2
            errors=validations.attrs.password2.messages
            placeholder="e.g. •••••••••"
            helpText="Minimum 8 characters. Must include an uppercase letter or number."
          }}

          {{r-async-button
            action=(action 'submitForm')
            default="Change Password"
            disableWhen=isDisabled
            pending="Saving..."
            reset=true
            size="small"
            variant="secondary"
          }}

        </form>
      </div>

    {{else}}
      <div class="grid__col grid__col--3-of-3 flex items-center flex-column">
        <h2 class="fc-tertiary ta-center">Your password has been successfully changed.</h2>
        <img src="/assets/images/liz-happy.png" class="mb4 icon-x-large">
        {{#link-to 'users.login'}}
          {{rui/r-button variant="primary" size="big" label="Continue to Login"}}
        {{/link-to}}
      </div>

    {{/unless}}
  </section>
</div>
