<div class="container-login">
  <form {{action "submitForm" on="submit"}}>
  <h1 class="center-align">Reset your password</h1>
    {{#each messages as |message|}}
      <div class="message {{message.type}}">{{message.text}}</div>
    {{/each}}
    {{#if resendEmailMessage}}
      <div class="message warn">Your link has expired. Please {{#link-to 'users.resend-password'}}click here{{/link-to}} to resend the email.</div>
    {{/if}}
    {{validated-input
      type="password"
      lbl="Password"
      value=password1
      errors=errors.password1
      placeholder="Your new password"
      password=true
      formSubmitted=formSubmitted
      icon="password"
    }}
    {{validated-input
      type="password"
      lbl="Password"
      value=password2
      errors=errors.password2
      placeholder="Repeat your password"
      password=true
      formSubmitted=formSubmitted
      icon="password"
    }}
    <div class="input-container">
      {{#full-width-button
        class="teal {{#if buttonDisabled 'disabled'}}"
        type="submit"}}LOGIN{{/full-width-button}}
    </div>
    {{message-queue}}
  </form>
</div>
