<div class="container-login">
  <form {{action "submitForm" on="submit"}}>
  <h1 class="center-align">Reset your password</h1>
  {{#each messages as |message|}}
    <div class="message {{message.type}}">{{message.text}}</div>
  {{/each}}
    {{validated-input
      type="email"
      lbl="Email"
      value=email
      errors=errors.email
      placeholder="Please enter your email"
      email=true
      formSubmitted=formSubmitted
      icon="email"
    }}
    <div class="input-container">
      {{#full-width-button class="teal" disabled=buttonDisabled type="submit"}}SEND LINK{{/full-width-button}}
    </div>
    {{message-queue}}
  </form>
</div>
