<div class="container">
<div class="section row ">
  <div class="col m4 offset-m4 s12">
    <form {{action "submitForm" on="submit"}}>
      <div class="row">
        <div class="col m12 center">
          <ul class="list-inline">
            <li>
              <a {{ action 'authenticateWithGooglePlus' }}>
                <img class="social-media-icon" src="/assets/images/icons/social/googleplus.png">
              </a>
            </li>
            <li>
              <a {{ action 'authenticateWithLinkedIn' }}>
                <img class="social-media-icon" src="/assets/images/icons/social/linkedin.png">
              </a>
            </li>
          </ul>
          <span class="sub-input">We won't use any of your personal data, only your email.</span>
        </div>
      </div>
      <div class="or-div">
        <span>
          OR
        </span>
      </div>

      {{login-signup-input type="Email" signup=true value=email errors=errors.email placeholder="Email" email=true}}
      {{login-signup-input type="Password" value=password errors=errors.password placeholder="Password" password=true}}

      <div class="input-container center">
        <!-- <a {{action 'submitForm'}} id="continue-btn" class="btn full-width">SIGN UP</a> -->
        {{#full-width-button disabled=buttonDisabled type="submit"}}SIGN UP{{/full-width-button}}
        <span class="sub-input">By signing up you agree to our <a>Terms</a> and <a>Privacy Policy</a>.</span>
      </div>


    </form>
  </div>
</div>
 <div class="row stick-to-bottom privacy-msg">
    <div class="col m12 center">
      <div class="divider"></div>
        <h3>WE TAKE YOUR PRIVACY SERIOUSLY</h3>
        <div class="col m6 border-right">
         <ul class="col m11">
            <li>We respect the individuals right to privacy and advocate full adherence to patient consent.</li>
            <li>We don't sell and share any private data with 3rd party.</li>
          </ul>
        </div>
      <div class="col m6">
        <ul class="right col m11">
          <li>We encourage responsible custodianship of genomic data.</li>
          <li>We will NEVER sell any data with 3rd party.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
