<div class="section row ">
  <div class="col m4 offset-m4 s12">
  
    <form>
      <div class="row">
        <div class="col m12 center">
          <ul class="list-inline">
            <li><a {{ action 'authenticateWithGooglePlus' }}><img class="social-media-icon" src="/assets/images/icons/social/googleplus.png"></a></li>
            <li><a {{ action 'authenticateWithLinkedIn' }}><img class="social-media-icon" src="/assets/images/icons/social/linkedin.png"></a></li>
          </ul>
          <span class="sub-input">We won't use any of your personal data, only your email.</span>
        </div>
      </div>
      <div class="or-div">
        <span>
          OR
        </span>
      </div>

      {{validated-input type="Email" value=email errors=errors.email placeholder="Email" email=true}}
      {{validated-input type="Password" value=password errors=errors.password placeholder="Password" password=true}}

      <div class="input-container">
        <a {{action 'submitForm'}} id="continue-btn" class="btn full-width">SIGN UP</a>
        <span class="sub-input center-align">By signing up you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</span>
      </div>    
    </form>
  </div>
</div>
<div class="section row">
  <div class="col m10 offset-m1 center stick-to-bottom privacy-msg">
    <h3>WE TAKE YOUR PRIVACY SERIOUSLY</h3>
    <div class="divider"></div>
    
    <div class="col m6 border-right">
    <ul class="col m11">
      <li>We respect the individuals right to privacy and advocate full adherence to patient consent.</li>
      <li>We don't sell and share any private data with 3rd party.</li>
    </ul>      
  </div>
   <div class="col m6">
    <ul class="right col m11">
      <li>We encourage responsible custodianship of genomic data.</li>
      <li>We will NEVER sell any data with 3rd party.</li>  
    </ul>
  </div>  
</div>
</div>



