<div class="container-signup">
  <h1 class="center-align margin-bottom">Signup</h1>
   <form {{action "signupAndAuthenticate" on="submit"}} class="margin-top">
     <!-- <div class="row">
       <div class="col m12 center">
         <ul class="list-inline">
           <li>
             <a {{action "thirdPartyAuth" "google-oauth2"}}>
               <img class="social-media-icon btn-floating" src="/assets/images/icons/social/googleplus.png">
             </a>
           </li>
           <li>
             <a {{ action 'authenticateWithLinkedIn' }}>
               <img class="social-media-icon btn-floating" src="/assets/images/icons/social/linkedin.png">
             </a>
           </li>
         </ul>
         <h6 class="center-align">We won't use any of your personal data, only your email.</h6>
       </div>
     </div>
     <div class="or-div">
       <span>
         OR
       </span>
     </div> -->

     {{validated-input
       type="Text"
       lbl="Full Name"
       value=fullname
       errors=errors.fullname
       placeholder="Full Name"
       helpText="You can change your name later in the settings."
       icon="fullname"
       formSubmitted=formSubmitted
       class="signup-fullname"
     }}
     {{validated-input
       type="Email"
       lbl="Email"
       value=email
       errors=errors.email
       placeholder="Email"
       helpText="You'll need to verify this later."
       icon="email"
       formSubmitted=formSubmitted
       class="signup-email"
     }}
     {{validated-input
       type=type
       lbl="Password"
       value=password
       errors=errors.password
       placeholder="Password"
       helpText="Must be at least 8 characters and include an uppercase letter or number."
       icon="password"
       showPassword=showPassword
       formSubmitted=formSubmitted
       class="signup-password"
     }}
     <div class="password-div">
       <div class="pw-check left">
         <input type="checkbox" id="showPassword" onClick={{action 'toggleCheckbox'}} >
         <label for="showPassword">Show password</label>
       </div>
       <div class="pw-strength right">
         <span class="pw-tag sub-dark">Password strength<span class="{{strength}}"> {{strength}}</span></span>
       </div>
     </div>
     <div class="input-container center">
       {{#full-width-button class="teal" type="submit"}}SIGNUP{{/full-width-button}}
       <h6 class="center-align">By signing up you agree to our {{#link-to 'policies' class="link"}}Terms &amp; Privacy Policy.{{/link-to}} </h6>
     </div>
   </form>
 </div>
<div class="row stick-to-bottom privacy-msg">
   <div class="col m12 center">
     <div class="divider"></div>
     <h3>We take your privacy seriously.</h3>
     <div class="col m12">
         <span class="col m4">We advocate full adherence to patient consent.</span>
         <span class="col m4">We don't sell and share any private data with 3rd party.</span>
         <span class="col m4">We encourage responsible custodianship of genomic data.</span>
     </div>
   </div>
 </div>
