<div class="section row ">
  <div class="container-signup">
    <form {{action "submitForm" on="submit"}}>
     <h2 class="center-align">Signup</h2>
      <div class="row">
        <div class="col m12 center">
          <ul class="list-inline">
            <li>
              <a {{ action 'authenticateWithGooglePlus' }}>
                <img class="social-media-icon btn-floating" src="/assets/images/icons/social/googleplus.png">
              </a>
            </li>
            <li>
              <a {{ action 'authenticateWithLinkedIn' }}>
                <img class="social-media-icon btn-floating" src="/assets/images/icons/social/linkedin.png">
              </a>
            </li>
          </ul>
          <p class="center-align">We won't use any of your personal data, only your email.</p>
        </div>
      </div>
      <div class="or-div">
        <span>
          OR
        </span>
      </div>

      {{validated-input
        type="Text"
        lbl="Full Name"
        value=fullname
        errors=errors.fullname
        placeholder="Full Name"
        helpText="You can change your name later in the settings."
        icon="fullname"
        formSubmitted=formSubmitted
      }}
      {{validated-input
        type="Email"
        lbl="Email"
        value=email
        errors=errors.email
        placeholder="Email"
        helpText="You'll need to verify this later."
        icon="email"
        formSubmitted=formSubmitted
      }}
      {{validated-input
        type=type
        lbl="Password"
        value=password
        errors=errors.password
        placeholder="Password"
        helpText="Must be at least 8 characters and include an uppercase letter and a number."
        icon="password"
        showPassword=showPassword
        formSubmitted=formSubmitted
      }}

      <div class="password-div">
        <div class="pw-check left">
          <input type="checkbox" id="showPassword" onClick={{action 'toggleCheckbox'}} >
          <label for="showPassword">Show Password</label>
        </div>
        <div class="pw-strength right">
          <span class="pw-tag">Password strength: <span class="{{strength}}">{{strength}}</span></span>
        </div>
      </div>

      <div class="input-container center">
        {{#full-width-button disabled=buttonDisabled type="submit"}}SIGN UP{{/full-width-button}}
        <p class="center-align">By signing up you agree to our {{#link-to 'policies'}}<a>Terms &amp; Privacy Policy.</a> {{/link-to}} </p>
      </div>
    </form>
  </div>
</div>
 <div class="row stick-to-bottom privacy-msg">
    <div class="col m12 center">
      <div class="divider"></div>
      <h3>We take your privacy seriously.</h3>
      <div class="col m12">
          <span class="col m4">We advocate full adherence to patient consent.</span>
          <span class="col m4">We don't sell and share any private data with 3rd party.</span>
          <span class="col m4">We encourage responsible custodianship of genomic data.</span>
      </div>
    </div>
  </div>
