{{sub-navigation active="trust"}}
  <div class="row">
    <div class="col m12">
      <div class="card white no-margin darken-1">
        <div class="card-content center-align">
          <h1>Trust & Verification</h1>
          <hr class="yellow">
          {{#if session.authenticatedUser.isEmailValidated}}
            <h4 class="color-fruit-salad-text">{{fa-icon "check-circle"}} Your email is verified.</h4>
            <div class="divider"></div>
            <h4 class="margin-top">{{fa-icon "envelope"}} {{session.authenticatedUser.email}}</h4>
          {{else}}
            <h4 class="color-red-error-text">Please verify your email.</h4>
            <div class="divider"></div>

            <div class="row valign-wrapper">
              <h4 class="col m3 offset-m3">{{fa-icon "envelope"}} {{session.authenticatedUser.email}}</h4>
              <button class="btn btn-light" type="submit" {{action "resendVerifyEmail"}}>Resend Verification Email</button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
