<div class="grid-wrapper">
  <div class="grid">
  {{sub-navigation active="trust"}}
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card u-p1 u-mb3">
        <div>
          <h1 class="fs4 u-ta-center">Trust & Verification</h1>
          {{#if model.is_verified}}
            <h4 class="u-tc-teal fs2 u-ta-center">{{fa-icon "check-circle"}} Your account is verified.</h4>
            <div class="divider"></div>
            <h4 class="fs2 u-ta-center">{{fa-icon "envelope"}} {{model.main_credential.email}}</h4>
          {{else}}
            <h4 class="u-tc-red fs2 u-ta-center">Please verify your email.</h4>
            <div class="divider"></div>

            <h4 class="fs2 u-ta-center">{{fa-icon "envelope"}} {{model.main_credential.email}}</h4>
            <button class="btn btn-light btn-no-shadow" type="submit" {{action "resendVerifyEmail"}}>Resend Verification Email</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
