{{sub-navigation active="profile"}}
  <div class="row">
    <div class="col m12 center-align">
      <div class="card white no-margin darken-1">
        <div class="card-content">
          <h1>Edit Profile</h1>
          <hr class="yellow">
          <form class="row section">
            <div class="col m12 center">
              <div class="profile-img">
                <img src={{session.authenticatedUser.profile.avatar}}>
              </div>
            </div>
            <div class="row">
              {{validated-input
                type="text"
                lbl="First Name"
                value=firstname
                errors=errors.firstname
                placeholder="First Name"
                formSubmitted=formSubmitted
                class="col m6 offset-m3"
              }}
              {{validated-input
                type="text"
                lbl="Last Name"
                value=lastname
                errors=errors.lastname
                placeholder="Last Name"
                formSubmitted=formSubmitted
                class="col m6 offset-m3"
              }}
              {{validated-input
                type="text"
                lbl="Affiliation"
                value=affiliation
                errors=errors.affiliation
                placeholder="Affiliation"
                formSubmitted=formSubmitted
                class="col m6 offset-m3"
              }}
            </div>
            <div class="input-container col m6 offset-m3">
              {{#if isSavable}}
                <button type="submit" class="btn teal white-text" {{action "save"}}>Save Changes</button>
              {{else}}
                <button type="button" class="btn disabled">Save Changes</button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
