{{activity-card-header group=group count=(get (await model) 'length') isProfilePage=isProfilePage}}
{{log "model -> " model}}
{{#async-block model as |ab|}}
  {{ab.pending}}
  {{#ab.error}}
    Your favourites could not be fetched at the moment. Please try again later.
  {{/ab.error}}
  {{#ab.fulfilled as |content|}}
    {{#if (and isCollapsed (gte content.length 1))}}

      {{#each (take 3 content) as |dataset|}}
        {{activity-card-item dataset=dataset}}
      {{/each}}

    {{else if (and (not isCollapsed) (gte content.length 1))}}

      {{#each content as |dataset|}}
        {{activity-card-item dataset=dataset}}
      {{/each}}

    {{else}}

      <p class="py4 mb0 ta-center">{{emptyText}}</p>

    {{/if}}
  {{/ab.fulfilled}}
{{/async-block}}

{{#if linkToRoute}}
  {{#link-to linkToRoute class='p3 block fc-tertiary u-hv-tc-secondary t-view-all'}}
    View all {{fa-icon 'chevron-right' class="pl2"}}
  {{/link-to}}
{{else}}
  {{#if (and isCollapsed (gt model.length 3))}}

    <a class="p3 block fc-tertiary u-hv-tc-secondary t-view-all" {{action 'viewAll'}}>
      View all {{fa-icon 'chevron-down' class="pl2"}}
    </a>

  {{else if (and (not isCollapsed) (gt model.length 3))}}

    <a class="p3 block fc-tertiary u-hv-tc-secondary t-view-all" {{action 'showLess'}}>
      Show less {{fa-icon 'chevron-up' class="pl2"}}
    </a>

  {{/if}}
{{/if}}



