<label class="c-validated-input-label fc-secondary mb2 block">Add your research interests</label>
<div class="py3">
  {{#if editInterests.length}}
  <div>
    {{#each editInterests as |interest|}}
      {{tag-item
        type='interest'
        tagText=interest
        userId=userId
        delete=(action 'removeInterest')
      }}
    {{/each}}
  </div>
  {{/if}}

  <div class="py3 flex">
    {{#if isOpen}}
      <div class="flex mr3">
        {{#power-select
          placeholder="Please type or select your interests"
          options=suggestedInterests
          onchange=(action "addInterest")
          onkeydown=(action "handleKeydown")
          noMatchesMessage="No suggestions found"
          defaultHighlighted=''
          as |interest|
        }}
          {{interest}}
        {{/power-select}}
      </div>

        {{r-button variant="cancel" label="Cancel" clickHandler=(action "hideInput")}}

    {{else}}
      {{r-button label="Add Interest" clickHandler=(action "showInput")}}
    {{/if}}
  </div>
  <span class="fc-secondary">eg. RNA-seq</span>
</div>
