<label class="c-validated-input-label fc-secondary mb2 block">Add your research interests</label>
<div class="py3">
  {{#if editInterests.length}}
  <div>
    {{#each editInterests as |interest|}}
      {{tag-item
        type='interest'
        tagText=interest
        userId=userId
        delete=(action 'removeInterest')
      }}
    {{/each}}
  </div>
  {{/if}}
  <div class="py3 flex items-center">
    {{#if isOpen}}
      {{focus-input class="mr2" value=newInterest type="text" enter="addInterest" placeholder="Add your research interest"}}
      {{rui/r-button variant="cancel" label="Cancel" clickHandler=(action "hideInput")}}
    {{else}}
      {{rui/r-button label="Add Interest" clickHandler=(action "showInput")}}
    {{/if}}
  </div>
  <span class="fc-secondary">eg. RNA-seq</span>
</div>
