<div class="grid-wrapper grid-wrapper-fluid">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      <h1 class="inventory-header fs4 fw-bold mb2">{{pageTitleText}}</h1>
    </div>

    <div class="grid__col grid__col--1-of-3">
      <div class="c-card border border-light-grey pb1">
        <div data-test-id="collections">
          <div class="flex justify-between items-baseline border-bottom px4 py2 cursor-pointer {{if (not collectionFilter) 'fc-purple-mid bc-off-white'}}" {{action (action (mut collectionFilter) null)}}>
            <h3 class="mb0">All favourites {{fa-icon "star" class="fw-bold fc-yellow" }}</h3>
            <h3 class="mb0 fs2">{{if (is-fulfilled allUserBookmarks) (get (await allUserBookmarks) "length")}}</h3>
          </div>
          {{#async-block allUserCollections as |ab|}}
            {{ab.pending class="self-center"}}
            {{#ab.error}}
              <p>Your collections could not be retrieved at the moment, please try again later. </p>
            {{/ab.error}}
            {{#ab.fulfilled as |collections| }}
            <ul class="p0 mb0" style="margin-left: 0">
              {{#each collections as  |collection| }}
                <li class="flex justify-between items-baseline border-bottom px4 py2 cursor-pointer {{if (eq collectionFilter collection.id) 'fc-purple-mid bc-very-light-grey'}}" {{action (action (mut collectionFilter) collection.id) on="click"}}>
                  {{#if isOwnProfile}}
                    {{inline-edit
                      content=collection.name
                      contentClass="px2 ellipsis"
                      class="flex pr4 flex-grow no-min-width"
                      updateContentAction=(action 'updateCollectionName' collection.id)
                      onDeleteAction=(action 'deleteCollection' collection.id collection.name)
                    }}
                  {{else}}
                    <span class="flex pr4 flex-grow no-min-width">
                      <span class="px3 ellipsis">{{collection.name}}</span>
                    </span>
                  {{/if}}
                  <span>{{collection.bookmarks.length}}</span>
                  {{#if showConfirmDeleteCollectionModal}}
                    {{#modal-dialog
                      onClose=(action (mut showConfirmDeleteCollectionModal) false)
                      targetAttachment="center"
                      translucentOverlay=true
                      containerClassNames="fixed overflow-hidden u-zindex-modal c-modal--small bc-white p4 rounded"
                      overlayClassNames= "fixed left-0 right-0 top-0 bottom-0 u-full-viewport-height bc-overlay u-zindex-overlay flex justify-center items-center"
                    }}
                      <div class="mb3">
                        Your collection <strong>{{collectionNameToDelete}}</strong> will be deleted, but your bookmarks will still be available under <strong>All favourites</strong>.
                      </div>
                      <footer class="flex justify-end items-center">
                        {{#if (is-rejected collectionDeleteRequest)}}
                          <div class="mr3 fc-red">Could not delete collection, please try again</div>
                        {{/if}}
                        {{r-button
                          data-test-id="collection-delete-cancel"
                          disabled=(is-pending collectionDeleteRequest)
                          variant="cancel"
                          label="Cancel"
                          clickHandler=(action (mut showConfirmDeleteCollectionModal) false)
                          class="mr3"
                        }}
                        {{r-button
                          data-test-id="collection-delete-submit"
                          disabled=(is-pending collectionDeleteRequest)
                          variant="delete"
                          label=(if (is-pending collectionDeleteRequest) "Deleting..." "Delete collection")
                          clickHandler=(action 'confirmDeleteCollection' collectionIdToDelete collectionNameToDelete)
                        }}
                      </footer>
                    {{/modal-dialog}}
                  {{/if}}
                </li>
              {{/each}}
              {{#if isOwnProfile}}
                <li class="flex items-baseline px4 py2 cursor-pointer" >
                  {{inline-edit
                    placeholder="Collection name"
                    isNew=true
                    data-test-id="add-collection-btn"
                    newText="Add new collection"
                    saveNewContentAction=(action 'createCollection')
                  }}
                </li>
              {{/if}}
            </ul>
            {{/ab.fulfilled}}
          {{/async-block}}
        </div>
      </div>
    </div>

    <div class="grid__col grid__col--2-of-3">
      <div class="c-card border border-light-grey">
        <div class="flex justify-between items-baseline ">
           <h3 class="p3 fs2 mb0 fc-yellow">
             {{#if collectionFilter}}
               {{#async-block selectedCollection as | ab |}}
                 {{#ab.error}}
                   <small>Something went wrong while fetching the name of your collection.</small>
                 {{/ab.error}}
                 {{#ab.fulfilled as | collection |}}
                   {{collection.name}}
                   ({{collection.bookmarks.length}})
                 {{/ab.fulfilled}}
               {{/async-block}}
             {{else}}
               All favourites
               {{#if (is-fulfilled allUserBookmarks) }}
                 ({{get (await allUserBookmarks) 'length'}})
               {{/if}}
             {{/if}}
           </h3>
        </div>
        <div class="border-bottom border-yellow" style="border-width: 3px"></div>
        {{#async-block filteredBookmarks as | ab |}}
          {{ab.pending}}
          {{ab.error}}
          {{#ab.fulfilled as |bookmarks| }}
             {{#each (sort-by 'updated_at:desc' bookmarks)
                      as | bookmark |}}
               {{collections/bookmark-card bookmark
                 canAddToCollections=isOwnProfile
                 collections=allUserCollections
                 toggleCollectionParticipation=(action 'toggleCollectionParticipation')
               }}
             {{else}}
               <div class="p3">
                 {{#if collectionFilter}}
                   This collection does not have any favourites yet.
                 {{else}}
                   You do not have any favourites yet.
                 {{/if}}
               </div>
             {{/each}}
          {{/ab.fulfilled}}
        {{/async-block}}
      </div>
    </div>
  </div>
</div>
