<div id="profile" class="profile content">
  <div class="row">
    <div class="contain">
      <div class="col m12 center">
        <div class="card">
          <div class="card-content">
            <h1>{{model.user.displayName}}</h1>
            <h4>{{model.user_profile.workOrganisation}}</h4>
            {{#if isOwnProfile}}{{#link-to "users.user_profile" class="edit-btn fa-2x sub-dark"}}{{fa-icon "pencil-square-o"}}{{/link-to}}{{/if}}
            <div class="profile-img">
              <img src={{model.user_profile.avatar}}>
            </div>
            {{#if model.is_verified}}
              <h4 class="verified">{{fa-icon "check-circle"}} Verified Account</h4>
            {{else}}
              {{#if isOwnProfile}}
                <h4>{{#link-to 'users.trust' class="not-verified"}}{{fa-icon "envelope"}} Please verify your email{{/link-to}}</h4>
              {{/if}}
            {{/if}}
            <div class="divider"></div>
            <div class="activity-stats">
              <div class="activity-saved-data">
                <span class="numb">{{numberOfFavourites}}</span>
                <h5>Favourites</h5>
              </div>
              <div class="activity-uploads">
                <span class="numb">{{model.registrations.length}}</span>
                <h5>Registrations</h5>
              </div>
              <div class="activity-request">
                <span class="numb">{{model.requests.length}}</span>
                <h5>Requests</h5>
              </div>
              <div class="activity-comments">
                <span class="numb">{{numberOfComments}}</span>
                <h5>Comments</h5>
              </div>
              <span class="stretch"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contain">
      <!-- Favourites -->
      <div class="col s12 m6 activity-card">
        <div class="card favourited-data">
          <div class="card-header card-title">
            {{fa-icon "star"}}
            <h4>Favourites</h4>
          </div>
          <div class="card-content">
            {{#if favouritesService.favouritedData}}
              {{#each favouritesService.favouritedData as |favourite|}}
                {{mini-dataset dataset=favourite type=favourite.type isFavourite=true}}
              {{/each}}
            {{else}}
              <p class="color-silver-chalice-text center-align">You don't have any favourites yet.</p>
            {{/if}}
          </div>
        </div>
      </div>

      <!-- data registrations -->
      <div class="col s12 m6 activity-card">
        <div class="card registered-data">
          <div class="card-header card-title">
            {{#link-to 'datasets.register'}}
              {{fa-icon "book"}}
              <h4>Registered Data</h4>
            {{/link-to}}
          </div>
          <div class="card-content">
            {{#if model.registrations}}
              {{#each model.registrations as |dataset|}}
                {{mini-dataset dataset=dataset type="registration"}}
              {{/each}}
            {{else}}
              {{#if isOwnProfile}}
                <p class="color-silver-chalice-text center-align">You have not registered any data to REPOSITIVE.</p>
              {{else}}
                <p class="color-silver-chalice-text center-align">This user has not registered any data to REPOSITIVE.</p>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      
      <!--data requests-->
      <div class="col s12 m6 activity-card">
        <div class="card requested-data">
          <div class="card-header card-title">
            {{#link-to 'datasets.request'}}
              {{fa-icon "clipboard"}}
              <h4>Requested Data</h4>
            {{/link-to}}
          </div>
          <div class="card-content">
            {{#if model.requests}}
              {{#each model.requests as |request|}}
                {{mini-dataset dataset=request type="request"}}
              {{/each}}
            {{else}}
              {{#if isOwnProfile}}
                <p class="color-silver-chalice-text center-align">You have not requested any data from our community on REPOSITIVE.</p>
              {{else}}
                <p class="color-silver-chalice-text center-align">This user has not made any requests for data from our community on REPOSITIVE.</p>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
