<div class="grid-wrapper grid-wrapper-stepped">
  <main id="profile">
    <div class="grid">
      <div class="grid__col grid__col--12-of-12">
        <section class="c-card u-p2">
          <div class="u-ta-center u-pos-relative">
            <h1 class="u-fs4 u-mb1">{{model.user.displayName}}</h1>
            <h4>{{model.user.profile.work_organisation}}</h4>

            {{#if isOwnProfile}}{{#link-to "users.profile" class="fa-2x u-pos-absolute u-pos-right0 u-pos-top0 u-tc-secondary"}}{{fa-icon "pencil-square-o"}}{{/link-to}}{{/if}}
            <div class="profile-img">
              <img class="u-w4 u-mb1 u-circle" src={{model.user.profile.avatar}}>
            </div>
            {{#if model.is_verified}}
              <h4 class="u-tc-teal u-fs2">{{fa-icon "check-circle"}} Verified Account</h4>
            {{else}}
              {{#if isOwnProfile}}
              <h4>{{#link-to 'users.profile' class="u-tc-red"}}{{fa-icon "envelope"}} Please verify your email{{/link-to}}</h4>
              {{/if}}
            {{/if}}
          </div>

          <div class="c-divider c-divider-light-bg"></div>

          <div class="grid o-list-inline">
            <div class="grid__col grid__col--3-of-12 u-ta-center">
              <span class="o-list-inline__item u-fw-med u-fs3">{{numberOfFavourites}}</span>
              <h5 class="o-list-inline__item u-fw-thin u-mb1">Favourites</h5>
            </div>
            <div class="grid__col grid__col--3-of-12 u-ta-center">
              <span class="o-list-inline__item u-fw-med u-fs3">{{model.registrations.length}}</span>
              <h5 class="o-list-inline__item u-fw-thin u-mb1">Registrations</h5>
            </div>
            <div class="grid__col grid__col--3-of-12 u-ta-center">
              <span class="o-list-inline__item u-fw-med u-fs3">{{model.requests.length}}</span>
              <h5 class="o-list-inline__item u-fw-thin u-mb1">Requests</h5>
            </div>
            <div class="grid__col grid__col--3-of-12 u-ta-center">
              <span class="o-list-inline__item u-fw-med u-fs3">{{numberOfComments}}</span>
              <h5 class="o-list-inline__item u-fw-thin u-mb1">Comments</h5>
            </div>
          </div>
        </section>
      </div>

      <!-- Favourites -->
      <div class="grid__col grid__col--6-of-12">
        {{activity-card
          model=favouritedData
          group="favourite"
          isProfilePage=true
          isOwnProfile=isOwnProfile}}
      </div>

      <!-- Requests -->
      <div class="grid__col grid__col--6-of-12">
        {{activity-card
          model=model.requests
          group="request"
          isProfilePage=true
          isOwnProfile=isOwnProfile}}
      </div>

      <!-- Registrations -->
      <div class="grid__col grid__col--6-of-12">
        {{activity-card
          model=model.registrations
          group="registration"
          isProfilePage=true
          isOwnProfile=isOwnProfile}}
      </div>
    </div>
  </main>
</div>
