
<h2>Username: {{ user.username }}</h2>
<h2>First Name:  {{user.firstname}}</h2>
<h2>Last Name: {{user.lastname}} </h2>
<h2>Profile ID: {{ profile.id }} </h2>
<h2>Affiliation: {{profile.workOrganisation}}</h2>
