{{#if sendSuccess}}
  <h2 class="success-message">Success! <br> Your email has been sent.</h2>
{{else if sendError}}
  <h2 class="success-message">Oops, something didn’t work! <br> Your email has not been sent.</h2>
{{else}}
  {{validated-input
    label="Email"
    type="text"
    value=emailAddress
    errors=validations.messages
    placeholder="Who do you want to send this to?"
  }}
  {{validated-input
    label="Message"
    type='textarea'
    value=customMessage
    placeholder='Include a personal message with this dataset.'
    noMarkdown= true
  }}
{{/if}}
{{r-button variant="primary" size="big" disabled=submitDisabled label=submitButtonLabel}}
