{{#unless inEditMode}}
  <div class="grid grid--no-gutter u-full-height">

    <!-- dataset -->
    <div class="grid__col grid__col--7-of-12 relative u-full-height">
      <!-- header -->
      <header class="c-card-header bc-very-light-grey flex {{if assaysToDisplay 'justify-between' 'justify-end'}} items-center px3">
        {{#if assaysToDisplay}}
          {{assay-list assays=assaysToDisplay}}
        {{/if}}
        <div class="pl2 flex items-center">
          {{follow-button subscribable=model.subscribableId model=model}}
          <ul class="flex o-list-flush-left pl3 mb0">
            {{action-favourite model=model class="mr3"}}
            {{action-share
              actionableId=model.id
              actionableType=modelName
              shareUrl=modelUrl
            }}
          </ul>
        </div>
      </header>

      <!-- body -->
      <!-- TODO hack fix to stop text overflow on mobile. Needs redesigning. -->
      <div class="p3" style="max-height: 70%; overflow: scroll;">
        <!-- heading/description -->
        <div class="flex content-around">
          <h2 class="fs2 fw-med fc-primary mb2 flex-grow u-hyphens-auto">{{model.title}}</h2>
          {{#if canEdit}}
            {{fa-icon 'pencil' class='fc-tertiary u-hv-tc-secondary cursor-pointer fs2'
                click=(action 'enterEditMode')}}
          {{/if}}
        </div>
        {{#if model.description}}
          <p class="u-markdown-formatting fs1">{{markdown-to-html markdown=model.description extensions='targetBlankLinks sanitize'}}</p>
        {{/if}}
        <!-- tags -->
        <div class="pt3 pb2">
          {{#each tags as |tag|}}
            {{tag-item tag=tag}}
          {{/each}}
        </div>
        {{#if session.isAuthenticated}}
          <div class="pl4">
            {{add-tag addTag=(action 'addTag')}}
          </div>
          <span class="fs0 fc-tertiary">
            Add tags to improve searching and browsing through data. {{#link-to 'help.other'}}Learn more{{/link-to}}
          </span>
        {{/if}}
      </div>

      <!-- footer -->
      <div class="absolute u-full-width bottom-0 bc-white p3 border-top">

        {{#unless session.isAuthenticated}}
          {{create-account-call-to-action}}
        {{/unless}}

        <ul class="o-list-flush-left mb3">
          {{#if model.userId}}
            <li class="fs0 fc-tertiary">
              Submitted by:
              {{#link-to 'user' model.userId.id }}
                <span class="fw-med fs1 fc-secondary">{{model.userId.displayName}}</span>
              {{/link-to}}
            </li>
          {{else}}
            {{#if model.datasourceId.name}}
              <li class="fs0 fc-tertiary">
                Sourced from:
                {{#link-to 'datasources.source' model.datasourceId.id}}
                  <span class="fw-med fs1 fc-secondary">{{model.datasourceId.name}}</span>
                {{/link-to}}
              </li>
            {{/if}}

            {{!-- TODO: should we remove this? I don't see this property in a model --}}
            {{#if model.accession}}
              <li class="fs0 fc-tertiary">
                Accession ID: <span class="fw-med fs1 fc-secondary">{{model.externalId}}</span>
              </li>
            {{/if}}
          {{/if}}

          {{#if (and isRequest model.createdAt )}}
            <li class="fs0 fc-tertiary">
              Requested on:
              <span class="fw-med fs1 fc-secondary">{{moment-format model.createdAt}}</span>
            </li>
          {{/if}}

          {{#if model.access}}
            <li class="fs0 fc-tertiary">
              Access type:
              {{#link-to 'help.searching-for-data' (query-params help="filters")}}
                <span class="fw-med fs1 fc-secondary">{{model.access}}</span>
              {{/link-to}}
            </li>
          {{/if}}
        </ul>

        {{#if model.url}}
          <a
            target="_blank"
            href="{{if session.isAuthenticated model.url ''}}"
            class="c-btn c-btn-primary"
            {{action "trackExit"}}
          >
            {{#if (eq model.access 'Open')}}Access Data{{else}}Go To Dataset{{/if}}
          </a>
        {{/if}}
      </div>
    </div>

    <!-- Attributes / Discussion  -->
    <div class="c-card-detail-discussion grid__col grid__col--5-of-12 u-full-height">
      <div class="border-left u-full-min-height">
        {{#unless isRequest}}
          {{#tab-list class='mb3'}}
            {{tab-list-action-item
                setActiveTab=(action 'setActiveTab')
                activeTab=activeTab
                tabName='metadata'}}
            {{tab-list-action-item
                setActiveTab=(action 'setActiveTab')
                activeTab=activeTab
                tabName='discussion'}}
          {{/tab-list}}
          <div class="p3">
            {{#if (eq activeTab 'metadata')}}
              {{partial "datasets/tab-metadata"}}
            {{else}}
              {{partial "datasets/tab-comments"}}
            {{/if}}
          </div>
        {{else}}
          <!-- Discussions header -->
          <header class="c-card-header bc-very-light-grey px3 flex items-center justify-center">
            <h4 class="mb0 fs2 fw-med fc-primary">Discussions</h4>
          </header>

          <!-- Discussions body -->
          <div class="p3">
            {{partial "datasets/tab-comments"}}
          </div>
        {{/unless}}
      </div>
    </div>
  </div>
{{else}}
  <header class="c-card-header bc-grey theme-dark flex justify-center items-center px3 mb3">
    {{fa-icon 'pencil' class="mr3 fc-primary fs2"}}
    <span class="fc-primary fw-med fs2">Edit {{capitalize modelName}}</span>
  </header>
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--8-of-12 grid__col--push-2-of-12">
      <form class="px3">
        {{#each editableProperties as |prop|}}
          {{validated-input
            label=(capitalize prop.key)
            value=(mut (get this prop.key))
            errors=(v-get this prop.key 'messages')
            type=(if prop.multiline 'textarea' 'text')
            noMarkdown=true
          }}
        {{/each}}
        <div class="flex justify-center">
          {{async-button
            action=(action 'save')
            class="c-btn c-btn-primary m3"
            default="Save Changes"
            pending="Saving..."
            disableWhen=(not validations.isValid)
          }}
          <button class="c-btn c-btn-text-secondary" {{action 'cancelEditMode'}}>Cancel</button>
        </div>
      </form>
    </div>
  </div>
{{/unless}}
