{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  datasets=model.datasets
  class="u-bc-collection t-dark"
}}

<div class="grid-wrapper grid-wrapper-stepped">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      {{pagination-bar
        totalPages=totalPages
        currentPageNumber=page
        pages=pages
        results=model.meta.total
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
        thisPage=(action 'thisPage')
       }}
    {{/if}}

    {{search-results-list results=model.datasets totalResults=model.meta.total}}
  {{/if}}
</div>
