{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  datasets=model.datasets
  class="bc-collection theme-dark"
}}

<div class="grid-wrapper grid-wrapper-stepped pt5">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    {{#if (gt model.meta.total 0)}}
      <div class="flex justify-between mb4 pt3 pt0-l">
        <h3 class="mb0 fs2">Datasets ({{model.meta.total}})</h3>
        {{results-select resultsOptions=resultsOptions resultsPerPage=resultsPerPage setResultsPerPage=(action 'setResultsPerPage')}}
      </div>
    {{/if}}

    {{#if (eq model.meta.total 0)}}
      {{partial 'datasets/no-results'}}
    {{else}}
      {{search-results-list results=model.datasets type='dataset'}}
    {{/if}}

    {{#if (gt model.meta.total 0)}}
      {{r-pagination
        totalPages=totalPages
        currentPageNumber=page
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
        goToPage=(action 'goToPage')
       }}
    {{/if}}
  {{/if}}
</div>
