<main class="row contain">
  {{#each model as |collection|}}
    {{metadata-panel model=collection}}

    <div class="content right">
      <div class="col m11 offset-m1">
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
        {{dataset-card}}
      </div>
    </div>
  {{/each}}
</main>
