{{meta-panel
  addFilter=(action 'addFilter')
  removeFilter=(action 'removeFilter')
  collectionStats=model.collectionStats
  model=model.collection
  filters=model.aggs
  activeFilters=activeFilters
  isLoading=isLoading
  datasets=model.datasets
  class="u-bc-collection t-dark"
}}

<div class="grid-wrapper grid-wrapper-stepped">
  {{#if isLoading}}
    {{partial 'loading'}}
  {{else}}
    <h5 class="u-tc-secondary u-fs2 u-ta-right">Search Results ({{model.meta.total}})</h5>

    {{search-results-list results=model.datasets totalResults=model.meta.total}}

    {{#if (gt model.meta.total 0)}}
      {{pagination-bar
        totalPages=totalPages
        currentPageNumber=page
        nextPage=(action 'nextPage')
        previousPage=(action 'previousPage')
       }}
    {{/if}}
  {{/if}}
</div>
