<div class="u-flex u-items-center u-justify-between u-tc-secondary py2">
  <div class="px3"></div>

  <div class="u-flex u-items-center">
    {{#if icon}}
      <span class="u-fs2 py2 u-tc-tertiary">{{fa-icon icon}}</span>
    {{/if}}

    {{#if image}}
      <img class="u-w1" src={{image}} />
    {{/if}}

    <h4 class="u-fs2 u-tc-secondary px3 mb0 u-cursor-default">{{title}}</h4>
  </div>

  <span class="c-modal-btn-close u-tc-tertiary u-cursor-pointer u-fs2" {{action this.attrs.onClose}}> {{fa-icon "times"}} </span>

</div>
