<h4>
  {{#if icon}}
    <span class="modal-icon">{{fa-icon icon}}</span>
  {{/if}}
  {{#if image}}
    <img width={{imgSize}} height={{imgSize}} src={{image}} />
  {{/if}}
  {{title}}
</h4>
<span class="close-button large-text" {{action this.attrs.onClose}}>{{fa-icon "times"}}</span>