<div class="u-flex u-items-center u-justify-between fc-secondary py2">
  <div class="px3"></div>

  <div class="u-flex u-items-center">
    {{#if icon}}
      <span class="fs2 py2 fc-tertiary">{{fa-icon icon}}</span>
    {{/if}}

    {{#if image}}
      <img class="u-w1" src={{image}} />
    {{/if}}

    <h4 class="fs2 fc-secondary px3 mb0 cursor-default">{{title}}</h4>
  </div>

  <span class="c-modal-btn-close fc-tertiary cursor-pointer fs2" {{action this.attrs.onClose}}> {{fa-icon "times"}} </span>

</div>
