<h4 class="u-ta-center u-fs2 u-flex u-justify-center u-content-center u-fw-med u-mb0 u-flex-grow-1 u-tc-secondary">
  {{#if icon}}
    <span class="u-fs3 u-mr1 u-tc-tertiary">{{fa-icon icon}}</span>
  {{/if}}
  {{#if image}}
    <img class="u-mr1" width={{imgSize}} height={{imgSize}} src={{image}} />
  {{/if}}
  <span>{{title}}</span>
</h4>
<span class="u-tc-tertiary u-cursor-pointer u-fs2" {{action this.attrs.onClose}}>{{fa-icon "times"}}</span>