<div class="row card dataset full-view">
  <div class="col l7 m6 s12 card-main-wrapper">
    <div class="top-action card-header">
      <div class="actions-container valign-wrapper">
        {{action-favourite model=request}}
        {{action-share
          actionableId=request.id
          actionableType='request'
          shareUrl=requestUrl
        }}
      </div>
    </div>
    <div class="card-main-content">
  	  <div class="dataset-main-info">
        <h2>{{request.title}}</h2>
        <p class="u-markdown-text">{{markdown-to-html markdown=request.description}}</p>
        <div class="tags">
          {{#each tags as |tag|}}
            {{tag-item tag=tag}}
          {{/each}}
          {{add-tag addTag=(action 'addTag') class="add-btn"}}
          <br><span class="help-link">Please add tags to improve searching and browsing through data. <a class="help-button" {{action "toggleTagModal"}}>?</a></span>
        </div>
      </div>
    </div>
    <div class="row bottom-static">
      <div class="dataset-more-info-section">
        <div class="col m12">
          <ul class="card-info-list left-align">
            {{#if request.userId}}
              <li class="card-info-attr">Submitted by: {{#link-to 'user' request.usesId.id }}<span>{{request.userId.displayName}}</span>{{/link-to}}</li>
            {{/if}}

            {{#if request.createdAt}}
              <li class="card-info-attr">Requested on: <span>{{moment-format request.createdAt}}</span></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col l5 m6 s12 card-side-wrapper">
    <div class="card-header center-align teal-text">Discussion</div>
    {{partial "datasets/tab-comments"}}
  </div>
</div>

{{#if isShowingTagModal}}
  {{tag-modal action="toggleTagModal"}}
{{/if}}
