<div class="grid-wrapper grid-wrapper-stepped {{unless session.isAuthenticated 'u-pt5' ''}}">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      <div class="c-card c-card-detail-overflow u-pos-relative {{unless session.isAuthenticated 'dataset-notification-margin' ''}}">
        <div class="c-card-header u-full-width u-pos-absolute u-bc-off-white"></div>
        <div class="grid u-full-height">
          <div class="grid__col grid__col--7-of-12">

            <div class="c-card-header u-pos-relative u-bc-off-white u-top-rounded u-flex u-justify-between u-items-center u-px2">
              <div></div>
              <ul class="o-list-inline o-list-flush-left u-mb0">
                {{action-favourite model=request class="u-mr1"}}
                {{action-share
                  actionableId=request.id
                  actionableType='request'
                  shareUrl=requestUrl
                }}
              </ul>
            </div>

            <div class="u-p2">
              <h2 class="u-fs2 u-fw-med u-tc-primary u-mb1">{{request.title}}</h2>
              {{#if request.description}}
                <p class="u-markdown-text">{{markdown-to-html markdown=request.description}}</p>
              {{/if}}
              <div class="u-py2 u-mb2">
                {{#each tags as |tag|}}
                  {{tag-item tag=tag}}
                {{/each}}
              </div>
              {{#if session.isAuthenticated}}
                {{add-tag addTag=(action 'addTag')}}
                <br><span class="u-fs0 u-tc-tertiary">Add tags to improve searching and browsing through data (<a {{action "toggleTagModal"}}>learn more</a>)</span>
              {{/if}}
            </div>

            <div class="c-divider c-divider-light-bg u-mb2"></div>

            <div class="u-px2 u-pb2 u-pos-relative">
              <ul class="o-list-flush-left">
                {{#if request.userId}}
                  <li class="u-fs0 u-tc-tertiary">Submitted by: {{#link-to 'user' request.usesId.id }}<span class="u-fw-med u-fs1">{{request.userId.displayName}}</span>{{/link-to}}</li>
                {{/if}}

                {{#if request.createdAt}}
                  <li class="u-fs0 u-tc-tertiary">Requested on: <span class="u-fw-med u-fs1 u-tc-secondary">{{moment-format request.createdAt}}</span></li>
                {{/if}}
              </ul>
            </div>
          </div>
          <div class="grid__col grid__col--5-of-12 u-full-min-height u-border-left">
            <div class="c-card-header u-pos-relative u-bc-off-white u-flex u-items-center u-justify-center u-top-rounded">
              <h4 class="u-mb0 u-fs2 u-fw-med u-tc-teal">Discussions</h4>
            </div>
            {{partial "datasets/tab-comments"}}
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


{{#if isShowingTagModal}}
  {{tag-modal action="toggleTagModal"}}
{{/if}}
