<div id="request-form" class="content">
  <div class="card">
    <div class="card-body">
      <header class="relative">
        <div class="header-logo center-block">
          <img src="/assets/images/icon-request.png" class="responsive-img">
        </div>
        <h3 class="center teal-text uppercase margin-top">Request Data</h3>
      </header>

      <div class="divider"></div>

      <section class="request-form row">
        <div class="col m6 offset-m3">
          <form>
            <div class="rq-section row">
              <span class="col m1 numb grey-text">1</span>
              <div class="col m11">
                {{validated-input
                  type="text"
                  value=title
                  errors=errors.title
                  top-lbl="Add title"
                  placeholder="Name your request"
                  action=addDataset
                }}
              </div>
            </div>
            <div class="rq-section row">
              <span class="col m1 numb grey-text">2</span>
              <div class="col m11">
                {{validated-input
                  type="text"
                  value=description
                  errors=errors.description
                  top-lbl="Add description"
                  placeholder="Describe the dataset you're looking for. You can include ethnicity of patients, number of samples, assay type or associated diseases."
                  action=addDataset
                  textarea="true"
                }}
              </div>
            </div>
          </form>
          <div class="rq-section row">
            <span class="col m1 numb grey-text">3</span>
            <div class="col m11">
              <div class="tags">
                {{#each model.tags as |tag|}}
                  <span class="tag"> {{tag.word}}</span>
                {{/each}}
                {{add-tag addTag="addTag" class="add-btn" top-lbl="Include tags"}}
              </div>
            </div>
          </div>
          <div class="input-container center">
            <button type="submit" {{action "addRequest"}} class="btn">Submit Request</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
