<form class="flex bc-white" autocomplete="off" {{action search query on='submit'}}>
  {{#basic-dropdown as |dropdown|}}

    <label class="flex items-center">
      <span>{{fa-icon "search" class='px3 fc-secondary'}}</span>
    </label>

    {{#dropdown.trigger}}
      {{input
        type="text"
        class="pr2 pl0 mr0 border-none"
        placeholder=placeholder
        value=query
        autofocus=true
        key-up="autocomplete"}}
    {{/dropdown.trigger}}

    {{#if autocompletionOpen}}
      {{#dropdown.content}}
          <ul>
          {{#each suggestions as |auto|}}
            <li>{{auto.key}}
              <ul>
                {{#each auto.values as |value|}}
                  <li>{{value}}</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/dropdown.content}}
    {{/if}}
  {{/basic-dropdown}}

  {{#if hasSubmitButton}}
    <button class="r-btn r-btn-primary r-btn-large square self-stretch">Search</button>
  {{/if}}
</form>
