<h4 class="fc-blue ta-left">Request form</h4>

<form>
  {{validated-input
    label="Request Title"
    type="text"
    value=title
    errors=validations.attrs.title.messages
    placeholder="Name your request"
  }}
  {{validated-input
    label="Request Description"
    type="textarea"
    value=description
    errors=validations.attrs.description.messages
    placeholder="Describe the dataset you're looking for. You can include ethnicity of patients, number of samples, assay type or associated diseases."
  }}
  {{#if shouldShowCheckbox}}
  <div class="pb4">
    <label class="flex flex-row items-baseline fc-secondary">
      <input type="checkbox" checked={{isNHLBI}} onclick={{action (mut isNHLBI) value="target.checked"}} class="mr2">
      I am NHLBI-funded
    </label>
    <a data-balloon="Let us know if you receive funding from the NHLBI (National Heart, Lung and Blood Institute, USA).&#10; This will help us measure usage of this platform by NHLBI researchers.&#10;"
          data-balloon-pos="down"
          data-balloon-length="large"
          data-balloon-break
          class="fs0 td-underline">
      What is this?
    </a>
  </div>
  {{/if}}
  {{r-async-button
    action=(action 'addRequest')
    default="Submit Request"
    disableWhen=isInvalid
    pending="Submitting..."
    size="big"
    variant="primary"
  }}
</form>
