<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      {{help-tabs tab="requesting"}}
      <div class="c-card c-card-detail-overflow u-rounded-bottom u-py3">
        <div class="grid u-full-height">
          <div class="grid__col grid__col--1-of-3 u-fs2 u-fw-med">
            <ul class="o-list-flush-left u-px3">
              <li class="u-p1">{{#link-to 'help.other' (query-params help="why-tag") class="u-tc-teal"}}Why should I tag a dataset?{{/link-to}}</li>
              <li class="u-p1">{{#link-to 'help.other' (query-params help="incorrect-tag") class="u-tc-teal"}}What should I do if a previous tag is incorrect?{{/link-to}}</li>
              <li class="u-p1">{{#link-to 'help.other' (query-params help="contribute-discussion") class="u-tc-teal"}}How can I contribute to a discussion?{{/link-to}}</li>
              <li class="u-p1">{{#link-to 'help.other' (query-params help="good-tag") class="u-tc-teal"}}What makes a good tag?{{/link-to}}</li>
              <li class="u-p1">{{#link-to 'help.other' (query-params help="format") class="u-tc-teal"}}How can I format my descriptions and discussions?{{/link-to}}</li>
            </ul>
          </div>
          <div class="grid__col grid__col--2-of-3 u-full-min-height u-px3 u-mb3 u-fs2 u-border-left">
            <div class="u-markdown-text u-mb3">
              {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/why-tag')}}
              {{else if (eq help "why-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/why-tag')}}
              {{else if (eq help "incorrect-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/incorrect-tag')}}
              {{else if (eq help "contribute-discussion")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/contribute-discussion')}}
              {{else if (eq help "good-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/good-tag')}}
              {{else if (eq help "format")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/format')}}
              {{/if}}
            </div>
            <div class="c-divider c-divider-light-bg"></div>
            {{more-help-btn}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
