<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--1-of-1">
      {{help-tabs tab="other"}}
      <div class="c-card u-rounded-bottom u-py3">
        <div class="grid__col grid__col--1-of-3 u-py3 u-px2 u-fs2 u-fw-med u-tc-teal">
          <ul class="o-list-flush-left u-px2">
            <li class="u-p1 u-border-bottom">{{#link-to 'help.other' (query-params help="why-tag") class="u-tc-teal"}}Why should I tag a dataset?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.other' (query-params help="incorrect-tag") class="u-tc-teal"}}What should I do if a previous tag is incorrect?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.other' (query-params help="contribute-discussion") class="u-tc-teal"}}How to contribute to discussion?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.other' (query-params help="good-tag") class="u-tc-teal"}}What makes a good tag?{{/link-to}}</li>
            <li class="u-p1">{{#link-to 'help.other' (query-params help="format") class="u-tc-teal"}}How can I format my descriptions and discussions?{{/link-to}}</li>
          </ul>
        </div>
        <div class="grid__col grid__col--2-of-3 u-py1 u-px3 u-fs2 u-border-left">
          <div class="markdown-text u-mb4">
            {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/why-tag')}}
            {{else if (eq help "why-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/why-tag')}}
            {{else if (eq help "incorrect-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/incorrect-tag')}}
            {{else if (eq help "contribute-discussion")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/contribute-discussion')}}
            {{else if (eq help "good-tag")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/good-tag')}}
            {{else if (eq help "format")}}{{markdown-to-html markdown=(fr-markdown-file 'help/other/format')}}
            {{/if}}
          </div>
          <div class="c-divider u-bc-grey"></div>
          {{more-help-btn}}
        </div>
      </div>
    </div>
  </div>
</div>
