<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--1-of-1">
      {{help-tabs tab="registering"}}
      <div class="c-card u-rounded-bottom u-py3">
        <div class="grid__col grid__col--1-of-3 u-py3 u-px2 u-fs2 u-fw-med u-tc-teal">
          <ul class="o-list-flush-left u-px2">
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="data-reg") class="u-tc-teal"}}What data can I register?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="see-reg") class="u-tc-teal"}}Who can see my registration?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="include-reg") class="u-tc-teal"}}What information should I include in my registration?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="store-raw") class="u-tc-teal"}}Do you store the raw data alongside the metadata I register?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="view-reg") class="u-tc-teal"}}How do I know who has viewed my data registration?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.registering-new-data' (query-params help="add-meta") class="u-tc-teal"}}Can I add more metadata and description later?{{/link-to}}</li>
            <li class="u-p1">{{#link-to 'help.registering-new-data' (query-params help="access-reg") class="u-tc-teal"}}Can I choose who has access to my data?{{/link-to}}</li>
          </ul>
        </div>
        <div class="grid__col grid__col--2-of-3 u-py1 u-px3 u-fs2 u-border-left">
          <div class="c-help-text u-mb4">
            {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
            {{else if (eq help "data-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
            {{else if (eq help "see-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/see-reg')}}
            {{else if (eq help "include-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/include-reg')}}
            {{else if (eq help "store-raw")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/store-raw')}}
            {{else if (eq help "view-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/view-reg')}}
            {{else if (eq help "add-meta")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/add-meta')}}
            {{else if (eq help "access-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/access-reg')}}
            {{/if}}
          </div>
          <div class="c-divider u-bc-grey"></div>
          {{more-help-btn}}
        </div>
      </div>
    </div>
  </div>
</div>
