<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--3-of-3">
      {{help-tabs tab="requesting"}}
      <div class="c-card c-card-detail-overflow u-rounded-bottom u-py3">
        <div class="grid grid--no-gutter u-full-height">
          <div class="grid__col grid__col--1-of-3 u-fs2 u-fw-med">
            <ul class="o-list-flush-left u-px3">
              {{help-docs-link link="help.registering-new-data" query="data-reg" text="What data can I register?"}}
              {{help-docs-link link="help.registering-new-data" query="see-reg" text="Who can see my registration?"}}
              {{help-docs-link link="help.registering-new-data" query="include-reg" text="What information should I include in my registration?"}}
              {{help-docs-link link="help.registering-new-data" query="store-raw" text="Do you store the raw data alongside the metadata I register?"}}
              {{help-docs-link link="help.registering-new-data" query="view-reg" text="How do I know who has viewed my data registration?"}}
              {{help-docs-link link="help.registering-new-data" query="add-meta" text="Can I add more metadata and description later?"}}
              {{help-docs-link link="help.registering-new-data" query="access-reg" text="Can I choose who has access to my data?"}}
            </ul>
          </div>
          <div class="grid__col grid__col--2-of-3 u-full-min-height u-mb3 u-fs2 u-border-left">
            <div class="u-markdown-formatting u-mb3 u-px3">
              {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
              {{else if (eq help "data-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
              {{else if (eq help "see-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/see-reg')}}
              {{else if (eq help "include-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/include-reg')}}
              {{else if (eq help "store-raw")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/store-raw')}}
              {{else if (eq help "view-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/view-reg')}}
              {{else if (eq help "add-meta")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/add-meta')}}
              {{else if (eq help "access-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/access-reg')}}
              {{/if}}
              <div class="c-divider c-divider-light-bg"></div>
            </div>
            {{more-help-btn}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
