<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid grid--no-gutter">
    <div class="grid__col grid__col--3-of-3">
      {{help-tabs tab="requesting"}}
      <div class="c-card c-card-detail-overflow u-rounded-bottom u-py3">
        <div class="grid grid--no-gutter u-full-height">
          <div class="grid__col grid__col--1-of-3 u-fs2 u-fw-med">
            <ul class="o-list-flush-left u-px3">
              {{#each helpLinkData as |data|}}
                {{help-docs-link link=helpLink query=data.query text=data.text}}
              {{/each}}
            </ul>
          </div>
          <div class="grid__col grid__col--2-of-3 u-full-min-height u-mb3 u-fs2 u-border-left">
            <div class="u-markdown-formatting u-mb3 u-px3">
              {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
              {{else if (eq help "data-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/data-reg')}}
              {{else if (eq help "see-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/see-reg')}}
              {{else if (eq help "include-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/include-reg')}}
              {{else if (eq help "store-raw")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/store-raw')}}
              {{else if (eq help "view-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/view-reg')}}
              {{else if (eq help "add-meta")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/add-meta')}}
              {{else if (eq help "access-reg")}}{{markdown-to-html markdown=(fr-markdown-file 'help/registering/access-reg')}}
              {{/if}}
              <div class="c-divider c-divider-light-bg"></div>
            </div>
            {{more-help-btn}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
