<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--1-of-1">
      {{help-tabs tab="requesting"}}
      <div class="c-card u-rounded-bottom u-py3">
        <div class="grid__col grid__col--1-of-3 u-py3 u-px2 u-fs2 u-fw-med u-tc-teal">
          <ul class="o-list-flush-left u-px2">
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="what-is") class="u-tc-teal"}}What is a data request?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="what-can") class="u-tc-teal"}}What data can I request?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="who-can-see") class="u-tc-teal"}}Who can see my request?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="information-include") class="u-tc-teal"}}What information should I include in my request?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="add-meta-later") class="u-tc-teal"}}Can I add more metadata and description later?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="no-response") class="u-tc-teal"}}I don't have any responses to my request.{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="incorrect-response") class="u-tc-teal"}}The response to my request is not what I am looking for.{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.requesting-data' (query-params help="how-long") class="u-tc-teal"}}How long will my request be live for?{{/link-to}}</li>
            <li class="u-p1">{{#link-to 'help.requesting-data' (query-params help="fulfil-request") class="u-tc-teal"}}I know where the requested data are. How can I respond to the request?{{/link-to}}</li>
          </ul>
        </div>
        <div class="grid__col grid__col--2-of-3 u-py1 u-px3 u-fs2 u-border-left">
          <div class="markdown-text u-mb4">
            {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/what-is-request')}}
            {{else if (eq help "what-is")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/what-is-request')}}
            {{else if (eq help "what-can")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/what-can-request')}}
            {{else if (eq help "who-can-see")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/who-can-see')}}
            {{else if (eq help "information-include")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/information-include')}}
            {{else if (eq help "add-meta-later")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/add-meta-later')}}
            {{else if (eq help "no-response")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/no-response')}}
            {{else if (eq help "incorrect-response")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/incorrect-response')}}
            {{else if (eq help "how-long")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/how-long')}}
            {{else if (eq help "fulfil-request")}}{{markdown-to-html markdown=(fr-markdown-file 'help/requesting/fulfil-request')}}
            {{/if}}
          </div>
          <div class="c-divider u-bc-grey"></div>
          {{more-help-btn}}
        </div>
      </div>
    </div>
  </div>
</div>
