<div class="content">
  <div class="row">
    {{help-tabs tab="searching"}}
    <div class="col m12">
      <div class="card white no-margin darken-1">
        <div class="card-content">
          <div class="row margin-top">
            <div class="col m4 help-menu">
              <ol>
                <li>{{#link-to 'help.searching-for-data' (query-params help="search-query")}}How do I search on Repositive?{{/link-to}}</li>
                <li>{{#link-to 'help.searching-for-data' (query-params help="algorithm")}}How does the search alogorithm work?{{/link-to}}</li>
                <li>{{#link-to 'help.searching-for-data' (query-params help="effective")}}How can I build my search query to make it more effective?{{/link-to}}</li>
                <li>{{#link-to 'help.searching-for-data' (query-params help="boolean")}}What boolean operators can I use?{{/link-to}}</li>
                <li>{{#link-to 'help.searching-for-data' (query-params help="predicated")}}What predicated search terms can I use?{{/link-to}}</li>
                <li>{{#link-to 'help.searching-for-data' (query-params help="filters")}}What do all those filters mean?{{/link-to}}</li>
              </ol>
            </div>
            <div class="col m8 help-content">
              <div class="markdown-text">
                {{#if (not help)}}
                  <h1>Please select a question.</h1>
                {{else if (eq help "search-query")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/how-to-search')}}
                {{else if (eq help "algorithm")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/search-algorithm')}}
                {{else if (eq help "effective")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/effective-search')}}
                {{else if (eq help "boolean")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/boolean')}}
                {{else if (eq help "predicated")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/predicated')}}
                {{else if (eq help "filters")}}{{markdown-to-html markdown=(fr-markdown-file 'help/search/filters')}}
                {{/if}}
              </div>
              <div class="divider"></div>
              {{more-help-btn}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
