<div class="grid-wrapper grid-wrapper-stepped">
  <div class="grid">
    <div class="grid__col grid__col--3-of-3">
      {{help-tabs tab="requesting"}}
      <div class="c-card c-card-detail-overflow u-rounded-bottom u-py3">
        <div class="grid u-full-height">
          <div class="grid__col grid__col--1-of-3 u-fs2 u-fw-med">
            <ul class="o-list-flush-left u-px3">
              {{help-docs-link link="help.your-account" query="access" text="How can I access my account?"}}
              {{help-docs-link link="help.your-account" query="personalise" text="Can I personalise my notifications?"}}
              {{help-docs-link link="help.your-account" query="change-cred" text="How can I change my credentials?"}}
              {{help-docs-link link="help.your-account" query="change-pw" text="How can I change my password?"}}
              {{help-docs-link link="help.your-account" query="profile" text="Can I control who can see my profile?"}}
            </ul>
          </div>
          <div class="grid__col grid__col--2-of-3 u-full-min-height u-mb3 u-fs2 u-border-left">
            <div class="u-markdown-formatting u-mb3 u-px3">
              {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/access')}}
              {{else if (eq help "access")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/access')}}
              {{else if (eq help "personalise")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/personalise')}}
              {{else if (eq help "change-cred")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/change-cred')}}
              {{else if (eq help "change-pw")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/change-pw')}}
              {{else if (eq help "profile")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/profile')}}
              {{/if}}
              <div class="c-divider c-divider-light-bg"></div>
            </div>
            {{more-help-btn}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
