<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--1-of-1">
      {{help-tabs tab="account"}}
      <div class="c-card u-rounded-bottom u-py3">
        <div class="grid__col grid__col--1-of-3 u-py3 u-px2 u-fs2 u-fw-med u-tc-teal">
          <ul class="o-list-flush-left u-px2">
            <li class="u-p1 u-border-bottom">{{#link-to 'help.your-account' (query-params help="access") class="u-tc-teal"}}How can I access my account?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.your-account' (query-params help="personalise") class="u-tc-teal"}}Can I personalise my notifications?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.your-account' (query-params help="change-cred") class="u-tc-teal"}}How can I change my credentials?{{/link-to}}</li>
            <li class="u-p1 u-border-bottom">{{#link-to 'help.your-account' (query-params help="change-pw") class="u-tc-teal"}}How can I change my password?{{/link-to}}</li>
            <li class="u-p1">{{#link-to 'help.your-account' (query-params help="profile") class="u-tc-teal"}}Can I control who can see my profile?{{/link-to}}</li>
          </ul>
        </div>
        <div class="grid__col grid__col--2-of-3 u-py1 u-px3 u-fs2 u-border-left">
          <div class="c-help-text u-mb4">
            {{#if (not help)}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/access')}}
            {{else if (eq help "access")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/access')}}
            {{else if (eq help "personalise")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/personalise')}}
            {{else if (eq help "change-cred")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/change-cred')}}
            {{else if (eq help "change-pw")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/change-pw')}}
            {{else if (eq help "profile")}}{{markdown-to-html markdown=(fr-markdown-file 'help/account/profile')}}
            {{/if}}
          </div>
          <div class="c-divider u-bc-grey"></div>
          {{more-help-btn}}
        </div>
      </div>
    </div>
  </div>
</div>
