<h4 class="pt2 mb0 fs2 fw-med fc-tertiary">Contributors</h4>

{{#if contributors}}

  {{#each contributors as |contributor|}}
    {{user-preview user=contributor}}
  {{/each}}

{{/if}}

{{#if canBeAContributor}}
  <div class="py3 pl2 flex items-start">
    <div class="mr2">
      {{!-- TODO: Remove custom class from component --}}
      {{r-avatar src=session.authenticatedUser.profile.avatar size="large" class="filter-fade-grey"}}
    </div>

    <p class="fs2 fc-tertiary">Become a contributor by adding metadata to help categorise this {{modelName}}.</p>
  </div>
{{else if (not session.isAuthenticated)}}
  <p class="fs2 fc-tertiary">Please login or create an account to contribute to this {{modelName}}.</p>
{{/if}}
