<!-- {{platform-navbar
  avatar=session.authenticatedUser.profile.avatar
  firstname=session.authenticatedUser.firstname
  username=session.authenticatedUser.username
  userId=session.authenticatedUser.id
  isRootRoute=isRootRoute
}} -->
<main class="u-bc-light-bluegrey u-pos-relative">
  {{#each flashMessages.queue as |flash|}}
    {{ui-message flash=flash}}
  {{/each}}
  {{md-modal-container}}
  {{outlet}}
</main>

{{#if isShowingModal}}
  {{unfinished-modal toggleModal=(route-action 'toggleModal')}}
{{/if}}

<!-- Footer removed as part of CSS refactor  -->
<!-- {{platform-footer}} -->
