{{#unless isLandingPage}}{{platform-navbar action="search" initAvatar="initAvatar" avatar=avatar}}{{/unless}}
<div class="container">
  {{#each flashMessages.queue as |flash|}}
    {{ui-message flash=flash}}
  {{/each}}
  {{md-modal-container}}
  {{outlet}}
</div>

{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
    <div class="modal-content center-align">
      <img src="/assets/images/icons/work-in-progress.png" alt="Logo" class="social-media-icon"/>
      <h2>We are still working hard.</h2>
      <h5>This feature will be available very soon. Please don't leave us.</h5>
    </div>
    <div class="modal-footer center-align">
      <a {{action "toggleModal"}} class="modal-action modal-close waves-effect">OK</a>
    </div>
  {{/modal-dialog}}
{{/if}}

{{!-- ember-cli-materialize modal container --}}
{{!-- md-modal-container --}}
