<div {{bind-attr class=":outer-wrap bgColour"}}>
  {{platform-navbar action="search"}}
  <div class="container">
    {{message-queue}}
    {{md-modal-container}}
    {{outlet}}
  </div>
  {{> platform-footer}}
</div>