<div class="outer-wrap">  
  {{#if session.isAuthenticated}}
    {{platform-navbar-logged-in action="search"}}
  {{else}}
    {{platform-navbar-logged-out action="search"}}
  {{/if}}
  <div>
    {{message-queue}}
    {{!outlet 'modal'}}
    {{outlet}}
  </div>
  {{> platform-footer}}
</div>
