<div class="outer-wrap {{bgColour}}">
  {{#unless isLandingPage}}{{platform-navbar action="search"}}{{/unless}}
  <div class="container">
    {{#each flashMessages.queue as |flash|}}
      {{ui-message flash=flash}}
    {{/each}}
    {{md-modal-container}}
    {{outlet}}
  </div>
  {{#unless isLandingPage}}{{platform-footer}}{{/unless}}
</div>
