<div class="container">{{outlet}}</div>
<div  id="results-wrap">

{{#each}}
  <div class="result-container">
    <div class="result-head">
    {{#link-to 'dataset' this}}
      <h3>{{showdown-addon title}}</h3>
    {{/link-to}}
    </div>
    <div class="result-body">
      <p>{{showdown-addon description}}</p>
    </div>
    <div class="result-footer">
      <ul class="list-inline">
        <li>Rating: {{rating}}</li>
        <li>Comments: {{comments}}</li>
        <li>Downloads: {{downloads}}</li>
        <li>Access Type: {{accessType}}</li>
      </ul>
    </div>
  </div>
{{/each}}
</div>
