<div  id="results-wrap">
{{#each}}
  <p>hello</p>
  <div class="result-container">
    <div class="result-head">
      <h3>{{title}}</h3>
    </div>
    <div class="result-body">
      <p>{{description}}</p>
    </div>
    <div class="result-footer">
      <ul class="list-inline">
        <li>Rating: {{rating}}</li>
        <li>Comments: {{comments}}</li>
        <li>Downloads: {{downloads}}</li>
        <li>Access Type: {{accessType}}</li>
      </ul>
    </div>
  </div>
{{/each}}
</div>
