<div  id="results-wrap">
{{model}}
{{#each dataset in model}}
  <p>hello</p>
  <div class="result-container">
    <div class="result-head">
      <h3>{{dataset.title}}</h3>
    </div>
    <div class="result-body">
      <p>{{dataset.description}}</p>
    </div>
    <div class="result-footer">
      <ul class="list-inline">
        <li>Rating: {{dataset.rating}}</li>
        <li>Comments: {{dataset.comments}}</li>
        <li>Downloads: {{dataset.downloads}}</li>
        <li>Access Type: {{dataset.accessType}}</li>
      </ul>
    </div>
  </div>
{{/each}}
</div>