<div class="row">
  <div class="content">
    <h5 class="subtitles-left unfocus-grey-text">Help Documentation</h5>
    <div class="col m12">
      <div class="card">
        <ul class="tabs">
          <li class="tab">
            {{#if (eq tab "searching")}}
            {{#link-to 'help' (query-params tab="searching") class="active"}}Searching for Data{{/link-to}}
            {{else}}
            {{#link-to 'help' (query-params tab="searching")}}Searching for Data{{/link-to}}
            {{/if}}
          </li>
          <li class="tab">
            {{#if (eq tab "requesting")}}
            {{#link-to 'help' (query-params tab="requesting") class="active"}}Requesting Data{{/link-to}}
            {{else}}
            {{#link-to 'help' (query-params tab="requesting")}}Requesting Data{{/link-to}}
            {{/if}}
          </li>
          <li class="tab">
            {{#if (eq tab "registering")}}
            {{#link-to 'help' (query-params tab="registering") class="active"}}Registering New Data{{/link-to}}
            {{else}}
            {{#link-to 'help' (query-params tab="registering")}}Registering New Data{{/link-to}}
            {{/if}}
          </li>
          <li class="tab">
            {{#if (eq tab "account")}}
            {{#link-to 'help' (query-params tab="account") class="active"}}Your Account{{/link-to}}
            {{else}}
            {{#link-to 'help' (query-params tab="account")}}Your Account{{/link-to}}
            {{/if}}
          </li>
          <li class="tab">
            {{#if (eq tab "other")}}
            {{#link-to 'help' (query-params tab="other") class="active"}}Other Commom Issues{{/link-to}}
            {{else}}
            {{#link-to 'help' (query-params tab="other")}}Other Common Issues{{/link-to}}
            {{/if}}
          </li>
        </ul>
        <div class="card-body row">
          {{#if (eq tab "searching")}}
            {{partial "help/searching-for-data"}}
          {{else if (eq tab "requesting")}}
            {{partial "help/requesting-data"}}
          {{else if (eq tab "registering")}}
            {{partial "help/registering-new-data"}}
          {{else if (eq tab "account")}}
            {{partial "help/your-account"}}
          {{else}}
            {{partial "help/other"}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
