<main id="homepage" class="homepage content">

  <section class="map-search">
    <header class="stats center-align">
      <h2 class="numb red-text">
        {{model.stats.datasets}}<span class="stats-text light"> Human Genomic Datasets from </span>{{model.stats.repos}}<span class="stats-text light"> Repositories</span>
      </h2>
    </header>

    {{search-box action="search"}}
  </section>

  <section class="selection-tabs">
    {{home-tabs}}
  </section>

  <section class="row">
    <div class="contain">
      {{#if (or (eq tab "all") (eq tab "default"))}}
        {{#each requestsSorted as |dataset|}}
          {{feed-item dataset=dataset toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "sources")}}
        {{#each model.datasources as |source|}}
          {{feed-item dataset=source toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "collections")}}
        {{#each requestsSorted as |collection|}}
          {{feed-item dataset=collection toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "requests")}}
        {{#each requestsSorted as |dataset|}}
          {{feed-item dataset=dataset toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "discussions")}}
      {{#each registrationsSorted as |discussion|}}
        {{discussion-feed-item discussion=discussion toggleModal="toggleModal"}}
      {{/each}}
      {{/if}}
    </div>
  </section>

</main>
