<div id="homepage">
  <div class="row">
    <h5 class="subtitles unfocus-grey-text">Search Through</h5>
    <div class="col m12 center-align">
      <div class="card">
        <div class="stats"><h2 class="numb">{{ model.stats.datasets }}<span class="stats-text"> Human Genomic Datasets</span></h2>
        <span> from </span>
        <h2 class="numb">{{ model.stats.repos }}<span class="stats-text"> Repositories</span></h2></div>

      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="subtitles unfocus-grey-text">Start Exploring</h5>
    {{#each model.datasets as |dataset|}}
      {{render 'datasets.card' dataset dataset=dataset}}
    {{/each}}
  </div>
  <div class="row">
    <h5 class="subtitles unfocus-grey-text">User Activity</h5>
    <!-- data registrations -->
    <div class="col s12 m6 ">
      <div class="card  activity-card registered-data">
        <div class="card-header card-title center">
          <i class="mdi-action-note-add"></i><h4 class="uppercase">Register Data</h4>
        </div>
        <p class="info-text">
          These are datasets contributed by our community. You can easily register your dataset and make it visible for others.
        </p>
        <div class="card-body">
            {{#each model.registered as |registration|}}
              {{mini-dataset dataset=registration action="toggleModal"}}
            {{/each}}
        </div>
      </div>
    </div>
    <!--data requests-->
    <div class="col s12 m6">
      <div class="card activity-card requested-data">
        <div class="card-header center card-title">
            <i class="mdi-content-content-paste"></i><h4 class="uppercase">Request Data</h4>
        </div>
        <p class="info-text">
          Help our community by connecting them to datasets they are looking for.
If you’re seeking datasets for your research you can make a request too.
        </p>
        <div class="card-body">
          {{#each model.requests as |request|}}
            {{mini-dataset dataset=request}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
