<main id="homepage" class="homepage content">

  <section class="map-search">
    <header class="stats center-align">
      <h2 class="numb red-text">
        {{model.stats.datasets}}<span class="stats-text light"> Human Genomic Datasets from </span>{{model.stats.repos}}<span class="stats-text light"> Repositories</span>
      </h2>
    </header>

    {{search-box action="search"}}
  </section>

  <section class="selection-tabs">
    {{home-tabs}}
  </section>

  <section class="row">
    <div class="contain">
      {{#if (eq tab "sources")}}
        <h1>Data Sources</h1>
        {{#each model.datasets as |dataset|}}
          {{sources-card dataset=dataset toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "collections")}}
        <h1>Collections</h1>
        {{#each model.datasets as |dataset|}}
          {{dataset-card dataset=dataset toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "requests")}}
        {{#each model.requests as |dataset|}}
          {{requests-card dataset=dataset user=user toggleModal="toggleModal"}}
        {{/each}}
      {{else if (eq tab "discussions")}}
        <h1>Discussions</h1>
      {{/if}}
    </div>
  </section>

</main>
