{{outlet}}
<div class="content">
  <div class="row">
    <div class="col m12">

      <div class="row no-margin">
        <section class="map-search">
          {{home-page-map}}
          <div class="landing-title center-align">
            <h1>Discover, share and collaborate on human genomic data</h1>
          </div>
          {{search-box search=(action 'search')}}
        </section>
      </div>

      <div class="row no-margin">
        <div class="col m4 center">
          <h3><strong>{{datasetsNumber}}</strong></h3>
          <span>human genomic datasets</span>
        </div>
        <div class="col m4 center">
          <h3><strong>100+</strong></h3>
          <span>researchers & bioinformaticians</span>
        </div>
        <div class="col m4 center">
          <h3><strong>{{model.stats.datasources}}</strong></h3>
          <span>different data sources</span>
        </div>
      </div>

    </div>
  </div>
</div>
