<div class="panel panel-default" id="forms" {{action authenticate on='submit'}}>
  <div class="panel-heading">Login</div>
    <div class="panel-body">
	  <div class="alert alert-info">
		Login with 
          <a {{ action 'authenticateWithLinkedIn' }} class="alert-link" style="cursor: pointer;">
            <i class="fa fa-linkedin"></i> Linkedin
          </a> or 
          <a {{ action 'authenticateWithGooglePlus' }} class="alert-link" style="cursor: pointer;">
            <i class="fa fa-google-plus-square"></i> Google+
          </a>.
	  </div>
      <form>
        <fieldset>
          <div class="form-group">
            <label for="identification">Login</label>
            {{input id='identification' placeholder='Enter Login' type='text' class='form-control' value=identification}}
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' type='password' class='form-control' value=password}}
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
