<nav class="teal" role="navigation">
  <div class="nav-wrapper container">
    {{link-to 'Repositive.io' 'home' class="navbar-brand"}}
    <ul class="right">
      {{#if session.isAuthenticated}}
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
        <li>{{#link-to 'users.profile'}}profile{{/link-to}}</li>
        <li>{{#link-to 'users.settings'}}settings{{/link-to}}</li>
      {{else}}
        <li><a {{ action 'authenticateSession' }}>Login</a></li>
        <li>{{#link-to 'users.signup'}}Sign Up{{/link-to}}</li>
      {{/if}}
    </ul>

    <ul id="nav-mobile" class="side-nav">
      {{#if session.isAuthenticated}}
        <li>{{#link-to 'users.profile'}}profile{{/link-to}}</li>
        <li>{{#link-to 'users.settings'}}settings{{/link-to}}</li>
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
      {{else}}
        <li><a {{ action 'authenticateSession' }}>Login</a></li>
        <li>{{#link-to 'users.signup'}}Sign Up{{/link-to}}</li>
      {{/if}}
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
