<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 grid__col--centered">

      {{#tab-list}}

        {{tab-item
          title="Website Acceptable Use"
          target="policies.web"
        }}

        {{tab-item
          title="Privacy Policy"
          target="policies.privacy"
          class="u-border-left"
        }}

        {{tab-item
          title="Terms of Website Use"
          target="policies.terms"
          class="u-border-left"
        }}

        {{tab-item
          title="Cookie Policy"
          target="policies.cookie"
          class="u-border-left"
        }}

        {{tab-item
          title="Disclaimer"
          target="policies.disclaimer"
          class="u-border-left"
        }}

      {{/tab-list}}

      {{outlet}}

    </div>
  </div>
</div>
