<div class="grid-wrapper">
  <div class="grid">
    <div class="grid__col grid__col--12-of-12 grid__col--centered">

      {{#tab-list}}

        {{tab-item
          title="Website Acceptable Use"
          target="policies"
        }}

        {{tab-item
          title="Privacy Policy"
          target="policies"
          class="u-border-left"
        }}

        {{tab-item
          title="Terms of Website Use"
          target="policies"
          class="u-border-left"
        }}

        {{tab-item
          title="Cookie Policy"
          target="policies"
          class="u-border-left"
        }}

        {{tab-item
          title="Disclaimer"
          target="policies"
          class="u-border-left"
        }}

      {{/tab-list}}

      <div class="c-card u-border-square u-p4">
        {{#if (eq tab "web")}}
          {{partial "policies/tab-web"}}
        {{else if (eq tab "privacy")}}
          {{partial "policies/tab-privacy"}}
        {{else if (eq tab "terms")}}
          {{partial "policies/tab-terms"}}
        {{else if (eq tab "cookie")}}
          {{partial "policies/tab-cookie"}}
        {{else}}
          {{partial "policies/tab-disclaimer"}}
        {{/if}}
      </div>

    </div>
  </div>
</div>
